<div class="row">
  <div class="col-md-12">
    <div class="well">
      <center>
        <p>Activated</p>
        <p><%= f.check_box :activated %></p>
      </center>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6>User</h6>
    <%= f.select :user_id, User.pluck(:username, :id), {prompt: 'Select User'}, {class: 'form-control select2', required: true} %>
     <div class="break"></div>
  </div>
  <div class="col-md-8">
    <h6>name</h6>
    <%= f.text_field :name, class: 'form-control', required: true  %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6>Name Company</h6>
    <%= f.text_field :name_company, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-4">
    <h6>Email</h6>
    <%= f.text_field :email, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-4">
    <h6>Position</h6>
    <%= f.text_field :position, class: 'form-control' %>
  </div>
  <div class="col-md-12">
    <h6>Message</h6>
    <%= f.text_area :message, class: 'form-control', required: true  %>
  </div>
</div>
