<div class="footer-rumahdaku">
  <div class="container">
    <div class="col-md-12">
      <div class="copyright">
        <span>
          <%= @setting.footer_tags %>
        </span>
      </div>
    </div>
  </div>
</div>
