<header>
  <div class="header-rumahdaku-top">
    <div class="container">
      <div class="col-md-12">
        <div class="header-top-social">
          <a href="http://facebook.com/rumahdaku" class="btn btn-primary">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="http://twitter.com/rumahdaku" class="btn btn-info">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://plus.google.com/110848949886549743727" class="btn btn-danger">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
        <div class="header-search">
          <%= form_for :search, url: results_blog_infos_path(params), method: 'get' do %>
            <div class="input-group">
              <%= text_field_tag :key, nil, class: 'form-control input-search-blog', placeholder: 'Masukan Kata Pencarian...' %>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<header>
  <div class="header-rumahdaku-cover">
    <div class="container">
      <div class="col-md-12">
        <div class="header-cover-logo">
          <%= link_to root_path do %>
            <div class="images-cover-logo">
              <%= image_tag 'logo-blog-2.png' %>
            </div>
          <% end %>
        </div>
        <div class="header-cover-ads-horizontal">
          <div class="images-cover-ads">
            <a href="http://www.symantechstudio.com/">
              <%= image_tag 'symantech.png' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
