<% if params[:action] == 'index' %>
  <div class="ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog-sidebar-home-rumahdaku -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8140461930329474"
         data-ad-slot="2178235740"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br>
  </div>
<% else %>
  <div class="ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog-sidebar-detail-rumahdaku -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8140461930329474"
         data-ad-slot="3654968942"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br>
  </div>
<% end %>

<div class="blog-rumahdaku-sidebar">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#featured-post" aria-controls="featured-post" role="tab" data-toggle="tab">Featured Post</a>
    </li>
    <li role="presentation">
      <a href="#popular-post" aria-controls="popular-post" role="tab" data-toggle="tab">Popular Post</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="featured-post">
      <div class="listing-info-sidebar-wrapper">
        <% @featureds.each do |blog| %>
          <% cache ["featureds_sidebar_blogs_#{blog.id}_#{blog.updated_at.to_time.to_i}"] do %>
            <div class="list-info-blog">
              <div class="images-blog-wrapper">
                <div class="images-blog">
                  <%= image_tag blog.cover.url(:thumb), alt: 'Berita property terbaru', title: "#{blog.try(:category_blog_info).try(:name)}" %>
                </div>
              </div>
              <div class="info-blog-wrapper">
                <div class="category">
                  <%= blog.try(:category_blog_info).try(:name) %>
                </div>
                <%= link_to blog.title, blog_info_path(blog), class: 'title' %>
                <div class="comments">
                  <i class="fa fa-calendar"></i> <%= blog.created_at.strftime("%I:%M %B, %d, %Y") %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="popular-post">
      <div class="listing-info-sidebar-wrapper">
        <% @headlines.each do |popular| %>
          <% cache ["popular_sidebar_blogs_#{popular.id}_#{popular.updated_at.to_time.to_i}"] do %>
            <div class="list-info-blog">
              <div class="images-blog-wrapper">
                <div class="images-blog">
                  <%= image_tag popular.cover.url(:thumb), alt: 'Berita property terbaru', title: "#{popular.try(:category_blog_info).try(:name)}" %>
                </div>
              </div>
              <div class="info-blog-wrapper">
                <div class="category">
                  <%= popular.try(:category_blog_info).try(:name) %>
                </div>
                <%= link_to popular.title, blog_info_path(popular), class: 'title' %>
                <div class="comments">
                  <i class="fa fa-calendar"></i> <%= popular.created_at.strftime("%I:%M %B, %d, %Y") %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" data-href="https://web.facebook.com/rumahdaku" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://web.facebook.com/rumahdaku"><a href="https://web.facebook.com/rumahdaku">Rumah Daku</a></blockquote></div></div>
