<div class="col-md-12 nested-fields">
  <div class="section-pic">
    <div class="row">
      <div class="col-md-5">
        <div class="customize-img-web-setting-2">
          <%= image_tag f.object.file.url, id: 'view_img' %>
        </div>
        <%= f.file_field :file, class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <h6>Title</h6>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
        </div>
        <div class="col-md-6">
          <h6>Position</h6>
          <%= f.number_field :position, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-1">
        <%= link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'float-right btn btn-danger btn-sm pull-right' %>
      </div>
    </div>
  </div>
</div>

