<div class="col-md-12">
  <div class="widget">
    <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Regions', button_name: 'Regions', add_method: true} %>
    <div class="widget-content">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th width="20%">Provinces</th>
              <th>Cities</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @collection.each_with_index do |resource, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td class="uppercase"><%= link_to "#{resource.name}", resource_path(resource) %></td>
                <td>
                  <% resource.children.each_with_index do |r, index| %>
                    <%= link_to "#{r.name}", resource_path(r) %>,
                  <% end %>
                </td>
                <td>
                  <%= render partial: 'backend/shareds/prepare_action',
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.name}", no_show: false } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="widget-foot">
        <div class="pull-right">
          <%= paginate @collection %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
