<div class="col-md-12">
  <div class="widget">
    <div class="widget-content">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <td colspan="3">
                  <h2><%= resource.name %></h2>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="2%">
                  <strong>No</strong>
                </td>
                <td>
                  <strong>Name</strong>
                </td>
                <td>
                  <strong>Action<strong>
                </td>
              </tr>
              <% resource.children.each_with_index do |child, i| %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= child.name %></td>
                  <td>
                    <%= link_to resource_path(child) do %>
                      <div class="btn btn-xs btn-info"><i class="fa fa-eye"></i> </div>
                    <% end %>

                    <%= link_to edit_resource_path(child) do %>
                      <div class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </div>
                    <% end %>

                    <%= link_to resource_path(child), method: 'delete', data: {confirm: "Are you sure delete this #{resource.name}"} do %>
                      <div class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="buttons">
          <%= link_to edit_resource_path(resource), class: "btn btn-sm btn-warning" do %>
            <i class="fa fa-pencil"></i> Edit
          <% end %>
          <%= link_to '<< Back', :back, class: "btn btn-sm btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
