<div class="row">
  <div class="col-md-12">
    <div class="well">
      <center>
        <p>Status</p>
        <p><%= f.check_box :status %></p>
      </center>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h6>Name</h6>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <h6>Email</h6>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <h6>Category</h6>
    <%= f.select :category, FeedbackCategory.to_a, {prompt: 'Select Category'}, {class: 'form-control'} %>
  </div>
  <div class="col-md-6">
    <h6>Phone</h6>
    <%= f.text_field :phone, class: 'form-control', required: true %>
  </div>
  <div class="col-md-12">
    <h6>Message</h6>
    <%= f.text_area :message, class: 'form-control', required: true  %>
  </div>
</div>
