<div class="row">
  <div class="col-xs-12">
    <div class="area">
      <strong class="uppercase">Invoice [ <%= link_to params[:id], invoice_userpage_package_path(params[:id]) %> ]</strong>
      <span class="pull-right"><%= link_to 'Your Package Orders', invoices_userpage_packages_path %></span>
    </div>
    <hr>
    <div>
      <div class="row">
        <div class="col-xs-6">
          <%= @user_package.payed? %>
        </div>
        <div class="col-xs-6">
          <span class="pull-right">Order At: <%= @user_package.created_at.strftime("%B, %d, %Y") %></span>
        </div>
      </div>
      <div class="break"></div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><b>Invoice Order</b></td>
          <td class="uppercase"><%= @user_package.try(:code) %></td>
        </tr>
        <tr>
          <td><b>Price</b></td>
          <td><b><%= number_to_currency_br(@user_package.price) %></b></td>
        </tr>
        <tr>
          <td><b>Package Name</b></td>
          <td><%= @user_package.package_name %></td>
        </tr>
        <tr>
          <td><b>Top Listing</b></td>
          <td><%= @user_package.top_listing? %></td>
        </tr>
        <tr>
          <td><b>Max Listing</b></td>
          <td><%= @user_package.try(:max_listing) %></td>
        </tr>
        <tr>
          <td><b>Featured Listing</b></td>
          <td><%= @user_package.try(:featured_listing) %></td>
        </tr>
        <tr>
          <td><b>Label Tags</b></td>
          <td><%= @user_package.try(:label_tags) %></td>
        </tr>
        <tr>
          <td><b>Profil Agen di website</b></td>
          <td>Yes</td>
        </tr>
        <tr>
          <td><b>Email Alert</b></td>
          <td>Yes</td>
        </tr>
      </table>
    </div>
  </div>
</div>