<div class="row">
  <div class="col-xs-12">
    <div class="area">
      <strong>Your Packages</strong>
      <span class="pull-right"><%= link_to 'Your Packages', userpage_packages_path %></span>
    </div>
    <hr>
    <div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Invoice</th>
            <th>Package</th>
            <th>Status</th>
            <th>Buy At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @user_packages.each_with_index do |resource, index| %>
            <tr>
              <td><%= link_to resource.code, invoice_userpage_package_path(resource.code) %></td>
              <td><%= resource.package_name %></td>
              <td><%= resource.payed? %></td>
              <td><%= resource.created_at.strftime("%d-%M-%Y") %></td>
              <td>
                <% if resource.payed %>
                  <div class="btn btn-info btn-xs">Already Confirmated</div>
                <% else %>
                  <div class="btn btn-warning btn-xs">Not Yet Confirmated</div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @user_packages %>
  </div>
</div>