<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.fields_for(:profile_attributes) do |profile| %>
    <div class="modal-box-auth-wrapper">
      <div class="box-auth-header">
        <div class="title-left">
          Halaman Daftar Member
        </div>
        <div class="icon-close-right">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="box-auth-body">
        <div class="button-box">
          <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-block btn-lg no-border' do %>
            <i class="fa fa-facebook pull-left"></i>
            Daftar dengan Facebook
          <% end %>
        </div>
        <div class="description-body">
          Silahkan Isi Form dibawah ini, dengan lengkap!
        </div>

        <div class="col-md-12">
          <div class="row">
            <span class="h6"></span>
            <%= profile.text_field :full_name, class: "form-control input-lg-auth no-border", required: true, placeholder: 'Nama Lengkap' %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <span class="h6"></span>
            <%= f.text_field :username, class: "form-control input-lg-auth no-border", required: true, placeholder: 'Username' %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <span class="h6"></span>
            <%= f.email_field :email, class: "form-control input-lg-auth no-border", required: true, placeholder: 'Email' %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <span class="h6"></span>
            <%= f.password_field :password, class: "form-control input-lg-auth no-border", required: true, placeholder: 'Kata Sandi' %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <span class="h6"></span>
            <div class="input-group">
              <%= f.password_field :password_confirmation, class: "form-control input-lg-auth no-border", required: true, placeholder: 'Konfirmasi Kata Sandi' %>
              <span class="input-group-btn">
                <button class="btn btn-default btn-auth-user no-border" type="submit">Daftar</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-auth-footer">
        <div class="text-footer">
          Sudah punya akun?
          <%= link_to 'Masuk', new_user_session_path %> Sekarang
        </div>
      </div>
    </div>
  <% end %>
<% end %>

