<div class="page-head">
  <h2 class="pull-left"><i class="fa fa-home"></i> <%= render_breadcrumbs :separator => ' / ' %></h2>
  <div class="bread-crumb pull-right">
  </div>
  <div class="clearfix"></div>
</div>
