<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copy">Copyright &copy; 2016 | <a href="#">RumahDaku.com</a> </p>
      </div>
    </div>
  </div>
</footer>
