<script type="text/javascript">
	$(function(){
	  var map;
	  var marker;
	  var locationStart;
    var markers = [];
	  var has_center = false;
	  var BrusselsHightlight;

	  function initialize(resource, place, region, assets, default_region) {
			geocoder = new google.maps.Geocoder();
	  	if(region != null){
	  		if(region.name != ""){
		   		set_center_latlng_from_address(region.name, default_region);
		  		map_exist = false;
		  		has_center = true;
		  	}
	   	}else if (place != null && (place.longitude != null || place.latitude != null)){
	  		map_exist = (place.longitude != null || place.latitude != null)
	   	}else if(resource != null){
	  		map_exist = (resource.longitude != null || resource.latitude != null)
	   	}else{
	  		map_exist = false;
	  	}

	    iconBase = "<%= root_url %>assets/marker/";
	    // icons = {
	    //   'Apartment': {
	    //     icon: iconBase + 'Apartment.png'
	    //   },
	    //   'Commercial Business': {
	    //     icon: iconBase + 'Commercial Business.png'
	    //   },
	    //   'Condotel': {
	    //     icon: iconBase + 'Condotel.png'
	    //   },
	    //   'Factory': {
	    //     icon: iconBase + 'Factory.png'
	    //   },
	    //   'House': {
	    //     icon: iconBase + 'House.png'
	    //   },
	    //   'Land': {
	    //     icon: iconBase + 'Land.png'
	    //   },
	    //   'Office Tower': {
	    //     icon: iconBase + 'Office Tower.png'
	    //   },
	    //   'Office': {
	    //     icon: iconBase + 'Office.png'
	    //   },
	    //   'Ruko': {
	    //     icon: iconBase + 'Ruko.png'
	    //   },
	    //   'Warehouse': {
	    //     icon: iconBase + 'Warehouse.png'
	    //   }
	    // };

			var locations = assets;
			var destinations = [];
	  	if(has_center == false){
		  	if(map_exist){
		  		if(place.latitude != null && place.longitude != null){
			    	locationStart = {lat: Number(place.latitude), lng: Number(place.longitude)}
			    }else{
			    	locationStart = {lat: Number(resource.latitude), lng: Number(resource.longitude)}
			    }
		   	}else if(region == null && map_exist == false){
		   		locationStart = {lat: 4.704700078153486, lng: 96.75718261568335}
		   	}

				infowindow = new google.maps.InfoWindow();
		    map = new google.maps.Map(document.getElementById('manage_map_property'), {
		      zoom: 14,
		      center: locationStart
		    });

		    marker = new google.maps.Marker({
		      map: map
		    });

		  	if(map_exist){
		      var icon_type = "http://maps.google.com/mapfiles/marker_green.png"

			    markerMyPosition = new google.maps.Marker({
				  	position: locationStart,
				    map: map,
				    icon: icon_type
				  });
				  draw_map(map, locationStart);
			  }
		  }
      clearOverlays();
		 //  locations.forEach(function(location,i){
		 //    destinations.push([ locations[i][0], new google.maps.LatLng(locations[i][1], locations[i][2]), locations[i][3], locations[i][4], locations[i][5], locations[i][6], locations[i][7], locations[i][8] ]);
			// });

			destinations.forEach(function(dest,i){
				createMarker(map, dest);
			})

	    google.maps.event.addListener(map, 'click', function(event) {
		    marker.setPosition(event.latLng);
		    var latLong = event.latLng;
		    latitude = $('.latitude').val(latLong.lat());
		    longitude = $('.longitude').val(latLong.lng());
	    });

	  	if(map_exist){
		    google.maps.event.addListener(markerMyPosition, 'mouseover', function() {
          <% if defined? resource %>
			    	// var price = "<%= number_to_currency_br(resource.the_price?) %>"
			    	// var price_status = "<%= resource.the_price_status? %>";
			    	// var price_all = price +''+ price_status;
        //     <% if resource.category == 'Sell' && (resource.type_property == 'Apartment' || resource.type_property == 'Office') %>
        //       var price_for_meter = '<span class="line-price">|</span> <span class="price-sq"> <%= number_to_currency_br(resource.price_per_meter) %></span> <small class="color-grey">per sq m</small>';
        //     <% else %>
        //       var price_for_meter = ""
        //     <% end %>
	          var content = "<h4><%= resource.title %></h4>";;
		        infowindow.setContent(content);
				    infowindow.open(map, this);
          <% end %>
			  });
        // assuming you also want to hide the infowindow when user mouses-out
	      google.maps.event.addListener(marker, 'mouseout', function() {
	        infowindow.close();
	      });
			}

      // var mcOptions = {gridSize: 50, maxZoom: 15};
      // var mc = new MarkerClusterer(map, markers, mcOptions);
	  }

	  google.maps.event.addDomListener(window, 'load', initialize(<%= raw resource.to_json %>, <%= raw resource.address.to_json %>, null, <%= raw @others.to_json %>));

	  $('#form-address').on('change', '.village_select', function(){
	    if($(this).val() != '' && $(this).val() != 'undefined'){
	    	var city_id = $("#form-address .cities_select").val();
	      show_map($(this).val(), city_id)
	    }
	  });

    function draw_map(map, place){
      if(BrusselsHightlight != undefined){
        BrusselsHightlight.setMap(null);
      }
      BrusselsHightlight = new google.maps.Circle({
          center: place,
          radius: 200,
          strokeColor: "#FFF",
          strokeOpacity: 0.8,
          strokeWeight: 1,
          fillColor: "#000",
          fillOpacity: 0.09
      });
      BrusselsHightlight.setMap(map);
    }

		function createMarker(map, place) {
			var placeName = place[0];
		  var placeLoc = place[1];
		  if(place[2] != undefined){
			  var placePrice = place[2];
			}else{
			  var placePrice = "";
			}

      var marker_type = "http://maps.google.com/mapfiles/marker_green.png"
      if(marker_type != undefined){
        var icon_type = marker_type
      }else{
        var icon_type = marker_type
      }

		  var marker = new google.maps.Marker({
		    map: map,
		    position: placeLoc,
		    icon: icon_type
		  });

		  google.maps.event.addListener(marker, 'mouseover', function() {
        // if(place[7] == "Rp 0"){
        //   var price_for_meter = ""
        // }else{
        //   var price_for_meter = '<span class="line-price">|</span> <span class="price-sq">' + place[7] + '</span> <small class="color-grey">per sq m</small>';
        // }
        var content = "<h4>"+ placeName + "</h4>";
        infowindow.setContent(content);
		    infowindow.open(map, this);
		  });
      // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
        infowindow.close();
      });
      markers.push(marker);
		}

    function clearOverlays() {
      for (var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
      }
      markers.length = 0;
    }

		function ChangeToRupiah(angka){
      angka = Number(angka);
	    var rev     = parseInt(angka, 10).toString().split("").reverse().join("");
	    var rev2    = "";
	    for(var i = 0; i < rev.length; i++){
	        rev2  += rev[i];
	        if((i + 1) % 3 === 0 && i !== (rev.length - 1)){
	            rev2 += ".";
	        }
	    }
	    return "Rp. " + rev2.split("").reverse().join("") + "";
		}

		function set_center_latlng_from_address(address, default_region){
      if(default_region.name != undefined){
        parent_region = default_region.name
      }else{
        parent_region = default_region
      }
      new_address = address+ ', ' +parent_region
      geocoder.geocode( { 'address': new_address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
        } else {
          map.setCenter({lat: Number(default_region.latitude), lng: Number(default_region.longitude)});
        }
      })
		}

	  function show_map(village_id, city_id){
	    if($("#property_id").length){
	      property_id = $("#property_id").val();
	      type = $(".type_data").val();
	      location_id = 0;
	      data = {city_id: city_id, village_id: village_id,property_id: property_id, type: type}
	    }else if($("#location_id").length){
	      location_id = $("#location_id").val();
	      property_id = 0;
	      type = $(".type_data").val();
	      data = {city_id: city_id, village_id: village_id, location_id: location_id, type: type}
	    }else{
	      location_id = 0;
	      property_id = 0;
	      data = {city_id: city_id, village_id: village_id}
	    }
	    $.ajax({
	      url: "<%= get_by_city_url %>",
	      type: 'GET',
	      data: data
	    }).done(function( data ) {
			  google.maps.event.addDomListener(window, 'load', initialize(data.resource, data.address, data.region, data.assets, data.default_region));
	    });
		}


		});

	</script>
