<div class="col-md-12">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left"><%= "#{action_name} #{form_name}" %></div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <div class="padd">
        <%= form_for [:backend, resource], method: form_method, html: {class: 'form'} do |f| %>
          <%= render partial: 'form', locals: {f: f} %>
          <div class="clearfix"></div>
          <div class="buttons">
            <button class="btn btn-sm btn-info" type="submit">Save</button>
          </div>
        <% end %>
      </div>
      <div class="widget-foot">
      </div>
    </div>
  </div>
</div>
