<div class="row">
	<%= form_for :search, url: collection_path, method: 'get' do %>
		<div class="col-md-4">
			<h6>Find Results <b><%= collection.size %></b></h6>
			<%= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..' %>
		</div>
		<div class="col-md-1 padding0">
			<h6>&nbsp;</h6>
			<button class="btn btn-info" type="submit">Search</button>
		</div>
	<% end %>
</div>
