<div class='row'>
  <%= form_for :search, url: collection_path, method: 'get' do %>
    <div class='col-md-12'>
      <h6> Find Results <b> <%= collection.size %> </b></h6>
    </div>
    <div class='col-md-4'>
      <%= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..' %>
    </div>
    <div class='col-md-3'>
      <%= select_tag :category, options_for_select(@category.select{|s| s}, params[:category]), prompt: 'Choice category confirmation', class: 'select2 form-control' %>
    </div>
    <div class='col-md-1 padding0'>
      <button class="btn btn-info" type="submit"> Search </button>
    </div>
  <% end %>
</div>
