<div class='row'>
  <%= form_for :search, url: collection_path, method: 'get' do %>
    <div class='col-md-12'>
      <h6> Find Results <b> <%= collection.size %> </b></h6>
    </div>
    <div class='col-md-4'>
      <%= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..'%>
    </div>
    <div class='col-md-3'>
      <%= select_tag :status, options_for_select(@status.select{|s| s}, params[:status]), prompt: 'Choice Status Payment', class: 'select2 form-control' %>
    </div>
    <div class='col-md-2'>
      <%= text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At' %>
    </div>
    <div class='col-md-2'>
      <%= text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At' %>
    </div>
    <div class='col-md-1 padding0'>
      <button class="btn btn-info" type="submit"> Search</disv>
    </div>
  <% end %>
</div>