<div class="row">
	<%= form_for :search, url: collection_path, method: 'get' do %>
		<div class="col-md-12">
			<h6>Find Results <b><%= collection.size %></b></h6>
		</div>
		<div class="col-md-6">
			<%= text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..' %>
		</div>
		<div class="col-md-5">
			<%= select_tag :province_string, options_for_select(Region.roots.alfa.pluck('name'), params[:province_string]), prompt: 'Choice Province', class: 'select2 form-control provinces_select_tag' %>
		</div>
		<div class="col-md-1">
			<button class="btn btn-info" type="submit">Search</button>
		</div>
	<% end %>
</div>
