<div class="sidebar">
  <div class="sidebar-dropdown">
    <a href="#">Navigation</a>
  </div>

  <ul id="nav">
    <li class="<%= active_sidebar?(:home, :dashboard) %>">
      <%= link_to backend_dashboard_path do %>
        <i class="fa fa-home"></i> Dashboard
      <% end %>
    </li>
    <% if current_user.has_role?(:roles, :index) %>
      <li class="<%= active_sidebar?(:roles, :all) %>">
        <%= link_to backend_roles_path do %>
          <i class="fa fa-key"></i> Roles
        <% end %>
      </li>
    <% end %>
    <% if current_user.has_role?(:order_packages, :index) %>
      <li class="<%= active_sidebar?(:order_packages, :all) %>">
        <%= link_to backend_order_packages_path do %>
          <i class="fa fa-bookmark-o"></i> Order Packages
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.has_role?(:confirmations, :index) %>
      <li class="<%= active_sidebar?(:confirmations, :all) %>">
        <%= link_to backend_confirmations_path do %>
          <i class="fa fa-money"></i> Confirmations
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.any_role?(admins: :index, admins: :new) %>
      <li class="has_sub <%= active_sidebar?(:admins, :all) %>">
        <a href="#">
          <i class="fa fa-user"></i> Admin
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:admins, :new) %>
            <li class="<%= active_sidebar?(:admins, :new) %>">
              <%= link_to 'Create New', new_backend_admin_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:admins, :index) %>
            <li class="<%= active_sidebar?(:admins, :index) %>">
              <%= link_to 'List', backend_admins_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.any_role?(members: :index, members: :new) %>
      <li class="has_sub <%= active_sidebar?(:members, :all) %>">
        <a href="#">
          <i class="fa fa-user"></i> Members
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:members, :new) %>
            <li class="<%= active_sidebar?(:members, :new) %>">
              <%= link_to 'Create New', new_backend_member_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:members, :index) %>
            <li class="<%= active_sidebar?(:members, :index) %>">
              <%= link_to 'List', backend_members_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.any_role?(agents: :index, agents: :new) %>
      <li class="has_sub <%= active_sidebar?(:agents, :all) %>">
        <a href="#">
          <i class="fa fa-user-secret"></i> Agents
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:agents, :new) %>
            <li class="<%= active_sidebar?(:agents, :new) %>">
              <%= link_to 'Create New', new_backend_agent_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:agents, :index) %>
            <li class="<%= active_sidebar?(:agents, :index) %>">
              <%= link_to 'List', backend_agents_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.any_role?(packages: :index, packages: :new) %>
      <!-- <li class="has_sub <%= active_sidebar?(:packages, :all) %>">
        <a href="#">
          <i class="fa fa-gears"></i> Package
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:packages, :new) %>
            <li class="<%= active_sidebar?(:packages, :new) %>">
              <%= link_to 'Create New', new_backend_package_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:packages, :index) %>
            <li class="<%= active_sidebar?(:packages, :index) %>">
              <%= link_to 'List', backend_packages_path %>
            </li>
          <% end %>
        </ul>
      </li> -->
    <% end %>
    <% if current_user.has_role?(:order_user_packages, :index) %>
      <!-- <li class="<%= active_sidebar?(:order_user_packages, :all) %>">
        <%= link_to backend_order_user_packages_path do %>
          <i class="fa fa-street-view"></i> Order User Packages
        <% end %>
      </li> -->
    <% end %>
    <% if current_user.any_role?(properties: :index, property_types: :index, auction_properties: :index) %>
      <li class="has_sub <%= active_sidebar?(:properties, :all) || active_sidebar?(:property_types, :all) || active_sidebar?(:auction_properties, :all) %>">
        <a href="#">
          <i class="fa fa-home"></i> Properties
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:properties, :new) %>
            <li class="<%= active_sidebar?(:properties, :new) %>">
              <%= link_to 'Create New', new_backend_property_path %>
            </li>
          <% end %>
          <li class="<%= active_sidebar?(:properties, :index) %>">
            <%= link_to 'Verified', backend_properties_path %>
          </li>
          <li class="<%= active_sidebar?(:properties, :pending) %>">
            <%= link_to 'Pending', pending_backend_properties_path %>
          </li>
          <li class="<%= active_sidebar?(:auction_properties, :index) %>">
            <%= link_to 'Auction Properties', backend_auction_properties_path %>
          </li>
          <% if current_user.has_role?(:property_types, :index) %>
            <li class="<%= active_sidebar?(:property_types, :all) %>">
              <%= link_to 'Property Types', backend_property_types_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.any_role?(asset_facilities: :index, asset_facilities: :new) %>
      <li class="has_sub <%= active_sidebar?(:asset_facilities, :all) %>">
        <a href="#">
          <i class="fa fa-tag"></i> Asset Facilities
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:asset_facilities, :new) %>
            <li class="<%= active_sidebar?(:asset_facilities, :new) %>">
              <%= link_to 'Create New', new_backend_asset_facility_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:asset_facilities, :index) %>
            <li class="<%= active_sidebar?(:asset_facilities, :index) %>">
              <%= link_to 'List', backend_asset_facilities_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.any_role?(regions: :index, regions: :new) %>
      <li class="has_sub <%= active_sidebar?(:regions, :all) %>">
        <a href="#">
          <i class="fa fa-dot-circle-o"></i> Regions
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:regions, :new) %>
            <li class="<%= active_sidebar?(:regions, :new) %>">
              <%= link_to 'Create New', new_backend_region_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:regions, :index) %>
            <li class="<%= active_sidebar?(:regions, :index) %>">
              <%= link_to 'List', backend_regions_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.has_role?(:sold_reports, :index) %>
      <li class="<%= active_sidebar?(:sold_reports, :all) %>">
        <%= link_to backend_sold_reports_path do %>
          <i class="fa fa-file-text"></i> Sales Reports
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.any_role?(landing_pages: :index, landing_pages: :new) %>
      <li class="has_sub <%= active_sidebar?(:landing_pages, :all) %>">
        <a href="#">
          <i class="fa fa-newspaper-o"></i> Landing Pages
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:landing_pages, :new) %>
            <li class="<%= active_sidebar?(:landing_pages, :new) %>">
              <%= link_to 'Create New', new_backend_landing_page_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:landing_pages, :index) %>
            <li class="<%= active_sidebar?(:landing_pages, :index) %>">
              <%= link_to 'List', backend_landing_pages_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.any_role?(blog_infos: :all, category_blog_infos: :all) %>
      <li class="has_sub <%= active_sidebar?(:blog_infos, :all) %> <%= active_sidebar?(:category_blog_infos, :all) %>">
        <a href="#">
          <i class="fa fa-newspaper-o"></i> Blog Infos
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        </a>
         <ul>
          <% if current_user.has_role?(:blog_infos, :new) %>
            <li class="<%= active_sidebar?(:blog_infos, :new) %>">
              <%= link_to 'Create New', new_backend_blog_info_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:blog_infos, :index) %>
            <li class="<%= active_sidebar?(:blog_infos, :index) %>">
              <%= link_to 'List', backend_blog_infos_path %>
            </li>
          <% end %>
          <% if current_user.has_role?(:category_blog_infos, :all) %>
            <li class="<%= active_sidebar?(:category_blog_infos, :all) %>">
              <%= link_to 'Category Blog Info', backend_category_blog_infos_path %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if current_user.has_role?(:feedbacks, :index) %>
      <li class="<%= active_sidebar?(:feedbacks, :all) %>">
        <%= link_to backend_feedbacks_path do %>
          <i class="fa fa-paper-plane"></i> Feedbacks
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.has_role?(:reports, :index) %>
      <li class="<%= active_sidebar?(:reports, :all) %>">
        <%= link_to backend_reports_path do %>
          <i class="fa fa-warning"></i> Reports
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.has_role?(:supporteds, :index) %>
      <li class="<%= active_sidebar?(:supporteds, :all) %>">
        <%= link_to backend_supporteds_path do %>
          <i class="fa fa-shield"></i> Supporteds
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.has_role?(:testimonials, :index) %>
      <li class="<%= active_sidebar?(:testimonials, :all) %>">
        <%= link_to backend_testimonials_path do %>
          <i class="fa fa-users"></i> Testimonials
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.has_role?(:web_settings, :index) %>
      <li class="<%= active_sidebar?(:web_settings, :all) %>">
        <%= link_to backend_web_settings_path do %>
          <i class="fa fa-wrench"></i> Web Settings
          <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
