<div role="tabpanel" class="tab-pane" id="agent_info">
  <div class="box-setting-user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Agen Info</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          <span class="h6">Spesialis Properti</span>
          <%= agent_info.text_field :specialist_property, class: 'form-control', placeholder: 'ex. Apartment, Houser ...' %>
          <span class="h6">Spesialis Area</span>
          <%= agent_info.text_field :specialist_area, class: 'form-control', placeholder: 'ex. Jakarta, Bali ...' %>
          <span class="h6">Keahlian Bahasa</span>
          <%= agent_info.text_field :language, class: 'form-control', placeholder: 'ex. English, Mandarin ...' %>
          <span class="h6">Deskripsi</span>
          <%= agent_info.text_area :description, class: 'form-control', placeholder: 'ex: Describe about your ...', style: 'height: 200px;' %>
        </div>
        <div class="col-md-12">
          <span class="h6">Logo Perusahaan</span>
          <div class="user">
            <%= image_tag agent_info.object.company_logo.url(:medium), style: 'width: 200px' %>
          </div>
          <%= agent_info.file_field :company_logo %>
          <span class="h6">Nama Perusahaan</span>
          <%= agent_info.text_field :name_company, class: 'form-control', placeholder: 'ex. Name Company' %>
          <span class="h6">Website Perusahaan</span>
          <%= agent_info.text_field :company_web, class: 'form-control', placeholder: 'ex. http://company ...' %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
