<div role="tabpanel" class="tab-pane" id="contact">
  <div class="box-setting-user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Kontak</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <span class="h6">Telepon</span>
            <%= contact.text_field :phone, class: 'form-control' %>
            <span class="h6">Handphone</span>
            <%= contact.text_field :handphone, class: 'form-control' %>
            <span class="h6">Pin</span>
            <%= contact.text_field :pin, class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <span class="h6">Website</span>
            <%= contact.text_field :website, class: 'form-control' %>
            <span class="h6">Facebook</span>
            <%= contact.text_field :facebook, class: 'form-control' %>
            <span class="h6">Twitter</span>
            <%= contact.text_field :twitter, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
