<div role="tabpanel" class="tab-pane active" id="personal">
  <div class="box-setting-user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Akun User</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <center>
              <span class="h6">Avatar</span>
              <div class="user-image-cycle float-none margin-none">
                <%= image_tag profile.object.avatar.url(:medium), class: 'host-profile-image image-change' %>
                <%= profile.file_field :avatar, class: 'change-ava' %>
              </div>
            </center>
            <hr>
            <div class="cover-img">
              <%= image_tag profile.object.cover.url(:medium), class: '' %>
            </div>
            <%= profile.file_field :cover %>
          </div>
          <div class="break"></div>
          <div class="col-md-6">
            <span class="h6">Email</span>
            <%= f.email_field :email, class: 'form-control', required: true %>
            <span class="h6">Username</span>
            <%= f.text_field :username, class: 'form-control', required: true %>
          </div>
          <div class="col-md-6">
            <span class="h6">Password</span>
            <%= f.password_field :password, class: 'form-control' %>
            <span class="h6">Password Confirmation</span>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Profil</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <span class="h6">Nama Lengkap</span>
            <%= profile.text_field :full_name, class: 'form-control' %>
          </div>
          <div class="col-md-12">
            <span class="h6">Tanggal Lahir</span>
            <div class="row">
              <div class="col-md-12">
                <%= profile.date_select :birthday, {
                start_year: (Date.today.year-100),
                end_year:   (Date.today.year-17),
                order: [:day, :month, :year],
                prompt: {
                  day:   'Tanggal',
                  month: 'Bulan',
                  year:  'Tahun'
                }},
                {required: true, class: 'form-control select-birthday'} %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <span class="h6">Jenis Kelamin</span>
            <%= profile.select :gender, Gender.to_a, {prompt: 'Select Gender'}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
