<div role="tabpanel" class="tab-pane" id="address">
  <div class="box-setting-user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Alamat</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <span class="h6">Provinsi</span>
            <%= address.select :province_id, options_for_select(Region.roots.alfa.pluck(:name, :id), resource.address.province_id), {prompt: 'Choice Province'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
            <span class="h6">Kota</span>
            <% cities = address.object.city_id ? Region.find_by(id: address.object.province_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
            <div class="city-container">
              <%= address.select :city_id, options_for_select(cities, resource.address.city_id), {prompt: 'Choice City'}, class: 'select2 form-control cities_select' %>
            </div>
            <span class="h6">Alamat</span>
            <%= address.text_field :address, class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <span class="h6">Kode Pos</span>
            <%= address.text_field :postcode, class: 'form-control' %>
            <span class="h6">Latitude</span>
            <%= address.text_field :latitude, class: 'form-control' %>
            <span class="h6">Longitude</span>
            <%= address.text_field :longitude, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
