<div role="tabpanel" class="tab-pane" id="meta">
  <div class="box-setting-user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Meta SEO</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <span class="h6">Meta Title</span>
            <%= profile.text_field :meta_title, class: 'form-control' %>
            <span class="h6">Meta Keyword</span>
            <%= profile.text_field :meta_keyword, class: 'form-control' %>
            <span class="h6">Meta Description</span>
            <%= profile.text_area :meta_description, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
