<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>RumahDaku</title>
    <style type="text/css">
      a:hover { text-decoration: underline !important; }
    </style>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#382c7e">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td style="width:100%">
                            <h2 align="center" style="color:white; font-family: Arial;">RumahDaku.com</h2>
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684" style="padding: 40px 0; font-family: arial; font-size:12px;">
            <tr>
              <td>
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                  <tr>
                    <td valign="top" align="left">
                      <h3 style="font-size: 25px; font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;" align='center'>
                        Invoice Order <%= @order.code %>
                      </h3>
                      <p style="font-size: 14px; line-height: 22px; color: #333; margin: 0px;">
                        Nama: 
                        <b>
                          <%= link_to @order.try(:user).try(:username) || @order.try(:user).try(:profile).try(:full_name), user_path(@order.try(:user)) %> (<%= @order.try(:user).try(:email) %>)</b>
                        <br>
                        Telepon :
                        <b><%= @order.try(:user).try(:contact).try(:handphone) %></b>
                        <br>
                        Status Payment :
                        <br>
                        <b><%= @order.status? %></b>
                      </p>
                      <table style="width: 100%;margin-top: 20px;font-size: 14px;">
                        <thead>
                          <tr>
                            <td style="border: solid 1px #ccc;">
                              <strong>Nama Paket</strong>
                            </td>
                            <td style="border: solid 1px #ccc;">
                              <strong>Durasi</strong>
                            </td>
                            <td style="border: solid 1px #ccc;">
                              <strong>Dibuat</strong>
                            </td>
                            <td style="border: solid 1px #ccc;">
                              <strong>Kadaluarsa</strong>
                            </td>
                            <td style="border: solid 1px #ccc;">
                              <strong>Harga</strong>
                            </td>
                          </tr>
                        <tbody>
                          <tr>
                            <td style="border: solid 1px #ccc;">
                              <span>
                                <%= @order.package_name.titleize %>
                              </span>
                            </td>
                            <td style="border: solid 1px #ccc;">
                              1 Tahun
                            </td>
                            <td style="border: solid 1px #ccc;">
                              <span>
                                <%= @order.updated_at.strftime("%H:%M %B, %d, %Y") %>
                              </span>
                            <td style="border: solid 1px #ccc;">
                              <span>
                                <%= (@order.updated_at + 1.year).strftime("%B, %d, %Y") %>
                              </span>
                            </td>
                            <td style="border: solid 1px #ccc;">
                              <span>
                                <%= number_to_currency_br(@order.price) %>
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td class="highrow"></td>
                            <td class="highrow"></td>
                            <td class="highrow"></td>
                            <td class="highrow text-center"><h4>Total Dibayar</h4></td>
                            <td class="highrow text-right">
                              <h4><%= number_to_currency_br(@order.price) %></h4>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#382c7e">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    <b>RumahDaku Team</b>
                  </unsubscribe><br>
                  RumahDaku.com merupakan situs layanan pencarian informasi property seluruh indonesia
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  Sukabumi, Jawa Barat, Indonesia<br>

                  Email.
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    rumahdaku@gmail.com
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
