<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>RumahDaku</title>
    <style type="text/css">
      a:hover { text-decoration: underline !important; }
      small.color-grey{
        color: #000;
        font-size: 14px;
      }
      ul{
        list-style-type: none;
      }
    </style>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#382c7e">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td style="width:100%">
                            <h2 align="center" style="color:white; font-family: Arial;">RumahDaku.com</h2>
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684" style="padding: 40px 0; font-family: arial; font-size:12px;">
            <tr>
              <td>
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                  <tr>
                    <td>
                      <table cellspacing="0" border="0" cellpadding="0" width="100%">
                        <tr>
                          <td valign="top" align="center">
                            <h1 style="font-size: 25px; font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                              Hey, <%= @user.fullname %> There Are New Property in Village <%= @village_name %>
                            </h1>
                            <table>
                              <% @catalogs.take(10).each do |catalog| %>
                                <tr>
                                  <td width="5%">
                                    <%= image_tag "#{catalog.first_image(:thumb)}", style: 'height: 120px; min-height: 120px; max-height: 120px; width: 150px; border: solid 1px #ccc' %>
                                  </td>
                                  <td>
                                    <ul style="list-style-type: none">
                                      <li>
                                        <h3>
                                          <%= link_to property_url(catalog.try(:slug)) do %>
                                            <%= catalog.try(:title) %>
                                          <% end %>
                                        </h3>
                                      </li>
                                      <li>
                                        <%= raw number_to_currency_br(catalog.the_price?) + catalog.the_price_status? %>
                                      </li>
                                      <li>
                                        <%= "#{catalog.category} : #{catalog.type_property}" %>
                                      </li>
                                    </ul>
                                  </td>
                                </tr>
                              <% end %>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            More <%= @catalogs.count - 10 %> Property
                            <%#= link_to property_url(@catalog.try(:slug)), style:"background-color: #2CC92C; color: #ffffff; border-bottom: 2px solid #2F9600; display: table; margin-top: 25px; border-radius: 4px; text-decoration: none; padding: 7px 16px;"  do %>
                              <!-- See All -->
                            <% #end %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#382c7e">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    <b>RumahDaku Team</b>
                  </unsubscribe><br>
                  RumahDaku.com merupakan situs layanan pencarian informasi property seluruh indonesia
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  Sukabumi, Jawa Barat, Indonesia<br>

                  Email.
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    rumahdaku@gmail.com
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
