<%= form_for :search, url: properties_path, html:{class: 'search-region', name: 'search'}, method: 'get' do %>
  <div class="container">
    <div class="col-md-12">
      <div class="box-landing-page">
        <div class="title">
          <%= link_to '<< Kembali', landing_page_path("sitemap"), class: 'btn btn-default' %>
          <center>
            <%= @region.name %> 
          </center>
        </div>
        <div class="box-description">
          <ul class="region-site-map">
            <% @region.children.alfa.each do |reg| %>
              <li>
                <a href="#">
                  <%= radio_button_tag 'region_display_name', reg.name, params[:region_display_name] == reg.name %>
                  <%= "<span class='fa fa-map-marker'></span> #{reg.name}".html_safe %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
