<div class="container">
  <div class="col-md-12">
    <div class="box-landing-page">
      <div class="title">
        <center>
          <%= @page.title %>
        </center>
      </div>
      <div class="box-description">
        <%= @page.description.html_safe unless @page.title == 'Sitemap' %>
        <% if @page.title == 'Sitemap' %>
          <ul class="region-site-map">
            <% @regions.each do |reg| %>
              <li>
                <%= link_to "<span class='fa fa-map-marker'></span> #{reg.name}".html_safe, region_path(reg.name) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
