<div class="container">
  <div class="col-md-8">
    <div class="col-md-12">
      <div class="row">
        <div class="blog-rumahdaku-listing-header">
          <div class="title">Berita Seputar <%= @category_blog_info.name %></div>
        </div>
      </div>
      <div class="row">
        <div class="blog-rumahdaku-listing-body">
          <% @results.each_with_index do |blog, index| %>
            <div class="box-listing-blog">
              <div class="box-images-list-blog">
                <div class="images-list-blog">
                  <%= image_tag blog.cover.url(:medium), alt: 'Situs jual sewa gadai rumah di Indonesia', title: "#{ blog.try(:category_blog_info).try(:name) }" %>
                  <div class="overlay-category">
                    <span class="fa fa-tags"></span>
                    <span><%= blog.try(:category_blog_info).try(:name) %></span>
                  </div>
                </div>
              </div>
              <div class="description-list-blog">
                <div class="box-desc-list-blog">
                  <%= link_to blog.title, blog_info_path(blog), class: 'title' %>
                  <div class="info-desc">
                    <%= blog.created_at.strftime("%I:%M %B, %d, %Y") %> /  by Rumah Daku /  Dilihat <%= blog.view_count.to_i %> orang
                  </div>
                  <div class="description">
                    <%= truncate(strip_tags(blog.description), length: 100, omission: '...') %>
                    <%= link_to 'More', blog_info_path(blog) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <nav>
              <%= paginate @results %>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'shareds/blog_info/sidebar_right' %>
  </div>
</div>
