<div class="container">
  <div class="col-md-8">
    <% @blog_infos.each do |blog_info| %>
      <%# cache ["one_cover_home_blogs_#{blog_info.id}_#{blog_info.updated_at.to_time.to_i}"] do %>
      <div class="blog-info-one">
        <div class="image-big">
          <%= image_tag blog_info.cover.url(:medium), alt: 'Situs jual sewa gadai rumah di Indonesia' %>
        </div>
        <div class="box-info-one-btm">
          <div class="info-desc-left">
            <%= link_to blog_info.title, blog_info_path(blog_info), class: 'info-title' %>
            <div class="info-desc-short">
              <%= truncate(strip_tags(blog_info.description), length: 100, omission: '...') %>
            </div>
          </div>
          <div class="info-desc-right">
            <div class="info-date">
              <i class="fa fa-calendar"></i> <%= blog_info.created_at.strftime("%B, %d, %Y") %>
            </div>
            <div class="info-comment">
              <%= blog_info.try(:category_blog_info).try(:name) %>
            </div>
          </div>
        </div>
      </div>
      <%# end %>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <% @info.each do |info| %>
            <% cache ["info_home_blogs_#{info.id}_#{info.updated_at.to_time.to_i}"] do %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="blog-info-two">
                  <div class="header-info-two">
                    <i class="fa fa-tags"></i>
                    <div class="title-top">
                      Info Terbaru
                    </div>
                  </div>
                  <div class="body-info-two">
                    <div class="image-info-two">
                      <%= image_tag info.cover.url(:medium), alt: 'Situs jual rumah di Indonesia' %>
                    </div>
                    <div class="desc-info-two">
                      <%= link_to info.title, blog_info_path(info), class: 'title' %>
                      <div class="date">
                        <i class="fa fa-calendar"></i> Diterbitkan <%= info.created_at.strftime("%I:%M %B, %d, %Y") %>
                      </div>
                      <div class="description">
                        <%= truncate(strip_tags(info.description), length: 100, omission: '...') %>
                        <%= link_to 'more', blog_info_path(info) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="ads">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- blog-home-bottom-rumahdaku -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8140461930329474"
               data-ad-slot="7805966945"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="title-top-section-home">
              <span>KATEGORI EVENT</span>
            </div>
          </div>
        </div>
        <div class="row">
          <% @event.each_with_index do |event, index| %>
            <% cache ["event_home_blogs_#{event.id}_#{event.updated_at.to_time.to_i}"] do %>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="blog-info-three">
                  <div class="body-info-three">
                    <div class="image-info-three">
                      <%= image_tag event.cover.url(:medium), alt: 'Situs jual rumah di Indonesia' %>
                      <div class="date">
                        <span>
                          <i class="fa fa-calendar"></i> <%= event.created_at.strftime("%B, %d, %Y") %>
                        </span>
                      </div>
                    </div>
                    <div class="desc-info-three">
                      <%= link_to event.title, blog_info_path(event), class: 'title' %>
                      <div class="description">
                        <%= truncate(strip_tags(event.description), length: 100, omission: '...') %>
                        <%= link_to 'more', blog_info_path(event) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="title-top-section-home">
              <span>KATEGORI TIPS DAN TRIK</span>
            </div>
          </div>
        </div>
        <div class="row">
          <% @tips.each_with_index do |tips, index| %>
            <% cache ["tips_home_blogs_#{tips.id}_#{tips.updated_at.to_time.to_i}"] do %>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="blog-info-three">
                  <div class="body-info-three">
                    <div class="image-info-three">
                      <%= image_tag tips.cover.url(:medium), alt: 'Situs jual rumah di Indonesia' %>
                      <div class="date">
                        <span>
                          <i class="fa fa-calendar"></i> <%= tips.created_at.strftime("%B, %d, %Y") %>
                        </span>
                      </div>
                    </div>
                    <div class="desc-info-three">
                      <%= link_to tips.title, blog_info_path(tips), class: 'title' %>
                      <div class="description">
                        <%= truncate(strip_tags(tips.description), length: 100, omission: '...') %>
                        <%= link_to 'more', blog_info_path(tips) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'shareds/blog_info/sidebar_right' %>
  </div>
</div>
