<div class="container">
  <div class="col-md-8">
    <div class="blog-rumahdaku-detail">
      <div class="images-blog-top">
        <div class="images-blog">
          <%= image_tag @blog_info.cover.url(:medium), alt: 'Situs jual rumah di Indonesia' %>
          <div class="overlay-category">
            <i class="fa fa-tags"></i> Kategori :
            <%= @blog_info.try(:category_blog_info).try(:name) %>
          </div>
        </div>
      </div>
      <% cache ["showing_detail_blogs_#{@blog_info.id}_#{@blog_info.updated_at.to_time.to_i}"] do %>
        <div class="info-blog-body">
          <div class="info-title">
            <%= @blog_info.title %>
          </div>
          <div class="info-date">
            <i class="fa fa-calendar"></i> Diterbitkan : <span><%= @blog_info.created_at.strftime("%I:%M %B, %d, %Y") %></span> / By <span>Rumah Daku</span> / Sudah dilihat <span><%= @blog_info.view_count.to_i %></span> Kali
          </div>
          <div class="info-desc">
            <%= @blog_info.description.html_safe if @blog_info.description.present? %>
          </div>
          <div class="list-recent-article">
            <div class="title-list">
              <span>
                <i class="fa fa-tags"></i>
                &nbsp;Artikel Terkait Lainnya
              </span>
            </div>
            <div class="row">
              <div class="body-list">
                <% @latest_articles.each do |blog| %>
                  <div class="col-md-3">
                    <div class="listing-article">
                      <div class="images-article">
                        <%= image_tag blog.cover.url(:medium), alt: 'Berita property terbaru' %>
                        <div class="date">
                          <span>
                            <i class="fa fa-calendar"></i><%= blog.created_at.strftime("%B, %d, %Y") %>
                          </span>
                        </div>
                      </div>
                      <div class="desc-article">
                        <%= link_to blog.title, blog_info_path(blog), class: 'title' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="disquss-comment">
        <div id="disqus_thread"></div>
        <script>
          (function() {
            var d = document, s = d.createElement('script');
            s.src = '//rumahdaku.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>
          Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'shareds/blog_info/sidebar_right' %>
  </div>
</div>
