/*
  Author      : Fathan Rohman, S.T
  Theme       : Blog Rumah Daku
  Company     : Symantech Studio.com
  Name        : PopertyHouse StartUp SYmantech Studio
*/

@import "theme-rumahdaku-base";

/*======= OVERIDE BOOTSTRAP ======*/
.pagination > li > a, .pagination > li > span {
  padding: 8px 12px;
  margin-left: 5px;
  background-color: $bg-white;
  border: 1px solid $border-greey;
  border-radius: 50%;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-radius: 50%;
  padding: 8px 12px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-radius: 50%;
  padding: 8px 12px;
  margin-left: 5px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: $color-rumahdaku-one;
  border-color: $color-rumahdaku-one;
}

.pagination > li > a, .pagination > li > span {
  color: $color-rumahdaku-one;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: $bg-white;
  background-color: $color-rumahdaku-one;
  border-color: $color-rumahdaku-one;
}

/*======= GLOBAL ELEMENT =========*/
.body-blog{
  background-color: $body-blog!important;
}

.btn-all-blog {
  color: #777777;
  background-color: $bg-white;
  border-color: $border-greey;
  border-radius: 0px;
  margin-bottom: 30px;

  &:hover{
    background-color: $color-rumahdaku-one;
    border-color: $color-rumahdaku-one;
    color: $bg-white;
  }
}

.breadcrumb {
  padding: 8px 0px;
  margin-bottom: 20px;
  list-style: none;
  background-color: $body-blog;
  border-radius: 0px;

  a{
    font-size: 14px;
  }
}

.breadcrumb > li + li:before {
  font-family: 'FontAwesome';
  padding: 0 5px;
  color: $bg-black;
  content: "\f101";
}

.ads-rumahdaku-sidebar{
  text-align: center;
  margin-bottom: 20px;
}

.disquss-comment{
  width: 100%;
  display: inline-block;
  padding: 20px;
}

/*======= HEADER =================*/
.header-rumahdaku-top{
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  background-color: #f7f7f7;
  border-bottom: 1px solid $border-greey;

  .header-top-social{
    width: 70%;
    float: left;

    a{
      border-radius: 0px;
      margin-right: 5px;
      width: 30px!important;
      height: 30px!important;

      i{
        font-size: 15px;
        margin: -5px;
      }
    }
  }

  .header-search{
    width: 30%;
    float: right;

    .form-control{
      background-color: $bg-white;
      border-right: 1px solid $color-white;

      &:focus{
        border-color: #CCCCCC;
        border-right: 0px;
      }
    }

    .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
      color: $color-black;
      background-color: $bg-white;
      border-color: #CCCCCC;
      border-left: 1px solid transparent;
    }
  }
}

.header-rumahdaku-cover{
  width: 100%;
  background-color: $bg-white;
  padding: 15px 0px;
  margin-top: -5px;
  border-bottom: 1px solid $border-greey;

  .header-cover-logo{
    /*width: 50%;*/
    float: left;

    .images-cover-logo{
      overflow: hidden;
      margin-top: 15px;

      img{
        width: 100%;
        height: auto;
      }
    }
  }

  .header-cover-ads-horizontal{
    /*width: 50%;*/
    float: right;

    .images-cover-ads{
      overflow: hidden;
      width: 728px;
      height: 90px;
      border: 1px solid #DEDEDE;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.header-rumahdaku-nav{
  .navbar {
    border-radius: 0px;
  }

  .navbar-default {
    background-color: $color-rumahdaku-one;
    border-color: $color-rumahdaku-one;
    border: 0px;
    margin-bottom: 20px;

    .navbar-nav > li > a {
      color: $bg-white;
      font-size: 14px;

      &:hover{
        background-color: $color-rumahdaku-two;
      }
    }

    .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: $bg-white;
      background-color: $color-rumahdaku-two;
    }
  }

  .dropdown-menu{
    padding: 0px 0;
  }

  .dropdown-menu > li > a {
    padding: 10px 10px;
    border-bottom: 1px solid $border-greey;
    margin-top: 0px;
  }

  .navbar-right {
    padding: 0px 0!important;
    margin-right: 0px;

    a.link-new-product{
      background-color: #382C7E;
      padding: 8px;
      margin-top: 6px;
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      color: #FFFFFF;

      &:hover{
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF!important;
        color: #382C7E;
      }
    }
  }
}

/*======= HOME ===================*/
.title-top-section-home{
  display: inline-block;
  width: 100%;
  background-color: $bg-white;
  border: 1px solid $border-greey;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;

  span{
    font-size: 14px;
    font-weight: bold;
    color: $color-black;
  }
}

.blog-info-one{
  .image-big{
    width: 100%;
    height: 360px;
    overflow: hidden;

    img{
      width: 100%;
      height: auto;
    }
  }

  .box-info-one-btm{
    width: 100%;
    display: inline-block;
    padding: 15px;
    border: 1px solid $border-greey;
    background-color: $bg-white;
    margin-bottom: 20px;
    height: 130px;

    .info-desc-left{
      float: left;
      width: 75%;
      border-right: 1px solid $border-greey;

      .info-title{
        font-weight: bold;
        font-size: 20px;
        color: $color-rumahdaku-one;
        margin-bottom: 5px;
        float: left;
        width: 100%;
      }

      .info-desc-short{
        font-size: 15px;
        color: $bg-black;
      }
    }

    .info-desc-right{
      float: right;
      width: 24%;

      .info-date{
        width: 100%;
        color: #777;
        font-size: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid $border-greey;
        padding: 0px 0px 8px 0px;
        text-align: center;
      }

      .info-comment{
        width: 100%;
        color: #43A048;
        font-size: 15px;
        text-align: center;
      }
    }
  }
}

.blog-info-two{
  display: inline-block;
  width: 100%;

  .header-info-two{
    padding: 10px;
    background-color: $bg-white;
    border: 1px solid $border-greey;
    border-bottom: 0px solid $border-greey;

    .fa{
      font-size: 18px;
      color: $color-rumahdaku-one;
      float: left;
      margin-right: 10px;
    }

    .title-top{
      font-size: 15px;
      color: #43A048;
    }
  }

  .body-info-two{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background-color: $bg-white;
    border: 1px solid $border-greey;

    .image-info-two{
      overflow: hidden;
      width: 100%;
      height: 180px;
      border-left: 1px solid $border-greey;
      border-right: 1px solid $border-greey;

      img{
        width: 100%;
        height: auto;
      }
    }

    .desc-info-two{
      padding: 10px;
      height: 170px;

      .title{
        font-size: 17px;
        font-weight: bold;
        color: $color-rumahdaku-one;
        margin-bottom: 10px;
        display: inline-block;
      }

      .date{
        width: 100%;
        display: inline-block;
        font-size: 12px;
        color: #777;
        margin-bottom: 10px;
      }

      .description{
        font-size: 15px;
        color: $bg-black;
      }
    }
  }
}

.blog-info-three{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;

  .body-info-three{
    .image-info-three{
      overflow: hidden;
      width: 100%;
      height: 170px;
      position: relative;

      .date{
        position: absolute;
        bottom: 10px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.54);
        padding: 5px;

        span{
          font-size: 10px;
          color: $color-white;
        }
      }

      img{
        width: 100%;
        height: 100%;
      }
    }

    .desc-info-three{
      padding: 10px;
      background-color: $bg-white;
      border-bottom: 1px solid $border-greey;
      border-left: 1px solid $border-greey;
      border-right: 1px solid $border-greey;
      height: 150px;

      .title{
        font-size: 15px;
        font-weight: bold;
        color: $color-rumahdaku-one;
        margin-bottom: 10px;
        display: inline-block;
      }

      .description{
        font-size: 12px;
        color: $bg-black;
        margin-bottom: 10px;
      }
    }
  }
}

/*======= BLOG LISTING ============*/
.blog-rumahdaku-listing-header{
  background-color: $bg-white;
  border-top: 1px solid $border-greey;
  border-left: 1px solid $border-greey;
  border-right: 1px solid $border-greey;
  width: 100%;
  padding: 10px 20px;

  .title{
    font-size: 20px;
    color: $bg-black;
  }
}

.blog-rumahdaku-listing-body{
  display: inline-block;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid $border-greey;
  background-color: $bg-white;
  margin-bottom: 10px;

  .box-listing-blog{
    display: inline-block;
    width: 100%;
    background-color: $bg-white;
    padding: 16px 0px 20px 0px;
    border-bottom: 1px solid $border-greey;

    &:last-child{
      border-bottom: 0px solid $border-greey;
    }

    .box-images-list-blog{
      width: 33%;
      float: left;
      margin-right: 10px;

      .images-list-blog{
        overflow: hidden;
        width: 100%;
        height: 175px;
        position: relative;

        img{
          width: 100%;
          height: 100%;
        }

        .overlay-category{
          position: absolute;
          bottom: 15px;
          left: 0;
          background-color: rgba(0, 0, 0, 0.56);
          padding: 10px;

          span{
            font-size: 12px;
            color: $bg-white;
          }
        }
      }
    }

    .description-list-blog{
      width: 65%;
      float: right;
      display: inline-block;

      .box-desc-list-blog{
        display: inline-block;
        width: 100%;

        .title{
          font-size: 18px;
          color: #382C7E;
          margin-bottom: 15px;
          display: block;
          font-weight: bold;

          &:hover{
            color: $color-rumahdaku-one;
          }
        }

        .info-desc{
          font-size: 14px;
          color: #777;
          margin-bottom: 15px;
        }

        .description{
          font-size: 14px;
          color: $bg-black;
        }
      }
    }
  }
}

/*======= SIDEBAR BLOG ===========*/
.blog-rumahdaku-sidebar{
  .nav-tabs > li > a {
    border-radius: 0px 0px 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .listing-info-sidebar-wrapper{
    width: 100%;
    background-color: $bg-white;
    padding: 0px 10px;
    display: inline-block;
    border-left: 1px solid $border-greey;
    border-bottom: 1px solid $border-greey;
    border-right: 1px solid $border-greey;
    margin-bottom: 20px;

    &.bdr-sidebar-right{
      border-top: 1px solid #DEDEDE;
    }

    .list-info-blog{
      display: inline-block;
      width: 100%;
      background-color: $bg-white;
      border-bottom: 1px dashed $border-greey;
      padding: 10px 0px 15px 0px;

      &:last-child{
        border-bottom: 0px;
      }

      .images-blog-wrapper{
        width: 20%;
        float: left;
        display: inline-block;

        .images-blog{
          overflow: hidden;
          width: 100px;
          height: 100px;

          img{
            width: auto;
            height: 100%;
          }
        }
      }

      .info-blog-wrapper{
        float: right;
        width: 65%;
        display: inline-block;

        .category{
          font-size: 12px;
          color: #43A048;
          margin-bottom: 5px;
          font-weight: bold;
        }

        .title{
          font-weight: bold;
          font-size: 14px;
          color: $color-black;
          margin-bottom: 5px;
          width: 100%;
          display: inline-block;

          &:hover{
            color: $color-rumahdaku-one;
          }
        }

        .comments{
          font-size: 12px;
          color: #777;

          a{
            color: #43A048;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/*======= BLOG DETAIL ============*/
.blog-rumahdaku-detail{
  display: inline-block;
  width: 100%;
  background-color: $bg-white;
  border: 1px solid $border-greey;
  margin-bottom: 30px;

  .images-blog-top{
    display: inline-block;
    width: 100%;

    .images-blog{
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;

      .overlay-category{
        position: absolute;
        top: 10px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.54);
        color: $color-white;
        padding: 10px;
      }

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .info-blog-body{
    display: inline-block;
    width: 100%;
    padding: 15px 15px;

    .info-title{
      width: 100%;
      font-size: 25px;
      color: $color-rumahdaku-one;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .info-date{
      font-size: 12px;
      color: #777;
      width: 100%;
      margin-bottom: 20px;

      span{
        font-weight: bold;
      }
    }

    .info-desc{
      font-size: 14px;
      color: $color-black;
      line-height: 30px;
      margin-bottom: 30px;

      blockquote{
        font-size: 14px;
        font-style: italic;
      }
    }

    .list-recent-article{
      display: inline-block;
      border-top: 1px solid $border-greey;
      padding: 20px 0px;

      .title-list{
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;

        span{
          font-size: 20px;
          color: $color-black;
        }
      }

      .body-list{
        display: inline-block;
        width: 100%;

        .listing-article{
          display: inline-block;
          width: 100%;

          .images-article{
            overflow: hidden;
            width: 100%;
            height: 130px;
            margin-bottom: 15px;
            position: relative;

            .date{
              position: absolute;
              top: 15px;
              right: 0px;
              background-color: rgba(0, 0, 0, 0.54);
              padding: 5px;

              span{
                font-size: 10px;
                color: $color-white;
              }
            }

            img{
              width: 100%;
              height: 100%;
            }
          }

          .desc-article{
            width: 100%;
            display: inline-block;

            a{
              color: $color-rumahdaku-one;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

/*======= FOOTER =================*/
.footer-rumahdaku{
  width: 100%;
  display: inline-block;

  .copyright{
    width: 100%;
    border-top: 1px solid $border-greey;
    padding: 20px 0px;

    span{
      font-size: 14px;
      color: $bg-black;
    }
  }
}

