/*
  Theme       : Fathan Rohman, S.T
  Company     : Symantech Studio.com
  Name        : PopertyHouse StartUp SYmantech Studio
*/

/* ============================ */
/* ==== RESOLUSI 1200 PIXEL ==== */
/* ============================ */
@media screen and (max-width:1200px){

}

/* ============================ */
/* ==== RESOLUSI 1024 PIXEL ==== */
/* ============================ */
@media screen and (max-width:1024px){
  .box-slider-logo {
    display: inherit;
  }

  .slider-property-wrapper .box-search-slider{
    bottom: 50px;
  }

  .slider-property-wrapper .box-search-slider-title{
    bottom: 140px;
    font-size: 16px;
  }

  .slider-property-wrapper{
    margin-top: -125px;
  }
}

/* ============================ */
/* ==== RESOLUSI 990 PIXEL ==== */
/* ============================ */
@media screen and (max-width:990px){
  .slider-property-wrapper .box-search-slider{
    bottom: 50px;
  }

  .slider-property-wrapper .box-search-slider-title{
    bottom: 140px;
    font-size: 16px;
  }

  .header-second-page .btn-flat-id{
    margin-top: 40%;
  }

  .header-second-page .header-top-image-city .pricing-bottom .price{
    font-size: 18px;
  }
}

/* ============================ */
/* ==== RESOLUSI 950 PIXEL ==== */
/* ============================ */
@media screen and (max-width:950px){
  .slider-property-wrapper .box-search-slider{
    bottom: 50px;
  }

  .slider-property-wrapper .box-search-slider-title{
    bottom: 140px;
    font-size: 16px;
  }
}

/* ============================ */
/* ==== RESOLUSI 850 PIXEL ==== */
/* ============================ */
@media screen and (max-width:850px){
  .box-slider-logo {
    display: inherit;
    top: 115px;
  }

  .slider-property-wrapper .box-search-slider{
    bottom: 25px;
  }

  .slider-property-wrapper .box-search-slider-title{
    bottom: 115px;
    font-size: 16px;
  }

  .navbar-menu-custom .navbar-default .navbar-nav > li > a {
    font-size: 10px!important;
  }

  .header-second-page .form-search-header{
    width: 90%;
  }

  .navbar-brand-centered {
    position: absolute;
    display: block;
    text-align: center;
    img{
      height: 50px;
      width: auto;
      margin: 5px 0;
    }
  }

  .slider-property-wrapper .box-logo-slider img {
    width: 240px;
    margin: auto;
    display: table;
  }

  .region-site-map li a{
    width: 33.3%;
  }

  .h-caption{
    margin-top: 20px!important;
    margin-bottom: 0!important;
  }

  .alert-top{
    width: 80%;
  }
}

/* ============================ */
/* ==== RESOLUSI 768 PIXEL ==== */
/* ============================ */
@media screen and (max-width:768px){
  .other-property .other-property-wrapper .body-box .box-image{
    height: 220px;
  }

  .other-property .other-property-wrapper .body-box{
    height: auto;
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }

  .other-property .other-property-wrapper .body-box .desc-other-property{
    float: left;
  }

  .cover-help-wrapper{
    height: 300px;
  }

  .cover-help-wrapper .say-hello-help{
    font-size: 16px;
    margin-top: 190px;
  }

  .setup-content .choice-gallery-form li{
    width: 33.33333%;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
  }

  .slider-property-wrapper,
  .main-slider,
  .forcefullwidth_wrapper_tp_banner,
  .tp-banner.revslider-initialised.tp-simpleresponsive,
  .slotholder div,
  .tp-bgimg.defaultimg,
  .tp-bannertimer,
  .tp-loader.spinner4
  {
    height: 500px!important;
  }

  .hamburger{
    top: 30px;
  }

  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    left: 0;
    color: #FFFFFF;
    margin-left: 0;
  }

  .navbar-nav{
    margin: 0;
  }

  .navbar-collapse.in {
    overflow-y: auto;
    margin-top: 25px;
    background-color: rgba(16, 16, 16, 0.5);
  }

  .navbar-menu-custom .navbar-default .navbar-nav > li > a {
    font-size: 10px!important;
  }

  .slider-property-wrapper .box-search-slider .input-search-lg{
    height: 40px;
  }

  .slider-property-wrapper .box-search-slider .btn-search-lg{
    height: 40px;
  }

  .slider-property-wrapper .box-search-slider{
    padding: 6px 10px;
    height: 10px;
  }

  .slider-property-wrapper .box-search-slider-title {
    bottom: 68px;
    font-size: 12px;
  }

  .box-slider-logo {
    display: inherit;
    top: 200px;
  }

  .slider-property-wrapper .box-search-slider .search-form:after{
    font-size: 25px;
  }

  .navbar-toggle{
    margin-top: 25px;
  }

  .navbar-menu-custom .navbar .nav > li > .dropdown-menu::before{
    top: 60px;
  }
  .navbar-menu-custom .navbar .nav > li > .dropdown-menu::after{
    top: 62px;
    right: 21px;
  }

  .navbar-menu-custom .navbar-nav > li > .dropdown-menu {
    background-color: #FFFFFF;
    padding: 24px 12px;
    margin-top: 45px;
    margin-right: 5px;
  }

  .min-width-400 {
    min-width: 310px !important;
    margin-top: 20px!important;
  }

  .panel-help-menu-wrapper .panel-menu-head span {
    font-size: 12px;
  }

  .panel-help-menu-wrapper .panel-menu-body{
    height: 150px;
  }

  .panel-messages-menu-wrapper .panel-menu-messages-body{
    height: 140px;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border-color: #FFFFFF;
  }

  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 10px 10px 0px;
  }

  .category-property-point{
    width: 33.33333%;
  }

  .slider #slider-product {
    margin-top: 20px;
  }

  .panel-messages-menu-wrapper .panel-menu-footer{
    font-size: 12px;
  }

  .user-pad{
    h2{
      text-align: center;
    }

    .color-grey{
      text-align: center;
    }
  }

  section.square-profile-section .btn-info-price{
    float: none!important;
    margin: auto;
    display: table;
    left: 0;
    right: 0;
  }

  .region-site-map li a{
    width: 33.3%;
  }

  .nav-sidebar-users-left{
    margin-bottom: 20px;
  }

  .nav-sidebar-users-right{
    margin-top: 20px;
  }
}

/* ============================ */
/* ==== RESOLUSI 650 PIXEL ==== */
/* ============================ */
@media screen and (max-width:650px){
  .header-second-page .btn-flat-id{
    margin-top: 50%;
  }

  .box-listing-property-member .box-image-left-wrapper{
    width: 30%;
  }

  .box-listing-property-member .box-desc-right-wrapper{
    width: 70%;
  }

  .box-listing-property-member .box-desc-right-wrapper .box-footer .count-people{
    width: 25%;
  }

  .box-listing-property-member .box-desc-right-wrapper .box-footer .action-user{
    width: 75%;
  }

  .slider-property-wrapper .box-search-slider-title{
    display: block;
  }

  .slider-property-wrapper .box-search-slider {
    bottom: 10px;
  }

  .panel-help-menu-wrapper .panel-menu-head span {
    font-size: 12px;
  }

  .panel-help-menu-wrapper .panel-menu-body{
    height: 150px;
  }

  .panel-messages-menu-wrapper .panel-menu-messages-body{
    height: 140px;
  }

  .slider #slider-product {
    margin-top: 20px;
  }

  .category-property-point {
    width: 50%;
  }

  .category-property-point:last-child{
    width: 100%;
  }

  .point-information-property-wrapper .box-point-infomation-property .category-property-point .box-point {
    float: none;
    width: 0%;
    padding: 5px 0px 5px 20px;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    transition: all 0.4s ease-in-out !important;
    cursor: pointer;
    display: table;
    margin: auto;
  }

  .box-slider-logo{
    width: 75%;
  }

  .region-site-map li a{
    width: 33.3%;
  }
}

/* ============================ */
/* ==== RESOLUSI 550 PIXEL ==== */
/* ============================ */
@media screen and (max-width:550px){
  .header-second-page .btn-flat-id{
    margin-top: 60%;
  }

  .listing-user-prop-v2 .images-prop-v2{
    width: 100%;
  }

  .listing-user-prop-v2 .images-prop-v2 .images{
    height: 200px;
  }
  
  .listing-user-prop-v2 .images-prop-v2 .images img{
    width: 100%;
    height: auto;
  }

  .listing-user-prop-v2 .desc-prop-v2{
    width: 100%;
  }

  .box-listing-property-member .box-image-left-wrapper{
    width: 100%;
  }

  .box-listing-property-member .box-image-left-wrapper .img-big{
    height: 260px;
  }

  .box-listing-property-member .box-desc-right-wrapper .box-footer .action-user{
    font-size: 10px;
  }

  .box-listing-property-member .box-desc-right-wrapper{
    width: 100%;
  }

  .slider-property-wrapper .box-logo-slider {
    display: block;
  }

  .slider-property-wrapper .box-search-slider{
    width: 80%;
  }

  .panel-help-menu-wrapper .panel-menu-head span {
    font-size: 12px;
  }

  .panel-help-menu-wrapper .panel-menu-body{
    height: 150px;
  }

  .panel-messages-menu-wrapper .panel-menu-messages-body{
    height: 140px;
  }

  .slider #slider-product {
    margin-top: 20px;
  }

  .box-slider-logo{
    width: 93%;
  }

  .text-title-top-step{
    font-size: 14px;
  }

  .listing-property .box-listing-property .box-info-property .city{
    font-size: 12px;
  }

  .region-site-map li a{
    width: 50%;
  }
}

/* ============================ */
/* ==== RESOLUSI 450 PIXEL ==== */
/* ============================ */
@media screen and (max-width:450px){
  .box-listing-property-member .box-desc-right-wrapper .box-footer .count-people{
    width: 100%;
  }

  .box-listing-property-member .box-desc-right-wrapper .box-footer .action-user {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    padding-left: 0;
  }

  .box-listing-property-member .flat-id{
    font-size: 14px;
  }

  .box-listing-property-member .box-desc-right-wrapper .box-footer{
    margin-top: 15px;
  }

  .box-listing-property-member .box-desc-right-wrapper .box-content .title{
    font-size: 12px;
  }

  .sidebar-auction-detail-wrapper .box-one-wrapper .countdown-timer ul li span.count{
    font-size: 20px;
  }

  .entity{
    width: 50%!important;
    padding: 5px 5px!important;
  }

  .entity-right .text{
    font-size: 10px!important;
  }

  .body-cont p{
    text-align: justify;
  }

  .slider #slider-product{
    margin-top: 20px;
  }

  .sidebar-auction-detail-wrapper .box-for-wrapper{
    text-align: center;
  }

  .user-pad{
    text-align: center;
  }

  section.square-profile-section .btn-info-price{
    float: none;
    display: inline-block;
    width: 100%;
  }

  .header-second-page .header-name-city{
    font-size: 20px;
    bottom: 120px;
    font-size: 16px;
  }

  .header-second-page .header-desc-city{
    font-size: 12px;
    bottom: 110px;
  }

  .point-information-property-wrapper .box-point-infomation-property .box-title .title {
    font-size: 15px;
    margin-left: 50px;
    margin-top: 15px;
  }

  .category-property-point:last-child{
    width: 100%;
    margin: auto;
    display: table;
  }

  .location-featured-wrapper .title-one-top{
    font-size: 12px;
  }

  .location-featured-wrapper .box-location-point .box-desc-location .title{
    font-size: 14px;
  }

  .location-featured-wrapper .box-location-point .box-desc-location .description{
    font-size: 10px;
  }

  .header-second-page .box-image-header-top-image img {
    width: 100%;
    height: 100%;
  }

  .header-second-page .header-name-city{
    margin-bottom: 10px;
  }

  .panel-help-menu-wrapper .panel-menu-head span {
    font-size: 12px;
  }

  .panel-help-menu-wrapper .panel-menu-body{
    height: 150px;
  }

  .panel-messages-menu-wrapper .panel-menu-messages-body{
    height: 140px;
  }

  .header-second-page .header-desc-property{
    bottom: 40px;
  }

  .header-second-page .header-desc-property h3{
    font-size: 12px;
  }

  .header-second-page .header-top-image-city {
    height: 500px;
    margin-top: -120px;
  }

  .host-profile-image {
    width: 70px;
    height: 70px;
  }

  .slider-property-wrapper .box-search-slider {
    width: 100%;
    padding: 10px 10px;
    bottom: 65px;
  }

  .slider-property-wrapper .box-search-slider .input-search-lg {
    height: 40px;
  }

  .slider-property-wrapper .box-search-slider .btn-search-lg {
    height: 40px;
  }

  .slider-property-wrapper .box-search-slider .btn-search-lg i{
    font-size: 15px;
    bottom: 12px;
    right: 7px;
  }

  .slider-property-wrapper .box-search-slider .search-form:after {
    font-size: 15px;
    margin-top: 6px;
  }

  .slider-property-wrapper .box-search-slider-title{
    bottom: 130px;
    font-size: 14px;
    width: 100%;
  }

  .point-information-property-wrapper .box-point-infomation-property .category-property-point .box-point .icon img{
    width: 130px;
  }

  .modal-box-auth-wrapper .box-auth-header .title-left{
    font-size: 12px;
  }

  .modal-box-auth-wrapper .box-auth-body .description-body{
    font-size: 12px;
  }

  .modal-box-auth-wrapper .box-auth-footer .text-footer{
    font-size: 12px;
  }

  .setup-content .choice-gallery-form li{
    height: 100px;
  }

  .text-title-top-step{
    font-size: 12px;
  }

  .box-listing-property-member .box-desc-right-wrapper{
    .box-content .price{
      font-size: 14px;
    }
    .box-footer .count-people{
      font-size: 10px;
    }
  }

}

/* ============================ */
/* ==== RESOLUSI 350 PIXEL ==== */
/* ============================ */
@media screen and (max-width:380px){
  .header-second-page .btn-flat-id {
    margin-top: 75%;
  }
}
