/*
  Author      : Fathan Rohman, S.T
  Theme       : Blog Rumah Daku
  Company     : Symantech Studio.com
  Name        : PopertyHouse StartUp SYmantech Studio
*/


/* ============================ */
/* ==== RESOLUSI 768 PIXEL ==== */
/* ============================ */
@media screen and (max-width:768px){
  .header-rumahdaku-cover {
    .header-cover-ads-horizontal {
      .images-cover-ads{
        width: 100%;
      }
    }

    .header-top-social{
      width: 40%;
    }

    .header-search{
      width: 60%;
    }
  }

  .blog-info-one{
    .image-big{
      height: 320px;
    }
  }
}

@media screen and (max-width: 450px){
  .blog-rumahdaku-sidebar{
    .listing-info-sidebar-wrapper{
      .list-info-blog{
        .info-blog-wrapper{
          width: 58%;
        }
      }
    }
  }

  .blog-info-one{
    .image-big {
      height: 147px;
    }
  }
}
