/*========== GLOBAL VARIABEL THEME BLOG ============*/
$bg-white : #FFFFFF;
$bg-black : #333333;
$bg-grey-smooth : #FBFBFB;

$color-grey-smooth : #FBFBFB;
$color-white : #FFFFFF;
$color-black : #333333;

$body-blog : #f7f7f7;
$border-greey : #DEDEDE;
$color-rumahdaku-one : #382C7E;
$color-rumahdaku-two : #E95B5B;
