/*
Theme       : Fathan Rohman, S.T
Company     : Symantech Studio.com
Name        : Rumah Daku StartUp Symantech Studio
*/

/*GLOBAL ELEMENT START*/
@import "theme-rumahdaku-base";

@font-face {
  font-family: RobotoBlack;
  src: url(/assets/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(/assets/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(/assets/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/assets/roboto/Roboto-Regular.ttf);
}

body{
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  margin: 0;
  font-family:Roboto,sans-serif;
  background-color: $bg-grey-smooth;
}

a{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
  color: #382c7e;
}

a:hover{
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  text-decoration: none;
  color: #382c7e;
}

h1,h2,h3,h4,h5,h6{
  text-decoration: none;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 15px;
}

h5{
  font-size: 12px;
}

h6{
  font-size: 12px;
}

.h6{
  font-size: 12px;
  float: left;
}

.no-border{
  border-radius: 0px!important;
}

.break{
  width: 100%;
  height: 20px;
  float: left;
}

#error_explanation{
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  color: red;
  border: solid 1px #ccc;
  h2{
    font-size: 20px;
    margin-top: 0;
    color: #777;
  }
  ul{
    padding-left: 15px;
    margin-bottom: 0;
  }
}

.alert-top{
  margin: 0!important;
  border-radius: 0!important;
  position: absolute;
  z-index: 2;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto!important;
  border-radius: 5px!important;
  top: 20%;
  .alert{
    border: solid 4px #fff;
  }
}

.alert{
  margin-bottom: 0;
}

.ads{
  float: left;
  width: 100%;
  text-align: center;
}

/* COUNTDOWN CUSTOM */
.box-three-desc-auction{
  position: absolute;
  top: 60px;
  margin: auto;
  display: table;
  width: 100%;
  text-align: center;
  color: #fff;
  ul.countdown {
    list-style: none;
    padding: 0;
    display: block;
    text-align: center;
  }
  ul.countdown li {
    display: inline-block;
    letter-spacing: 2px;
  }
  ul.countdown li span {
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    color: #fff;
    background: #000;
    padding: 2px;
  }
  ul.countdown li.seperator {
    font-size: 10px;
    line-height: 36px;
    vertical-align: top;
  }
  ul.countdown li p {
    color: #fff;
    font-size: 10px;
  }
}

/********************************/
/*         Fonts Custom         */
/********************************/
.small{
  font-size: 11px;
}
.color-white{
  color: $color-white!important;
}
.color-green{
  color: #5cb85c!important;
}
.color-blue{
  color: #6895CC!important;
}
.color-grey{
  color: #aaa!important;
}
.color-redd{
  color: #ee4e4e!important;
}
.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: bold!important;
}
.fa{
  margin: 0 2px;
}


/*BUTTON CUSTOM START*/
.btn-custom {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 100%;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #e02c26;
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-2 {
  letter-spacing: 0;
  color: #6A55DE;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
  text-decoration: none;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #6A55DE;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn-3 {
  background: #e3403a;
  border: 1px solid #da251f;
  box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
  font-weight: 900;
  letter-spacing: 1px;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: #e02c26;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #ec817d;
  text-decoration: none;
  text-shadow: -1px -1px 0 #c2211c;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btn-4 span {
  z-index: 20;
}
.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.btn-package-rumdak {
  background-color: $color-white;
  color: #382C7E;
  border: 1px solid #382C7E;
  border-bottom: 5px solid #382C7E;
  border-radius: 50px!important;
}

.btn-package-rumdak:hover {
  background-color: #382C7E;
  color: $color-white;
  border: 1px solid #382C7E;
  border-bottom: 5px solid #382C7E;
}

.btn-width-300{
  width: 300px!important;
}

.btn-confirm{
  margin: auto;
  display: table;
}

.btn-more{
  width: 300px;
  margin: auto;
  display: table;
  background: #382C7E;
  font-size: 18px;
  margin-top: 20px;
}

.full-width{
  width: 100%;
}

.id-card{
  width: 100%;
  margin-bottom: 10px;
}

.bank-logo{
  height: 20px;
  margin-left: 5px;
}

/*BUTTON CUSTOM END*/

/*GLOBAL ELEMENT END*/
.bg-white{
  background-color: $color-white!important;
}

.bg-grey-smooth{
  background-color: #FBFBFB!important;
}

/*BOOTSTRAP CUSTOMIZE START*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f5f5f5;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #382c7e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0);
}
/*BOOTSTRAP CUSTOMIZE END*/

/*HEADER START*/
.header-property-wrapper{
  width: 100%;
  padding: 20px 0px;
  position: absolute;
  z-index: 999;
  font-size: 28px;
  background: rgba(255,255,255,.35);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.18);
  box-shadow: 0 1px 6px rgba(0,0,0,.18);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 0 0 -22px;
    width: 44px;
    height: 23px;
    background: url(/assets/triagle.png) no-repeat;
  }

  .menu-property-right{
    position: absolute;
    float: right;
    right: 15px;
    top: 15px;
    z-index: 999;
  }
}

.box-slider-logo{
  display: inline-block;
  position: absolute;
  z-index: 999;
  top: 140px;
  left: 0;
  right: 0;
  width: 60%;
  margin: auto;
}

.slider-property-wrapper{
  margin-top: -120px;
  position: relative;

  .box-logo-slider{
    margin: auto;
    display: table;

    img{
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  .box-search-slider-title{
    margin: auto;
    display: table;
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    text-align: center;
    color: $color-white;
    text-shadow: 1px 1px 1px #000000;

    i{
      font-size: 60px;
      font-weight: bold;
    }

    .btn-primary{
      padding: 8px 30px;
    }

    .fa-facebook{
      font-size: 14px;
    }
  }

  .box-search-slider{
    margin: auto;
    display: table;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.18);
    border: 0px solid #6A55DE;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    padding: 15px;

    .input-search-lg{
      height: 60px;
      background-color: $color-white;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      padding: 20px;
      margin-top: 3px;
    }

    .btn-search-lg{
      height: 60px;
      border-bottom-right-radius: 10px!important;
      border-top-right-radius: 10px!important;
      background-color: #382C7E;
      color: $color-white;
      border: 1px solid #382C7E;
    }

    .search-form{
      display:inline-block;
      position:relative;
      width: 100%;

      ::-webkit-input-placeholder {
        color:    #CCCCCC;
        padding: 0px 0px;
      }

      :-moz-placeholder {
        color:    #CCCCCC;
        opacity:  1;
        padding: 0px 0px;
      }

      ::-moz-placeholder {
        color:    #CCCCCC;
        opacity:  1;
        padding: 0px 0px;
      }

      :-ms-input-placeholder {
        color:    #CCCCCC;
        padding: 0px 0px;
      }

      .form-control{
        padding: 0px 50px!important;
        border-bottom-left-radius: 10px!important;
        border-top-left-radius: 10px!important;
      }
    }

    .search-form:after{
      display: inline-block;
      position: absolute;
      left: 15px;
      top: 5px;
      color: grey;
      font-family: 'FontAwesome';
      content: "\f041";
      font-size: 35px;
      z-index: 99;
    }
  }
}
/*HEADER END*/

/*FOOTER START*/
footer{
  float: left;
  width: 100%;
}

.bg-city-footer{
  background-image: url("/assets/bg-city.png");
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 0 4px transparent;
  -ms-box-shadow: 0 0 4px transparent;
  -o-box-shadow: 0 0 4px transparent;
  box-shadow: 0 0 4px transparent;
  height: 293px;
}

.footer-one{
  width: 100%;
  background-color: #43A048;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-one ul{
  margin: auto;
  display: table;
}

.footer-one ul li{
  list-style: none;
  float: left;
  margin-right: 20px;
}

.footer-one ul li a{
  color: $color-white;
  font-size: 12px;
  text-decoration: none;
}

.footer-one ul li a:hover{
  color: #CCCCCC;
}

.footer-two{
  background-color: $bg-grey-smooth;
  width: 100%;
  border-top: 1px solid #FBFBFB;
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer-two .description{
  font-size: 12px;
  color: #222222;
  text-align: center;
}

.footer-two .corpyright{
  color: #6A55DE;
  font-size: 11px;
  text-align: center;
}
/*FOOTER END*/

/*HOMEPAGE START*/

/*SLIDER START*/
.form-search-slider{
  position: absolute;
  bottom: 200px;
  margin: auto;
  left: 40%;
  right: 0;
  z-index: 1000;
  -ms-filter: "alpha(opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  -webkit-transform: translateZ(5px);
}
/*SLIDER END*/

/*POINT INFORMATION START*/
.point-information-property-wrapper{
  width: 100%;
  background-color: #382c7e;
}

.point-information-property-wrapper .box-point-infomation-property {
  display: block;
  width: 100%;
}

.point-information-property-wrapper .box-point-infomation-property .box-point{
  float: left;
  width: 90%;
  padding: 5px 0px 5px 20px;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  cursor: pointer;
}

.point-information-property-wrapper .box-point-infomation-property .box-point:hover{
  background-color: #382D77;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  cursor: pointer;
}

.point-information-property-wrapper .box-point-infomation-property .box-point .icon{
  position: relative;
  width: 30%;
  float: left;
}

.point-information-property-wrapper .box-point-infomation-property .box-point .icon i{
  position: absolute;
  font-size: 30px;
  color: #AFBEC8;
}

.point-information-property-wrapper .box-point-infomation-property .box-title{
  display: block;
  width: 70%;
  float: right;
}

.point-information-property-wrapper .box-point-infomation-property .box-title .title{
  font-size: 30px;
  color: $color-white;
  font-weight: bold;
  text-transform: none;
  margin-left: 15px;
  margin-top: 15px;
}
/*POINT INFORMATION END*/

/*LOCATION FEATURED START*/
.location-featured-wrapper{
  background-color: $color-white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.location-featured-wrapper .title-one-top{
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.location-featured-wrapper .box-location-point{
  margin-bottom: 25px;
  display: inline-block;
}

.location-featured-wrapper .box-location-point .box-image-location-wrapper{
  width: 30%;
  float: left;
}

.location-featured-wrapper .box-location-point .box-image-location-wrapper .box-image-location{
  overflow: hidden;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  border: 2px solid #CCCCCC;
}

.location-featured-wrapper .box-location-point .box-image-location-wrapper .box-image-location img{
  height: 100%;
  width: auto;
  display: block;
}

.location-featured-wrapper .box-location-point .box-desc-location{
  width: 70%;
  margin-left: 110px;
  padding-top: 10px;
}

.location-featured-wrapper .box-location-point .box-desc-location .title{
  font-size: 17px;
  font-weight: bold;
  color: #6A55DE;
}

.location-featured-wrapper .box-location-point .box-desc-location .description{
  font-size: 12px;
  margin-top: 10px;
}
/*LOCATION FEATURED END*/
/*HOMEPAGE END*/


/*LISTING CITY START*/
.header-second-page{
  width: 100%;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);

  .btn-flat-id{
    margin: auto;
    display: table;
    margin-top: 25%;
    background-color: rgba(60, 63, 64, 0.9);
    color: #fff;
    border: 0;
    padding: 8px 30px;
  }

  .header-form-search{
    background: #fff;
    padding-bottom: 15px;
  }

  .box-image-header-top-image{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    margin-top: -106px;

    &.box-image-header-userpage{
      margin-top: -120px;
    }
  }

  .box-image-header-top-image img{
    width: 100%;
    height: 200%;
    background-size: cover;
    background-color: transparent !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat;
  }

  .box-image-header-top-image .overlay-black{
    background-color: rgba(0, 0, 0, 0.43);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
  }

  .header-top-image{
    height: 280px;
  }

  .box-image-header-userpage{
    height: 320px;
    position: relative;
    margin-top: -120px;
  }

  .header-top-image-city{
    height: 600px;
    position: relative;

    .container{
      height: 100%;
      .section-pricing-bottom{
        width: 100%;
        position: relative;
        float: left;
        height: 100%;
        bottom: 0;
      }
    }
    .pricing-bottom{
      position: absolute;
      bottom: 0px;
      right: 0;
      background-color: rgba(60,63,64,0.9);
      border: 0;
      text-transform: capitalize;
      z-index: 1001;

      .price{
        color: $color-white;
        font-size: 25px;
        float: left;
        margin-right: 20px;
        padding: 5px 25px;
      }

      .type{
        float: right;
        color: $color-white;
        font-size: 15px;
        padding: 5px 25px;
      }
    }
  }

  .header-name-city{
    position: absolute;
    color: $color-white;
    font-weight: bold;
    font-size: 25px;
    bottom: 130px;
    text-align: center;
    left: 0;
    right: 0;
  }

  .header-desc-city{
    position: absolute;
    color: $color-white;
    font-weight: 100;
    font-size: 15px;
    bottom: 100px;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

  .header-desc-property{
    position: absolute;
    color: $color-white;
    font-weight: 100;
    font-size: 15px;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    h3{
      margin: 0;
      margin-top: 10px;
    }
    a{
      color: #fff;
    }
    .text-muted{
      color: #fff;
    }
  }

  .header-desc-user{
    position: absolute;
    color: $color-white;
    font-weight: 100;
    font-size: 15px;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: 300;
    h3{
      margin: 0;
      margin-top: 10px;
    }
    a{
      color: #fff;
    }
    .text-muted{
      color: #fff;
    }
  }

  .form-search-header{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
  }

  .form-search-header{
    select{
      width: 20%;
    }
    .input-lg{
      width: 80%;
    }
    .form-control {
      display: block;
      height: 45px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: $bg-white;
      background-image: none;
      border: 1px solid #ccc;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      z-index: 0;
    }
    .form-control:focus {
      border-color: #00ADEF;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0);
    }
    .input-group>.form-control{
      border-radius: 0px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }
  }
}

/*SLIDER PROPERTY START*/
.listing-property{
  width: 100%;
  background-color: $bg-grey-smooth;
  margin-top: 10px;
  nav{
    float: left;
    width: 100%;
  }
  .carousel .item{
    height: 403px;
    width: 100%;
    overflow: hidden;
  }

  .carousel .item img{
    width: 100%;
    height: 100%;
  }

  .carousel .carousel-control.left {
    left: 0;
    right: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0000)),to(rgba(0,0,0,.0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
  }

  .carousel .carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0000)),to(rgba(0,0,0,.0)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
  }

  .carousel .carousel-caption {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 14px!important;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0, 0, 0, 0.43);
    width: 100%;
    left: 0!important;
    font-size: 15px;
  }

  .desc-info-location-right-wrapper{
    width: 100%;
  }

  .desc-info-location-right-wrapper .box-info-location-right .title{
    font-weight: bold;
    font-size: 20px;
    color: #6A55DE;
    margin-bottom: 15px;
  }

  .desc-info-location-right-wrapper .box-info-location-right .description{
    font-size: 14px;
    color: #333333;
    text-align: justify;
  }

  .desc-info-location-right-wrapper .box-info-maps-right{
    width: 100%;
    height: 300px;
  }

  .desc-info-location-right-wrapper .maps{
    height: 250px;
  }

  .info-desc-city{
    width: 100%;
  }

  .title-info-desc-city{
    padding-left: 0px;
    color: #7D7D7D;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title-listing-property{
    padding-left: 0px;
    color: #7D7D7D;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #D2CCCC;
  }

  .box-listing-property{
    width: 100%;
  /*background-color: $color-white;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: 17px 19px 14px -17px rgba(0,0,0,0.24);
  -moz-box-shadow: 17px 19px 14px -17px rgba(0,0,0,0.24);
  box-shadow: 17px 19px 14px -17px rgba(0,0,0,0.24);*/
}

.box-listing-property .box-img-wrapper{
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border: solid 1px #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box-listing-property .box-img-wrapper img{
  width: auto;
  width: 100%;
  min-height: 200px;
  display: block;
  border-bottom: 4px solid #CCCCCC;
}

.box-listing-property .box-img-wrapper .sold-out-info{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d9534f;
  padding: 5px 10px;
  color: $color-white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-listing-property .box-img-wrapper .price{
  position: absolute;
  top: 10px;
  right: 0;
  background: rgba(0,0,0,.4);
  padding: 5px 10px;
  color: $color-white;
  font-size: 16px;
  text-transform: uppercase;
  small{
    font-size: 8px;
    text-transform: none;
    color: #fff!important;
  }
}


.box-listing-property .box-img-wrapper .date{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
  color: $color-white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.box-listing-property .box-img-wrapper .agent-verified{
  position: absolute;
  bottom: 10px;
  left: 80px;
  background-color: #FCB64E;
  padding: 3px 10px;
  border-radius: 5px;

  span{
    font-size: 11px;
    color: $color-white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
}

.box-listing-property .box-img-wrapper .whislist-active-none-display{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  color: $color-white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.box-listing-property .box-img-wrapper .whislist-active{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  color: $color-white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.box-listing-property .box-img-wrapper .whislist-active.active{
  display: block;
  background: #d9534f;
}

.box-listing-property .box-info-property{
  width: 100%;
  padding: 25px 15px 15px 15px;
  position: relative;
  /*background-color: $color-white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
  height: 110px;
  text-align: center;
}

.box-listing-property .box-info-property:hover{
  /*background-color: #EAEAEA;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;*/
}

.box-listing-property .box-info-property .title{
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 20px;
  margin-bottom: 5px;
}

.box-listing-property .box-info-property .title a{
  color: #6A55DE;
}

.box-listing-property .box-info-property .title a:hover{
  color: #000000;
}

.box-listing-property .box-info-property .name-property{
  font-size: 12px;
  color: #888;
  font-weight: 200;
}

.box-listing-property .box-info-property .avatar-user{
  position: absolute;
  top: -40px;
  margin: auto;
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid $color-white;
  left: 10px;
  background: #000;
}

.box-listing-property .box-info-property .avatar-user img{
  width: 100%;
  height: auto;
  display: block;
}

.box-listing-property .box-info-property-user{
  width: 100%;
  padding: 20px 22px 21px;
  position: relative;
  background-color: $color-white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 120px;
}
}


/*-------------------- CUSTOM SEARCH TOP ---------------------*/
.custom-input{padding-top:0;padding-bottom:0}
.custom-input-suggestion{background-color:#fff}
.custom-input-suggestion ul{margin-bottom:0;padding:0;list-style:none}
.custom-input-suggestion ul li a:hover{color:#2980b9;background-color:#f5f5f5}
.custom-input-container{background-color:#fcfcfc;padding:10px}
.custom-input-container>span{color:#bbb;margin-right:5px}
.custom-input-container>span.label-right{margin-left:5px}
.custom-input .form-control{
display: inline-block;
width: auto;
}
.custom-input-suggestion a {
color: #333;
padding: 4px 10px;
display: block;
}
.select-pretty .btn a {
color: #000;
padding: 6px 14px;
display: block;
}
.select-pretty .btn.custom-dropdown,
.select-pretty .btn.custom-dropdown-land,
.select-pretty .btn.custom-dropdown-area,
.select-pretty .custom-dropdown-building,
.select-pretty .custom-dropdown-price-meter
{
padding: 0;
width: 100%;
background: #f5f5f5;
}

/*-------------------- CUSTOM SEARCH TOP ---------------------*/
#loading{
background:rgba(255,255,255, 0.6);
position: absolute;
width: 100%;
height: 100%;
z-index: 2;
img{
  margin: auto;
  display: table;
  margin-top: 100px;
}
}

/*-------------------- CUSTOM CITY ---------------------*/
#carousel-city{
.item{
  img{
    width: 100%;
  }
  .carousel-caption{
    font-size: 14px;
    background: rgba(255, 255, 255, 0.35);
    padding: 10px;
    left: 10%;
    right: 10%;
  }
}
}

/*-------------------- CONTACT USER SIDE ---------------------*/
.contact-user-font-section{
display: inline-block;
width: 100%;
padding: 20px 0;
border: solid 1px #eee;
background: #fff;
.title{
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #382c7e;
  font-weight: bold;
}
.bottom{
  padding: 0 20px;
  float: left;
  width: 100%;
}
.phone{
  font-size: 16px;
}
.submit-button{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
}
.rating-star p{
position: relative;
line-height: 85px!important;
text-align: center;
font-size: 16px;
}

/********************************/
/*          Agent Info          */
/********************************/
.user-image-cycle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #cacccd;
  border-radius: 50%;
  border: 4px solid #f5f5f5;
  float: right;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;

  img{
    width: 100%;
  }
}

.box-image-cover-user-top{
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
  width: 100px;

  .image-cycle{
    float: left;
    width: 35%;
    position: absolute;

    .box-user-image-cycle {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      vertical-align: bottom;
      overflow: hidden;
      background-color: #cacccd;
      border-radius: 50%;
      border: 4px solid #f5f5f5;
      margin-bottom: 10px;
      width: 90px;
      height: 90px;

      img{
        width: 100%;
      }
  }
  }

  .box-label-agent-verified{
    float: right;
    background-color: #FCB64E;
    padding: 5px;
    position: absolute;
    right: -120px;
    top: 32px;
    font-size: 12px;

    span{
      color: $color-white;
      text-shadow: 1px 1px #333333;
    }
  }

  .triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FCB64E;
    float: right;
    margin-left: 86px;
    margin-top: 35px;
  }
}

.change-ava{
position: absolute;
height: 100%;
width: 100%;
top: 0;
cursor: pointer;
opacity: 0.0;
}
.cover-img{
overflow: hidden;
height: 200px;
width: 100%;
border: solid 1px #ccc;
float: left;
}
.cover-img img{
width: 100%;
}
.float-none{
float: none;
}
.form-element {
background: #fff;
position: relative;
margin-bottom: -1px;
border: 1px solid #e6e6e6;
line-height: 58px;
height: 58px;
}
.form-element .placeholder+.input {
padding-top: 28px;
padding-bottom: 12px;
}
.form-element .input {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: none;
border: none;
outline: none !important;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.form-element .input {
line-height: 14px;
padding: 21px 20px;
}
.form-element.focused .placeholder, .form-element.filled .placeholder {
margin-top: 6px;
line-height: 20px;
-webkit-transform: scale(0.85);
-ms-transform: scale(0.85);
-o-transform: scale(0.85);
transform: scale(0.85);
font-weight: bold;
}
.form-element .placeholder {
pointer-events: none;
color: #7f7f7f;
text-transform: uppercase;
position: absolute;
top: 0;
max-width: 100%;
z-index: 1;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
-webkit-transform-origin: 0 0;
-moz-transform-origin: 0 0;
-ms-transform-origin: 0 0;
-o-transform-origin: 0 0;
transform-origin: 0 0;
}
.form-element .placeholder {
line-height: 60px;
left: 20px;
}
.sent-button-container .btn{
width: 100%;
border-radius: 0;
margin-top: 10px;
}
.contact-user-font-section .bottom{
padding: 0 20px;
float: left;
width: 100%;
}
.contact-user-font-section .phone{
font-size: 16px;
}
.grid-controls-action-show-property{
width: 100%;
}
.grid-controls-action-show-property .btn{
width: 50%;
border-radius: 0;
border: solid 1px #ddd;
padding: 10px 0;
}

.grid-controls-action-show-property .btn-full{
width: 100%!important;
border-radius: 0;
border: solid 1px #ddd;
padding: 10px 0;
}


/************************************************/
/*       sidebar detail auction property        */
/************************************************/
.sidebar-auction-detail-wrapper{
border-radius: 3px;
border: 1px solid #eee;
padding: 20px;
display: inline-block;
width: 100%;
margin-bottom: 10px;
background: #fff;
.box-one-wrapper{
  display: inline-block;
  .price{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }

  .price .price-nominal{
    font-weight: bold;
    font-size: 30px;
    color: #004455;
  }

  .price .price-description{
    font-size: 13px;
    color: #A8A8A8;
  }

  .box-info-double{
    margin-top: 20px;
    ul{
      padding-left: 0;
      list-style: none;
    }
  }

  .countdown-timer{
    width: 100%;
    text-align: center;
  }

  .countdown-timer ul{
    display: inline-block;
    padding-left: 0;
  }

  .countdown-timer ul li{
    float: left;
    list-style: none;
    margin-right: 8px;
  }

  .countdown-timer ul li span.count{
    font-size: 22px;
    font-weight: 200;
    color: #5cb85c;
    background: #000;
    padding: 2px 5px;
    color: #fff;
    border-radius: 4px;
  }

  .countdown-timer ul li span.dotted-2{
    font-size: 25px;
    font-weight: bold;
    color: #333333;
  }

  .countdown-timer ul li span.day{
    font-size: 13px;
  }
  .countdown-timer{
    width: 100%;
    text-align: center;
    ul{
      display: inline-block;
      li{
        float: left;
        list-style: none;
        margin-right: 15px;
        span.count{
          font-size: 25px;
          font-weight: bold;
          color: #5cb85c;
        }
        span.dotted-2{
          font-size: 25px;
          font-weight: bold;
          color: #333333;
        }
        span.day{
          font-size: 13px;
        }
      }
    }
  }
}
.company-logo{
  width: 100%;
  border: solid 1px #ccc;
  margin-bottom: 20px;
}
}

.sidebar-auction-detail-wrapper .box-one-wrapper .description{
color: #6996CC;
font-size: 12px;
margin-top: 10px;
width: 100%;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .spiner{
display: inline-block;
width: 100%;
margin-top: 10px;
}

.sidebar-auction-detail-wrapper .box-one-wrapper .spiner .title{
font-size: 12px;
color: #333333;
padding-left: 0px;
margin-bottom: 15px;
float: left;
width: 100%;
}


.sidebar-auction-detail-wrapper .box-one-wrapper .button-place-bird .btn{
width: 100%;
margin-top: 10px;
color: #fff;
background: #6A55DE;
}

.sidebar-auction-detail-wrapper .box-two-wrapper{
display: inline-block;
width: 100%;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-top{
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
color: #164C83;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-ionic{
display: inline-block;
margin-bottom: 10px;
width: 100%;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-ionic .buyer{
font-size: 12px;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .title-ionic .buyer span{
font-size: 12px;
font-weight: bold;
}

.title-ionic i{
font-size: 12px;
background: #6A55DE;
border: 0;
padding: 4px 7px;
border-radius: 54%;
width: 20px;
height: 20px;
color: #fff;
}

.sidebar-auction-detail-wrapper .box-two-wrapper .description{
font-size: 12px;
margin-bottom: 10px;
}

.sidebar-auction-detail-wrapper .box-three-wrapper{
display: inline-block;
width: 100%;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul{
text-align: center;
padding-left: 0px;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li{
list-style: none;
float: left;
border-right: 1px solid #EEE;
width: 50%;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li:last-child{
border-right: 1px solid $color-white;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li i{
font-size: 30px;
color: #0BABD3;
}

.sidebar-auction-detail-wrapper .box-three-wrapper ul li span{
font-size: 11px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper{
display: inline-block;
width: 100%;
}

.sidebar-auction-detail-wrapper .box-for-wrapper .title{
font-size: 20px;
font-weight: bold;
color: #382c7e;
margin-bottom: 10px;
text-align: center;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul{
padding-left: 0px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul li{
list-style: none;
margin-bottom: 10px;
background: #f5f5f5;
padding: 8px;
text-align: center;
border-radius: 20px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul li i{
color: #000000;
font-size: 16px;
margin-right: 5px;
}

.sidebar-auction-detail-wrapper .box-for-wrapper ul li span{
color: #000000;
font-size: 14px;
}



/************************************************/
/*              Contact User Form               */
/************************************************/
.user-form{
h5{
  text-align: left;
}
}

/************************************************/
/*               Modal All Bids                 */
/************************************************/
.modal-header-all-bids {
min-height: 16.42857143px;
padding: 15px;
border-bottom: 0px;
background-color: #382C7E;
color: $color-white;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.cross {
background-color: #382C7E;
background-position: -95px -64px;
cursor: pointer;
display: inline-block;
height: 30px;
position: absolute;
right: 15px;
top: 12px;
width: 30px;
border-radius: 50%;

i{
  font-size: 16px;
  color: $color-white;
  text-align: center;
  padding: 6px 7px;
}
}

.modal-title-all-bids {
margin: 0;
line-height: 1.42857143;
font-weight: bold;

span{
  font-size: 15px;
  font-weight: normal;
}
}

.btn-modal-submit{
margin-top: 20px;
margin-bottom: 20px;
}

/************************************************/
/*              Navbar Menu Custom              */
/************************************************/
.navbar{
margin-bottom: 0;
}
.navbar-menu-custom .navbar-default {
background-color: rgba(16, 16, 16, 0.5);
border-color: transparent;
z-index: 999;
border-radius: 0px;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);
}

.navbar-menu-custom .navbar{
height: 95px;
/*width: 100%!important;*/
}

.navbar-menu-custom .navbar-brand {
float: left;
height: 100%;
font-size: 30px;
}

.navbar-menu-custom .navbar-brand-centered{
padding-left: 60px;
}

.navbar-menu-custom .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
background-color: transparent;
color: #fff;
}

.navbar-menu-custom .navbar-nav > li > .dropdown-menu {
margin-top: 15px;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
padding: 15px;
min-width: 250px;
}

.navbar-right{
padding: 20px 0;
}


/*.navbar-menu-custom .navbar-nav > li > .dropdown-menu .sub-menu {
left: 100%;
position: absolute;
top: 0;
visibility: hidden;
margin-top: -1px;
}

.dropdown:hover .dropdown-menu {
display: block;
}*/

/*.navbar-menu-custom .navbar-nav > li > .dropdown-menu li:hover .sub-menu {
visibility: visible;
}*/

.navbar-menu-custom .navbar-nav > li > .dropdown-menu li{
  border-bottom: 1px solid #eaeaea;
}

.navbar-menu-custom .navbar-nav > li > .dropdown-menu li:last-child{
  border-bottom: 0px solid transparent;
}

.navbar-menu-custom .navbar .nav > li > .dropdown-menu::before {
  position: absolute;
  top: -13px;
  right: 20px;
  display: inline-block;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #CCC;
  border-left: 14px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.navbar-menu-custom .navbar .nav > li > .dropdown-menu::after {
  position: absolute;
  top: -12px;
  right: 19px;
  display: inline-block;
  border-right: 13px solid transparent;
  border-bottom: 13px solid white;
  border-left: 13px solid transparent;
  content: '';
}

.navbar-menu-custom .navbar .nav .become-agent{
  background-color: transparent;
  border: 1px solid #f5f5f5;
  height: 38px;
  padding: 6px 20px;
  margin-top: 8px;
}

.navbar-menu-custom .navbar .nav .become-agent:hover{
  background-color: $color-white;
  border: 1px solid #f5f5f5;
  color: #382C7E;
}

.navbar-menu-custom .dropdown-menu > li > a {
  display: block;
  padding: 12px 0px;
}

.navbar-menu-custom .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: transparent;
  margin-left: 8px;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a{
  color: $color-white;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a:hover{
  color: $color-white;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a:focus{
  border: 0px solid transparent;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a .img-icon-menu-top{
  overflow: hidden;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid $color-white;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a .img-icon-menu-top img{
  width: 100%;
  height: auto;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a img{
  width: 20px;
  height: 20px;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a span.fa{
  font-size: 20px;
  position: relative;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a span.fa .count-msg{
  position: absolute;
  top: -6px;
  right: -11px;
  background-color: red;
  color: $color-white;
  border-radius: 2px;
  font-size: 10px;
  padding: 2px 2px;
}

.navbar-menu-custom .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  border-bottom: 0px;
}

.navbar-nav > li > a{
  padding-top: 15px;
  padding-bottom: 15px;
  padding: 15px 20px;
  font-size: 13px;
}

/************************************************/
/*              Panel help menu                 */
/************************************************/

.category-property-point{
  width: 33.333%;
  float: left;
}

/************************************************/
/*              Panel help menu                 */
/************************************************/
.padd-0{
  padding: 0px!important;
}

.min-width-400{
  min-width: 400px!important;
}

.panel-help-menu-wrapper{
  display: inline-block;
  width: 100%;

  .panel-menu-head{
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid #EAEAEA;
    padding: 20px 10px;

    i{
      font-size: 25px;
      margin-right: 10px;
      color: #BBBBBB;
    }

    span{
      font-size: 16px;
      color: #6B6B6B;
    }
  }

  .panel-menu-body{
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid #EAEAEA;
    padding: 12px;
    height: 296px;
    overflow-y: scroll;

    ul{
      padding-left: 0px;

      li{
        list-style: none;
        padding: 15px 0px;

        a{
          padding: 10px 0px;
          color: #A9A9A9;
          font-size: 14px;
          text-decoration: none;

          &:hover{
            margin-left: 8px;
          }

          i{
            font-size: 25px;
            margin-right: 10px;
          }

          span{
            font-size: 16px;
            color: #333333;
          }
        }
      }
    }
  }

  .panel-menu-footer{
    width: 100%;
    background-color: #F1F1F1;
    border-top: 1px solid #EAEAEA;
    padding: 12px;

    a{
      color: #FF5555;
    }
  }
}

.panel-messages-menu-wrapper{
  display: inline-block;
  width: 100%;

  .panel-menu-head{
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid #EAEAEA;
    padding: 20px 10px;
    display: inline-block;

    .head-left{
      width: 50%;
      float: left;

      a{
        color: #333333;
        font-size: 12px;
      }
    }

    .head-right{
      width: 50%;
      float: right;

      a{
        color: #333333;
        font-size: 12px;
        float: right;
      }
    }
  }

  .panel-menu-messages-body{
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid #EAEAEA;
    padding: 0px 10px 0px 10px;
    height: 296px;
    overflow-y: scroll;
    margin-top: -5px;

    a{
      .box-messages-user{
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #EAEAEA;
        padding: 15px 0px;
        float: left;

        .box-image {
          width: 15%;
          float: left;

          .img-user {
            overflow: hidden;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid #333333;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .box-name-user {
          width: 85%;
          float: right;
          margin-top: 10px;
          padding: 0px 10px 0px 10px;

          .username {
            width: 100%;
            float: left;

            a {
              font-size: 14px;
              color: #333333;
            }
          }

          .messages-short{
            font-size: 12px;
            color: #444444;
          }
        }
      }
    }

    a:last-child{
      border-bottom: 0px solid transparent;
    }

    a:hover{
      background: #f5f5f5!important;
    }
  }

  .panel-menu-footer{
    width: 100%;
    background-color: #F1F1F1;
    border-top: 1px solid #EAEAEA;
    padding: 12px;

    a{
      color: #FF5555;
    }
  }
}

/*SELECT CUSTOM*/
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 12px;
}

/********************************/
/*      Form Create Ads         */
/********************************/
.stepwizard-step p {
  margin-top: 30px;
  font-size: 12px;
  color: $color-white;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.stepwizard-step a{
  border-radius: 50%;
}

.stepwizard-step a img{
  width: 50px;
  margin-top: 7px;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 45px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 25px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.stepwizard .btn-default{
  border: solid 1px transparent;
  background-color: transparent;
  border-radius: 50% !important;
  width: 70px;
  height: 70px;
}
.stepwizard .btn-info{
  color: #fff;
  border: solid 1px $color-white;
  background: #564E84;
  border-radius: 50% !important;
  width: 90px;
  height: 90px;
  margin-bottom: -16px;
}

.text-title-top-step{
  background-color: #F9F9F9;
  padding: 20px;
  border: 1px solid #CCCCCC;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.img-category-ico{
  float: right;
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 50%;
  border: 4px solid #CCCCCC;
}

.text-category-step{
  float: left;
  text-align: center;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  opacity: 1;
}
.ads_type{
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 18px;
  margin: auto;
  display: table;
  text-align: center;
  width: 100%;
}
.btn-step-property-new{
  background-color: $color-white;
  color: #6A55DE;
  border: 1px solid #6B56DE;
  border-radius: 0px;
  border-left: 7px solid #6A55DE;
  padding: 10px 30px;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}
.btn-step-property-new:hover{
  background-color: #6A55DE;
  color: $color-white;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}
.mg-min-20{
  margin-top: -20px;
}

.well-prop-custom{
  background-color: $color-white;
  border: 1px solid #6A55DE!important;
  border-radius: 0px;
  color: #6A55DE;
}

.icon-fields{
  font-size: 30px;
}

.setup-content{
  border: solid 1px #ccc;
  border-radius: 0px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
  textarea{
    height: 200px;
  }
}
.setup-content h3{
  color: #6A55DE;
}
.setup-content h6{
  color: #444;
  font-weight: 200;
  margin-top: 0;
}
.setup-content .line-through{
  margin-bottom: 40px;
}
.setup-content .checkbox{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 200;
  color: #444;
}
.setup-content .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-content .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 170px;
  position: relative;
  i{
    position: absolute;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
  }
}
.setup-content .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-content .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-content .well{
  padding: 10px;
  background-color: $color-white!important;
  border: 2px solid #ccc!important;
  border-radius: 10px!important;
  color: #564E84!important;
  letter-spacing: 2px;
}
.setup-content .facility .well{
  font-size: 11px;
  p{
    margin-bottom: 0;
    height: 30px;
  }
}
.setup-content .well.nested-fields{
  padding: 15px;
}
.setup-content .basic-form{
  display: none;
}
.setup-content .select2-container--default,
.setup-content .select2-selection--single,
.setup-content select,
.setup-content input{
  background: $color-white!important;
}
.setup-content .area_select{
  margin-bottom: 10px;
}
.hidden-form-basic{
  display: none;
}
.configuration-small-content .select2-container--default,
.configuration-small-content .select2-selection--single,
.configuration-small-content select,
.configuration-small-content input{
  background: $color-white!important;
}
.facility-small-content .well{
  font-size: 11px!important;
}

label{
  font-weight: normal!important;
}
.line-through span.circle {
  background: #FFF;
  padding: 8px;
  border-radius: 50%;
  border: solid 1px #ccc;
  font-size: 14px;
  color: #aaa;
}

.setup-overview .choice-gallery-form{
  list-style: none;
  padding-left: 0;
}
.setup-overview .choice-gallery-form li{
  width: 16.6%;
  float: left;
  border: solid 1px #ccc;
  padding: 2px;
  height: 100px;
  position: relative;
}
.setup-overview .choice-gallery-form img{
  width: 100%;
  height: 100%;
}
.setup-overview .choice-gallery-form .input-file{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  opacity: 0.0;
}
.setup-overview .choice-gallery-form li.overview{
  width: 50%!important;
  height: 120px!important;
  position: relative;
}
.setup-overview .choice-gallery-form li.overview span{
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 5px;
  left: 5px;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.select-birthday{
  width: 33%;
  float: left;
}
.span-error{
  color: red;
}

/********************************/
/*         Map Custom           */
/********************************/
.gmap3{
  height: 530px;
  width: 100%;
}
.gmap3-dinamic{
  height: 100%;
  width: 100%;
  img{
    border: solid 1px #ccc;
    padding: 2px;
    float: left;
    margin-right: 10px;
    width: 120px;
    height: 100px;
  }
}
.info-map{
  float: left;
  width: 300px;
  .title-map{
    font-weight: 400!important;
    width: 100%;
  }
  .price-map-section{
    width: 100%;
    height: 20px;
    .price-map{
      font-size: 14px;
      color: #5cb85c;
    }
  }
  .address-map{
    width: 100%;
  }
}

.dev-gmap3-dinamic{
  height: 400px;
  width: 100%;
}
.dev-round-map{
  margin-top: 20px;
  width: 100%;
  background: #fff;
}
.round-map{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  display: inline-block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
  background: #f2f2f2;
  right: 0;
}
.hov-image{
  border: solid 1px #ccc;
  height: 80px;
  width: 100px;
  margin-right: 10px;
}

/************************************************/
/*        Login Register box Pop up             */
/************************************************/

.modal-box-auth-wrapper{
  display: table;
  margin: auto;
  width: 80%;
  background-color: $color-white;
  margin-top: 50px;
  background: url("/assets/geometry2.png");
  border-radius: 5px;
  border: 1px solid #CCCCCC;

  .box-auth-header{
    width: 100%;
    height: 50px;
    display: inline-block;

    .title-left{
      width: 99%;
      float: left;
      text-transform: uppercase;
      padding: 30px 0px;
      text-align: center;
      font-size: 20px;
    }

    .icon-close-right{
      width: 1%;
      float: right;
      display: inline-block;

      .close{
        font-size: 20px;
        margin-right: 10px;
        margin-top: 6px;
      }
    }
  }

  .box-auth-body{
    width: 100%;
    display: inline-block;
    padding: 20px;

    .button-box{
      width: 100%;
      display: inline-block;

      a{
        text-decoration: none;

        i{
          font-size: 18px;
          color: #337AB7;
          background-color: $color-white;
          height: 30px;
          width: 30px;
          padding: 6px 0px;
          border-radius: 50%;
        }
      }
    }

    .description-body{
      width: 100%;
      font-size: 15px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .input-lg-auth{
      height: 50px;
      background-color: $color-white;
    }

    .btn-auth-user{
      height: 50px !important;
      background-color: #337AB7;
      color: $color-white;
      text-transform: uppercase;
    }
  }

  .box-auth-footer{
    display: inline-block;
    width: 100%;
    padding: 20px;

    .text-footer{
      text-align: center;
      font-size: 15px;
      font-weight: bold;

      a{
        color: #337AB7;
        cursor: pointer;

        &:hover{
          color: #333333;
        }
      }
    }
  }
}

.box-listing-property-member{
  display: inline-block;
  width: 100%;
  background-color: $color-white;
  border: 1px solid #EAEAEA;
  margin-bottom: 20px;

  .box-image-left-wrapper {
    display: inline-block;
    width: 35%;
    float: left;

    .img-big{
      overflow: hidden;
      width: 100%;
      height: 160px;
      position: relative;

      img{
        width: 100%;
        height: 100%;
      }

      .box-list-img-small{
        display: inline-block;
        width: 100%;
        background-color: rgba(232, 232, 232, 0.36);
        padding: 20px;
        width: 100%;
        padding: 5px;
        margin: auto;
        position: absolute;
        left: 0;
        bottom: 0;

        .img-small{
          overflow: hidden;
          width: 22%;
          height: 100%;
          float: left;
          margin-right: 5px;

          img{
            width: 100%;
            height: 100%;
            border: 1px solid #383838;
          }
        }
      }

      .expired-label{
        position: absolute;
        width: auto;
        height: auto;
        left: 15%;
        top: 20%;
      }
    }

  }

  .box-desc-right-wrapper{
    display: inline-block;
    width: 65%;
    float: right;
    padding: 10px 10px 0px 15px;

    .box-one{
      width: 100%;
      display: inline-block;

      .box-info-right{
        width: 100%;
        float: right;

        .box-publish{
          background-color: #6A55DE;
          border: 1px solid #6A55DE;
          padding: 3px;
          font-size: 11px;
          color: $color-white;
          text-align: center;
          width: 30%;
          float: left;
        }

        .box-flat-id{
          background-color: $color-white;
          border: 1px solid #6A55DE;
          padding: 3px;
          font-size: 11px;
          color: #6A55DE;
          width: 35%;
          float: left;
          text-align: center;
        }
      }
    }

    .box-two{
      display: inline-block;
      width: 100%;
      min-height: 70px;

      .info-list-left{
        width: 65%;
        display: inline-block;
        float: left;

        .title{
          font-size: 14px;
        }

        .location{
          display: inline-block;
          width: 100%;

          i{
            font-size: 14px;
            color: #333333;
          }

          span{
            font-size: 11px;
            color: #8E8989;
          }
        }
      }

      .info-list-right{
        width: 35%;
        display: inline-block;
        float: right;

        .price{
          font-size: 14px;
          color: #5cb85c;
          float: right;
          margin-bottom: 2px;
        }

        .label{
          float: right;
        }

        .sold{
          color: red;
          margin-bottom: 5px;
        }
      }
    }

    .box-content{
      .title{
        width: 100%;
        margin-bottom: 5px;
        font-size: 15px;
        border-bottom: solid 1px #EAEAEA;
        padding-bottom: 5px;
      }
      .box-info-left{
        width: 50%;
        float: left;
        min-height: 70px;
      }
      .box-info-right{
        width: 50%;
        float: left;
        text-align: right;
        min-height: 70px;
      }
      .price{
        font-size: 16px;
        color: #5cb85c;
      }
      .sold{
        color: red;
        font-size: 13px;
        margin-bottom: 5px;
      }
    }

    .box-footer{
      width: 100%;
      display: inline-block;

      .count-people{
        width: 25%;
        float: left;
        font-size: 12px;
        color: #8E8989;
      }

      .action-user{
        width: 75%;
        float: right;
        padding-left: 19px;

        a{
          float:right;
        }
      }
    }
  }

  .flat-id{
    position: absolute;
    color: #fff;
    background-color: rgba(16, 16, 16, 0.5);
    padding: 4px;
    font-size: 9px;
    text-transform: uppercase;
    top: 5px;
  }

  .status{
    position: absolute;
    color: #fff;
    background-color: rgba(225, 225, 225, 0.5);
    padding: 4px;
    font-size: 9px;
    text-transform: uppercase;
    top: 5px;
    right: 0;
  }
}

/********************************/
/*         Autocomplite         */
/********************************/
.ui-autocomplete{
  background: #fff;
  .ui-menu-item{
    padding: 10px 15px;
    color: #777;
  }
  .ui-menu-item:hover{
    background: #f5f5f5;
    border-bottom: solid 1px #ccc!important;
    border-top: solid 1px #ccc!important;
    color: #000;
  }
}

/********************************/
/*         Landing Page         */
/********************************/
.box-landing-page{
  padding: 40px 20px;
  .title{
    font-size: 25px;
    margin-bottom: 20px;
  }
}

/********************************/
/*         Social Share         */
/********************************/
.block-share-social{
  margin-top: 10px;
  display: none;
}


/********************************/
/*         Setting member       */
/********************************/
.box-setting-user{
  padding: 20px;
  border: 1px solid #DDDDDD;
  margin-top: -1px;
}

.box-description{
  text-align: justify;
  ul, ol{
    padding-left: 0!important;
  }
}

/********************************/
/*     Contact Maps & forms     */
/********************************/
.contactMaps{
  width: 100%;
  margin-top: -120px;
  height: 500px;
}

.form-contact{
  background-color: $bg-grey-smooth;
  margin-top: 50px;
  margin-bottom: 50px;

  .title-contact-top{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    padding: 30px 0px;
  }
}

/********************************/
/*         Region Custom        */
/********************************/
.region-site-map{
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 80px;
  float: left;
  width: 100%;
  list-style: none;
  font-size: 13px;
  text-align: left;
  li{
    input{
      display: none;
    }
    a{
      float: left;
      width: 20%;
      padding: 6px;
      color: #777;
    }
  }
  li a:hover{
    background: #F5F5F5;
    border-left: solid 3px #382c7e;
  }
}


/********************************/
/*         Region Custom        */
/********************************/
.cover-help-wrapper{
  position: relative;
  background-image: url("/assets/help.png");
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 4px transparent;
  -ms-box-shadow: 0 0 4px transparent;
  -o-box-shadow: 0 0 4px transparent;
  box-shadow: 0 0 4px transparent;
  height: 400px;
  margin-top: -120px;

  .say-hello-help{
    text-align: center;
    font-size: 35px;
    color: $color-white;
    font-weight: bold;
    margin-top: 210px;
  }
}

.nav-help-wrapper{
  width: 100%;
  height: 50px;
  background-color: #565a5c;

  .nav-help{
    background-color: transparent;
    width: 100%;

    ul{
      padding-left: 0px;

      li{
        float: left;
        list-style: none;
        padding: 14px;
        margin-top: -10px;

        &.active{
          border-bottom: 5px solid #cacccd;
        }

        &:hover{
          border-bottom: 5px solid #cacccd;
        }

        a{
          color: $color-white;

          &:hover{
            color: $color-white;
          }
        }
      }
    }
  }
}

.nav-body-wrapper{
  margin-top: 50px;
  margin-bottom: 50px;

  .list-group{

    a{
      &.hover{
        color: #382c7e;
      }

      &.active{
        color: $color-white;
      }
    }

    .list-group-item{
      padding: 20px 15px;
      font-size: 14px;
      color: #382C7E;

      .float-right{
        float: right;
      }

      &:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      &:last-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }
  }

  .help-body{
    display: inline-block;
    width: 100%;

    .title{
      font-weight: bold;
      font-size: 20px;
      padding-left: 0px;
      color: #333333;
      margin-bottom: 20px;
    }

    .date{
      font-size: 14px;
      margin-bottom: 10px;
    }

    .description{
      text-align: justify;
      color: #333333;
      font-size: 12px;
    }
  }
}

.slider #slider-product .slides > li{
  .preview-image{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 999;
  }
}

.alert-new-peoperty{
  background-color: $color-white;
  border: 1px solid #CCCCCC;
  font-size: 14px;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;


  .box-left{
    width: 10%;
    float: left;
    background-color: #D84D4C;
    padding: 15px;

    i{
      font-size: 50px;
      color: $color-white;
      margin-left: 30px;
    }
  }

  .box-right{
    width: 90%;
    float: right;
    padding: 20px;
    color: #858080;
  }

  a{
    color: #AD8300;

    &:hover{
      color: $color-white;
    }
  }
}

/********************************/
/*  Listing property users v2   */
/********************************/
.listing-user-prop-v2{
  display: inline-block;
  width: 100%;
  border: 1px solid #DEDEDE;
  margin-bottom: 10px;
  background-color: $color-white;

  .images-prop-v2{
    display: inline-block;
    width: 30%;
    float: left;

    .images{
      overflow: hidden;
      width: 100%;
      height: 160px;
      position: relative;
      background: #ccc;
      border-right: solid 1px #ccc;
      img{
        width: 100%;
        height: auto;
      }

      .price-top{
        position: absolute;
        padding: 2px 6px;
        top: 10px;
        left: 0px;
        background: rgba(0, 0, 0, 0.35);
        font-size: 12px;

        span{
          color: $color-white;
          font-size: 12px;
        }

        .status{
          color: $color-white;
        }
      }

      .count-gallery{
        bottom: 0px;
        left: 0px;
        background-color: #000;
        padding: 2px 8px;
        position: absolute;
        font-size: 12px;
        color: $color-white;
      }

      .date{
        right: 0px;
        bottom: 0px;
        position: absolute;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      }
    }
  }

  .desc-prop-v2{
    display: inline-block;
    width: 70%;
    padding: 10px 15px;

    .title-box{
      width: 100%;
      display: inline-block;
      padding: 0px 0px 10px 0px;
      border-bottom: 1px solid #DEDEDE;
      margin-bottom: 10px;

      .address{
        font-size: 12px;
        color: #777777;
      }

      span{
        color: #333333;
        font-size: 17px;
      }

    }

    .box-desc-body{
      display: inline-block;
      width: 50%;
    }

    .well{
      padding: 10px;
    }

    .price{
      color: #43A048!important;
      font-size: 16px;
    }

    .box-title-top{
      border: 1px dashed #EAEAEA;
      padding: 15px;
      margin-bottom: 20px;
      &.last-desc-body{
        padding: 0px 20px;
        border-right: 0px;
      }

      .info{
        width: 100%;
        margin-bottom: 10px;
        color: #777777;

        span{
          color: #333333;
          font-weight: bold;
        }
      }
    }
  }
}

.other-property{
  margin-top: 20px;
  margin-bottom: 20px;

  .title-property {
    border-bottom: 1px solid #ececec;
    margin: 15px 0;

    .title-highlight {
      border-top: 4px solid #269abc;
      width: 30px;
      content: "";
      display: block;
      height: auto;
      clear: both;
    }
  }

  .other-property-wrapper{
    margin-top: 10px;

    .body-box{
      position: relative;
      border:solid 1px #eee;
      background-color: $color-white;
      height: 300px;

      .box-label{
        position: absolute;
        height: auto;
        background-color: #43A048;
        padding-right: 5px;
        padding-left: 5px;
        margin-top: -10px;
        margin-left: 9px;

        .label{
          font-size: 12px;
          font-weight: bold;
          color:#fff;
        }
      }

      .box-image{
        overflow: hidden;
        width: 100%;
        height: 170px;
        position: relative;
        padding: 9px;
        border-bottom: 1px dashed #eaeaea;

        img{
          width: 100%;
          height: 100%;
        }

        .date{
          position: absolute;
          bottom: 10px;
          left: 0px;
          background-color: rgba(0, 0, 0, 0.54);
          padding: 5px;
          margin-left: 9px;

          span{
            font-size: 10px;
            color: white;
          }
        }
      }

      .desc-other-property{
        padding: 9px;

        .title{
          font-size: 15px;
          font-weight: bold;
          color: black;
          margin-bottom: 10px;
          display: inline-block;
        }

        .other-price{
          color: #43A048;
          float: right;
          font-size: 15px;
          margin-bottom: 10px;
          width: 100%;
        }

        .other-location{
          color: #aaa;
          float: right;
          font-size: 12px;
          margin-bottom: 0;
          width: 100%;
        }
      }
    }
  }
}

.blog-home-default{
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-property {
  border-bottom: 1px solid #ececec;
  margin: 15px 0;

  &:after {
    content: "";
    display: block;
    height: auto;
    clear: both;
  }

  h2 {
    margin: 0;
    padding: 15px 0;
    float: left;
    font-size: 18px;
  }

  .title-highlight {
    border-top: 4px solid #269abc;
    width: 30px;
    content: "";
    display: block;
    height: auto;
    clear: both;
  }
}

.btn-report-side{
  width: 100%!important;
}

.box-share{
  display: inline-block;
  margin-top: 20px;
  width: 100%;

  .whislist{
    float: left;
    width: 25%;

    .fa{
      font-weight: bold;
      font-size: 30px;
      color: #CB2325;
    }
  }

  .block-share-new{
    width: 75%;
    float: right;
  }
}

/********************************/
/*       Package page           */
/********************************/
.package-rumahdaku-cover{
  background: url(/assets/cover-package.png);
  background-position: 0 50%;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  z-index: 1;
  display: block;
  position: relative;
  padding: 150px 0px 70px;
  margin-top: -100px;

  &:after{
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .title{
    font-size: 30px;
    text-align: center;
    color: $color-white;
    margin-bottom: 20px;
  }

  .description{
    text-align: center;
    color: $color-white;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 30px;
  }
}

.package-rumahdaku-pricing{
  display: inline-block;
  width: 100%;
  background-color: $color-white;
  padding: 30px;

  .title-top-pricing{
    font-size: 30px;
    color: #333333;
    margin-bottom: 30px;
    text-align: center;
  }

  .box-pricing-package-wrapper{
    display: inline-block;
    width: 100%;
    margin: auto;
    display: table;

    .box-pricing{
      display: inline-block;
      float: left;
      width: 50%;

      .listing-title-top{
        background-color: #382C7E;
        padding: 20px 0px;
        border: 1px solid #1C1352;
        margin-bottom: 15px;
        border-radius: 0px;
        text-align: center;

        .triangle{
          z-index: 0;
          position: absolute;
          top: 22.7%;
          margin-left: 20%;
          content: '';
          width: 0;
          height: 0;
          border-top: solid 33px #382C7E;
          border-left: solid 40px transparent;
          border-right: solid 40px transparent;
        }

        span{
          color: $color-white;
          font-size: 17px;

          &.price-color{
            color: #FCB64E;
            font-size: 25px;
            font-weight: bold;
          }
        }

        sup{
          color: #FCB64E;
          top: -10px;
          left: 6px;
          font-size: 15px;
        }
      }

      .listing-pricing-package{
        display: inline-block;
        width: 100%;
        border: 1px solid #E2E2E2;

        ul{
          width: 100%;
          padding-left: 0px;
          padding: 0px 20px;

          li{
            list-style: none;
            width: 100%;
            padding: 20px;
            text-align: center;
            border-bottom: 1px solid #E2E2E2;
            color: #888888;

            &:last-child{
              border-bottom: 0px;
            }
          }
        }
      }
    }
  }
}

/********************************/
/*   Modal Join Package         */
/********************************/
.modal-join-package{
  display: inline-block;
  background-color: $color-white;
  position: relative;
  padding: 10px;
  border-radius: 5px;

  .title-join-package{
    display: inline-block;
    width: 100%;
    background-color: #382C7E;
    color: $color-white;
    padding: 20px 10px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
  }

  .close-join-package{
    position: absolute;
    right: -10px;
    width: 30px;
    height: 30px;
    top: -10px;
    background-color: $color-white;
    border: 1px solid #EAEAEA;
    padding: 10px;
    border-radius: 50%;
    z-index: 999;

    button{
      color: #333333;
      margin-top: -11px;
      margin-right: -5px;
      font-size: 30px;
    }
  }
}

/********************************/
/*   Confirmation Package       */
/********************************/
.confirmation-package-rumahdaku{
  display: inline-block;
  width: 100%;
  background-color: $color-white;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;

  .box-title-top{
    border: 1px dashed #EAEAEA;
    padding: 15px;
    margin-bottom: 20px;

    .title{
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 0;
      line-height: 28px;
      text-align: center;
    }

    .description{
      font-size: 14px;
      line-height: 30px;
    }

    .box-payment-atm{
      display: inline-block;
      width: 100%;

      .box-payment{
        background: #FBFBFB;
        border: 1px dashed #EAEAEA;
        width: 100%;
        padding: 15px;
        border-radius: 10px;

        .img-payment{
          overflow: hidden;
          margin: auto;
          display: table;
          margin-bottom: 10px;

          img{
            width: 77px;
            height: 40px;
          }
        }

        span{
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          margin: auto;
          display: table;
          margin-bottom: 10px;
        }

        .name{
          font-size: 20px;
          text-align: center;
        }

        .no-transaction{
          font-size: 14px;
          text-align: center;
        }
      }
    }

  }

  .sub-panel-heading {
    background: #F5F5F5;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 10px 15px;
    margin-bottom: 20px;
  }

  .control-label{
    font-weight: bold!important;
    text-align: right;
  }
}

/********************************/
/*   Userpage card dashboard    */
/********************************/
.card-dashboard-member{
  display: inline-block;
  width: 100%;

  .card-body{
    display: inline-block;
    width: 100%;
    background-color: $color-white;
    padding: 10px 0px;
    border: 1px dashed #EAEAEA;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .title{
      text-align: center;
      color: #382C7E;
      margin-bottom: 35px;

      span{
        font-size: 20px;
      }
    }

    .image{
      overflow: hidden;
      border-radius: 50%;
      border: 5px solid #EDF7F2;
      width: 150px;
      height: 150px;
      margin: auto;
      display: table;
      margin-bottom: 30px;

      img{
        width: 100%;
        height: auto;
      }
    }

    .description{
      text-align: center;
      margin-bottom: 30px;

      .name{
        color: #382C7E;
        font-size: 25px;
        font-weight: bold;
      }

      .brand{
        color: #382C7E;
        font-size: 20px;
        margin-bottom: 5px;
      }

      .status{
        color: #4C9DEB;
        font-size: 15px;
      }
    }
  }

  .card-footer{
    display: inline-block;
    width: 100%;
    background-color: #382C7E;
    padding: 30px 0px;
    border-top: 5px solid #FCB64E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .box-card-list{
      width: 33.333%;
      float: left;

      .title{
        font-size: 18px;
        color: $color-white;
        text-align: center;
        margin-bottom: 10px;
      }

      .description{
        color: $color-white;
        text-align: center;
      }
    }
  }
}

/********************************/
/*   Payment method ATM         */
/********************************/
.payment-method-atm{
  display: inline-block;
  width: 100%;
  background-color: $bg-grey-smooth;
  margin-top: 40px;
  margin-bottom: 50px;
  position: relative;

  .title-top{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }

  .box-payment-atm{
    display: inline-block;
    width: 100%;

    .box-payment{
      background: #fff;
      border: 1px dashed #EAEAEA;
      width: 100%;
      padding: 15px;

      .img-payment{
        overflow: hidden;
        margin: auto;
        display: table;
        margin-bottom: 10px;

        img{
          width: 77px;
          height: 40px;
        }
      }

      span{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin: auto;
        display: table;
        margin-bottom: 10px;
      }

      .name{
        font-size: 20px;
        text-align: center;
      }

      .no-transaction{
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.listing-agent-wrapper{
  background-color: $bg-grey-smooth;
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;

  .box-header-agent{
    display: inline-block;
    width: 100%;

    .title-agent{
      font-size: 25px;
      color: #382C7E;
      font-weight: bold;
    }
  }

  .box-body-agent{
    display: inline-block;
    width: 100%;

    .box-agent-rumahdaku{
      display: inline-block;
      width: 100%;
      border-radius: 5px;
      background-color: $color-white;
      border: 1px solid #EAEAEA;
      margin-bottom: 20px;

      .images-agent-big{
        width: 30%;
        float: left;
        height: 217px;
        margin: auto;
        display: table;

        .images-agent{
          display: inline-block;
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 50%;
          margin-top: 20px;
          margin-left: 30px;
          border: 5px solid #F2F2F2;

          img{
            width: 100%;
            height: auto;
          }
        }
      }

      .box-desc-agent{
        display: inline-block;
        width: 70%;
        float: left;
        padding: 10px;

        .desc-agent-title{
          display: inline-block;
          width: 100%;
          border-bottom: 1px dashed #EAEAEA;
          margin-bottom: 10px;
          padding: 5px 0px;

          .name-agent{
            float: left;
            width: 60%;

            span{
              font-size: 17px;
              font-weight: bold;
              padding-left: 0px;
              color: #000000;
            }

            .listing-active{
              font-size: 10px;
              color: #868686;
            }
          }

          .label-agent{
            width: 40%;
            float: right;
            padding-right: 0px;
            background-color: #382C7E;
            padding: 5px 9px;

            .agent{
              font-size: 12px;
              color: $color-white;
            }
          }
        }

        .desc-agent-bottom{
          display: inline-block;
          width: 100%;

          .desc-agent-left{
            width: 60%;
            float: left;

            .list-info{
              width: 100%;
              margin-bottom: 5px;
              font-size: 12px;
            }
          }

          .desc-agent-right{
            width: 40%;
            float: right;

            .images-box-property-agent{
              overflow: hidden;
              width: 50%;
              height: 60px;
              float: left;
              border: solid 1px #F5F5F5;

              img{
                width: 100%;
                height: 100%;
              }

              &:last-child{
                width: 100%;
                height: 70px;

                img{
                  width: 100%;
                  height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/********************************/
/*  Slide carousel agent        */
/********************************/
.agent-list-home{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $bg-grey-smooth;

  #slide-agent-listing .item{
    background: $color-white;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #EAEAEA;

    &:hover{
      background-color: #F9F9F9;
    }

    .box-image-avatar{
      margin: auto;
      overflow: hidden;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid #EAEAEA;
      margin-bottom: 20px;

      img{
        width: 100%;
        height: auto;
      }
    }

    .name-agent{
      font-size: 20px;
      font-weight: bold;
      color: $color-rumahdaku-one;
    }

    .name-group{
      color: #777;
    }
  }
}
