<h4>Daftar Invoice (<%= @order_packages.size %>)</h4>
<hr>
<br>
<% if @collection.present? %>
  <div class='table-responsive'>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th> Kode Invoice</th>
          <th> Invoice</th>
          <th> Harga</th>
          <th> Status</th>
          <th> Dibuat</th>
          <th> Kadaluarsa</th>
          <th> Action</th>
        </tr>
      <tbody>
        <% @collection.each_with_index do |resource, index| %>
          <tr> 
            <td><%= resource.code %></td>
            <td>
              <b>
                Paket <%= resource.package_name.titleize %>
              </b>
            </td>
            <td>
              <b><%= number_to_currency_br(resource.price) if resource.price.present? %></b>
            </td>
            <td><%= resource.status? %></td>
            <td><%= resource.updated_at.strftime("%B, %d, %Y") %></td>
            <td><%= (resource.updated_at + 1.year).strftime("%B, %d, %Y") %></td>
            <td>
              <%= link_to '<div class="fa fa-eye"></div>'.html_safe, resource_path(resource), class: 'btn btn-xs btn-info' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @collection %>
<% else %>
  <p class='alert alert-danger' align='center'>
    Tidak ada invoice baru!
  </p>
<% end %>