<% @order = resource %>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4 class='text-center uppercase'>
      No Invoice <strong><%= @order.code %></strong>
    </h4>
    <center class='small'>
      <b>Tanggal Dibuat : </b> <%= @order.updated_at.strftime("%B, %d, %Y") %>
      <br>
      <b>Tanggal Berakhir : </b> <%= (@order.updated_at + 1.year).strftime("%B, %d, %Y") %>
    </center>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-6'>
        <h5 class='uppercase'>Invoice Untuk</h5>
        <b><%= link_to @order.try(:user).try(:username) || @order.try(:user).try(:profile).try(:full_name), user_path(@order.try(:user)) %> (<%= @order.try(:user).try(:email) %>)</b>
        <br>
        <br>
        Status Pembayaran : &nbsp; <%= @order.status? %>
        <br>
        Telepon :
        <br>
        <%= @order.try(:user).try(:contact).try(:handphone) %>
      </div>
      <div class='col-md-6'>
        <%= image_tag @order.try(:user).try(:agent_info).try(:ktp).url(:large), class: 'id-card' %>
      </div>
      <div class='col-md-12'>
        <div class='catalog-item-show'>
          <div class='table-responsive table-order-list'>
            <table class="table table-striped">
              <thead>
                <tr>
                  <td width="35%">
                    <strong>Nama Paket</strong>
                  </td>
                  <td class="text-center">
                    <strong>Durasi</strong>
                  </td>
                  <td class="text-center">
                    <strong>Tanggal Dibuat</strong>
                  </td>
                  <td class="text-center">
                    <strong>Tanggal Berakhir</strong>
                  </td>
                  <td width="14%" class="text-right">
                    <strong>Harga</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span><%= @order.package_name.titleize %></span>
                  </td>
                  <td class='text-center'>1 Year</td>
                  <td class='text-center'>
                    <span>
                      <%= @order.updated_at.strftime("%H:%M %B, %d, %Y") %>
                    </span>
                  </td>
                  <td class='text-center'>
                    <span>
                      <%= (@order.updated_at + 1.year).strftime("%B, %d, %Y") %>
                    </span>
                  </td>
                  <td>
                    <span class='pull-right'>
                      <%= number_to_currency_br(@order.price) %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td class="highrow"></td>
                  <td class="highrow"></td>
                  <td class="highrow"></td>
                  <td class="highrow text-center">
                    <h5>Total Bayar</h5>
                  </td>
                  <td class="highrow text-right">
                    <h5><%= number_to_currency_br(@order.price) %></h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @order.user.agent_verify? && @order.expired? ||  @order.act_new_order? %>
  <div class='atm-payment-package'>
    <div class='alert alert-warning'>Silahkan Lakukan Pembayaran Ke Salah Satu Rekening Kami Yang Tersedia, Lalu Konfirmasi Pembayaran Anda!</div>
    <div class="payment-method-atm">
      <div class="title-top">
        Rekening Tersedia
      </div>
      <div class="box-payment-atm">
        <div class='row'>
          <% @setting.payments.each do |p| %>
            <div class="col-md-4">
              <div class="box-payment">
                <div class="img-payment">
                  <%= image_tag p.logo.url, alt: 'Situs jual beli rumah di Indonesia' %>
                </div>
                <span><%= p.bank_name %></span>
                <div class="name">
                  <%= p.name %>
                </div>
                <div class="no-transaction">
                  <%= p.account_number %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to 'Konfirmasi Pembayaran', new_confirmation_path, class: "btn btn-lg btn-danger btn-confirm" %>
  </div>
<% end %>
