<div class="row">
  <div class="col-md-12">
    <h6>Logo</h6>
    <%= image_tag f.object.logo.url(:small), class: 'show-choice customize-img-web-setting' %>
    <%= f.file_field :logo, class: 'input-file', required: true %>
  </div>
  <div class="col-md-12">
    <h6>Title</h6>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="col-md-12">
    <h6>Link</h6>
    <%= f.text_field :link, class: 'form-control', required: true  %>
  </div>
</div>
