<div class="add_block">
  <% the_role = eval(resource.the_role) %>
  <% role_levels = the_role.present? ? the_role : {"0" => 0} %>
  <% role_levels.each do |section, rule| %>
    <% level_field = "role[]" %>
    <div class="block-container">
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <a href="" class='close remove_block'>&times;</a>
            <h6>Select Module</h6>
            <%= select_tag("#{level_field}[the_role]", options_for_select(@modules, ''), {prompt: '', class: "form-control"}) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h6>Permission List</h6>
              <% @permissions.each do |permission| %>
                  <%= check_box_tag "#{level_field}[permission][]", permission, false, {multiple: true,class: "checkbox", selected: ''} %>
                  <%= permission.titleize %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>