<div class="col-md-12">
  <div class="panel">
    <div class="panel-default">
      <div class="panel-heading bittersweet-soft">
        <h3><div class="panel-title"> Create Section / Controller</div></h3>
      </div>
      <div class="panel-body">
        <%= form_tag backend_role_sections_path(resource), method: :post, class: 'form-stateable' do |f| %>
          <div class="form-group">
            <h6>Section Name</h6>
            <%= select_tag(:section_name, options_for_select(@modules, ''), {prompt: '', class: "form-control", required: true}) %>
          </div>
          <div class="form-group">
            <div class="buttons">
              <button class="btn btn-sm btn-info" type="submit">Save</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>