<% @user %>
<% @profile = @user.try(:profile) %>
<% @address = @user.try(:address) %>
<%= background = 'banner-header-page.jpg' if @user.profile.cover_file_name == nil %>
<% background = @user.profile.cover.url unless @user.profile.cover_file_name == nil %>
<% cache ["user_cover_header_#{@user.id}_#{@user.updated_at.to_time.to_i}"] do %>
  <section class="header-second-page">
    <div class="box-image-header-userpage" style="background-image: url('<%= image_url background %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="header-desc-user">
            <%= link_to user_path(@user) do %>
              <div class="box-image-cover-user-top">
                <div class="image-cycle">
                  <div class="box-user-image-cycle float-none margin-none">
                    <%= image_tag "#{@user.try(:profile).try(:avatar).url(:small)}", class: 'host-profile-image' %>
                  </div>
                </div>
                <% if @user.agent_verify? %>
                  <div class="box-label-agent-verified">
                    <span><i class="fa fa-star"></i> Agen Terverifikasi</span>
                  </div>
                  <div class="triangle"></div>
                <% end %>
              </div>
            <% end %>
            <br>
            <%= link_to user_path(@user) do %>
              <h3><%= @user.try(:profile).try(:full_name) %></h3>
            <% end %>
            <span class="uppercase">
              ID <%= @user.try(:code) %>
            </span>
            <div class="text-muted small">
              Terdaftar Sejak <%= @user.try(:created_at).strftime("%B, %d, %Y") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<div class="container">
  <div class='ads'>
    <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- detail-user-top-rumahdaku -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8140461930329474"
         data-ad-slot="5361714543"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
