<div class="nav-sidebar-users-left">
  <nav class="nav-sidebar-left">
    <ul class="nav tabs">
      <li class="<%= active_sidebar_active?(:users, :show) %>">
        <%= link_to user_path(@user) do %>
          <i class="fa fa-home"></i>
          &nbsp;&nbsp;Dashboard
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:users, :reviews) %>">
        <%= link_to reviews_user_path(@user) do %>
          <i class="fa fa-quote-right"></i>
          &nbsp;&nbsp;Reviews
        <% end %>
      </li>
    </ul>
  </nav>
</div>