<% user = @user %>
<% profile = user.try(:profile) %>
<% contact = user.try(:contact) %>
<% address = user.try(:address) %>

<div class="col-md-4">

  <% if @user.agent? %>
    <% @agent_info = @user.try(:agent_info) %>
    <div class="sidebar-auction-detail-wrapper">
      <div class="box-for-wrapper">
        <div class="title">
          Informasi Perusahaan
        </div>
        <hr class="hr-small">
        <ul>
          <%= image_tag @agent_info.try(:company_logo).url(:medium), class: 'company-logo' %>
          <% if @agent_info.name_company.present? %>
            <li>
              <span><%= @agent_info.try(:name_company) %></span>
            </li>
          <% end %>
          <p><%= @user.try(:agent_info).try(:description) %></p>
          <% if @agent_info.specialist_property.present? %>
            <li>
              <span>Spesialis Properti: <br><b><%= @agent_info.try(:specialist_property) %></b></span>
            </li>
          <% end %>
          <% if @agent_info.specialist_area.present? %>
            <li>
              <span>Spesialis Area: <br><b><%= @agent_info.try(:specialist_area) %></b></span>
            </li>
          <% end %>
          <% if contact.website.present? %>
            <li>
              <i class="fa fa-globe"></i>
              <span><a href="<%= @agent_info.try(:company_web) %>" target="_blank"> <%= @agent_info.try(:company_web) %></a></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="sidebar-auction-detail-wrapper">
    <div class="box-for-wrapper">
      <div class="title">
        Informasi Kontak <%= user.type %>
      </div>
      <hr class="hr-small">
      <ul>
        <% if contact.phone.present? %>
          <li>
            <i class="fa fa-phone"></i>
            <span><%= contact.try(:phone) %></span>
          </li>
        <% end %>
        <% if contact.handphone.present? %>
          <li>
            <i class="fa fa-mobile"></i>
            <span><%= contact.try(:handphone) %></span>
          </li>
        <% end %>
        <% if contact.pin.present? %>
          <li>
            <%= image_tag 'bbm.png' %>
            <span><%= contact.try(:pin) %></span>
          </li>
        <% end %>
        <% if user.email.present? %>
          <li>
            <i class="fa fa-envelope"></i>
            <span><a href="mailto:<%= user.email %>"><%= user.email %></a></span>
          </li>
        <% end %>
        <% if address.address.present? %>
          <li>
            <span class="fa fa-map-marker"></span>
            <small><%= address.place_info_user %></small>
          </li>
        <% end %>
        <% if contact.website.present? %>
          <li>
            <i class="fa fa-globe"></i>
            <span><a href="<%= contact.try(:website) %>" target="_blank"> <%= contact.try(:website) %></a></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="ads">
    <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- user-sidebar-rumahdaku -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8140461930329474"
         data-ad-slot="6748036144"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br>
  </div>
  
  <div class="contact-user-to-fixed">
    <center class="contact-user-font-section">
      <h4 class="title">Kirim Pesan</h4>
      <div class="line-through"></div>
      <div class="bottom">
        <%= form_for Inquiry.new, url: inquiries_path, method: 'post' do |f| %>
          <%= f.hidden_field :owner_id, value: user.try(:id) %>
          <%= render 'shareds/messages/form', f: f %>
        <% end %>
      </div>
    </center>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group grid-controls-action-show-property">
          <button class="btn btn-info click-block-share-social btn-full">
            <i class="fa fa-share-alt"></i> Bagikan
          </button>
        </div>
        <div class="block-share-social">
          <span class='st_sharethis_large' displayText='ShareThis'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_pinterest_large' displayText='Pinterest'></span>
          <span class='st_email_large' displayText='Email'></span>
        </div>
      </div>
    </div>
  </div>
</div>

