<div class="nav-top-user">
  <div class="container">
    <ul>
      <li class="<%= active_sidebar_active?(:users, :show) %>">
        <%= link_to user_path(@user) do %>
          <i class="fa fa-home"></i>
          &nbsp;Dashboard
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:users, :reviews) %>">
        <%= link_to reviews_user_path(@user) do %>
          <i class="fa fa-quote-right"></i>
          &nbsp;Comments & Reviews
        <% end %>
      </li>
      <% if @user.agent? %>
        <li class="<%= active_sidebar_active?(:users, :about_company) %>">
          <%= link_to about_company_user_path(@user) do %>
            <i class="fa fa-building"></i>
            &nbsp;About Company
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>