<%= f.fields_for :payments do |p| %>
  <%= render 'payments_fields', f: p %>
<% end %>

<div class="col-md-12">
  <%= link_to_add_association f, :payments, partial: 'payments_fields', class: "btn btn-success btn-sm" do %>
    <i class="fa fa-picture-o"></i>
    <span>Add Payment Account</span>
  <% end %>
</div>
