<div class="col-md-6 nested-fields">
  <div class="section-pic">
    <div class="row">
      <div class="col-md-4">
        <h6>Logo bank</h6>
        <div class="customize-img-web-setting-2">
          <%= image_tag f.object.logo.url, id: 'view_img' %>
        </div>
        <%= f.file_field :logo %>
      </div>
      <div class="col-md-8">
        <%= link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right' %>
        <h6>Bank name</h6>
        <%= f.text_field :bank_name, class: 'form-control', required: true %>
      </div>
      <div class="col-md-8">
        <h6>Name</h6>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
      <div class="col-md-4">
        <h6>Account Number</h6>
        <%= f.text_field :account_number, class: 'form-control', required: true %>
      </div>
      <div class="col-md-4">
        <h6>Position</h6>
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
