<% amenities = resource.try(:amenities) %>
<section class="utilities">
	<h2 class="heading text-uppercase">Flat Amenities</h2>
	<% amenities.each do |amenity| %>
		<span class="entity <%= amenity.exist_hidden? %>">
			<span class="entity-left">
				<%= amenity.icon.html_safe if amenity.icon.present? %>
			</span>
			<span class="entity-right">
				<span class="text"><%= amenity.title %></span>
				<br>
				<span class="value">
					<span><%= amenity.exist? %></span>
				</span>
			</span>
		</span>
	<% end %>
</section>
