<% basic = resource.try(:basic_property) %>
<section class="basic">
	<h2 class="heading text-uppercase">Spesifikasi</h2>
	<span class="entity">
		<span class="entity-left">
			<i class="fa fa-bookmark-o"></i>
		</span>
		<span class="entity-right">
			<span class="text">Properti</span>
			<br>
			<span class="value">
				<span><%= resource.try(:type_property) %></span>
			</span>
		</span>
	</span>
	<span class="entity">
		<span class="entity-left">
			<i class="fa fa-calendar"></i>
		</span>
		<span class="entity-right">
			<span class="text">Dibuat</span>
			<br>
			<span class="value">
				<span><%= resource.try(:created_at).strftime("%b, %d, %Y") %></span>
			</span>
		</span>
	</span>
	<% unless resource.the_rent? %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-money"></i>
			</span>
			<span class="entity-right">
				<span class="text">Harga</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= number_to_currency_br(resource.price) %>
					</span>
				</span>
			</span>
		</span>
	<% end %>

	<% if resource.the_rent? %>
		<% if resource.type_property == 'Rumah' || resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-tags"></i>
				</span>
				<span class="entity-right">
					<span class="text">Harga Sewa Per Hari</span>
					<br>
					<span class="value">
						<i class="icon icon-rupee"></i>
						<span>
							<%= number_to_currency_br(basic.price_day) if basic.price_day.present? %>
						</span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Tanah' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-tags"></i>
				</span>
				<span class="entity-right">
					<span class="text">Harga Sewa Per Bulan</span>
					<br>
					<span class="value">
						<i class="icon icon-rupee"></i>
						<span>
							<%= number_to_currency_br(basic.price_month) if basic.price_month.present? %>
						</span>
					</span>
				</span>
			</span>
		<% end %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-tags"></i>
			</span>
			<span class="entity-right">
				<span class="text">Harga Sewa Per Tahun</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= number_to_currency_br(basic.price_year) if basic.price_year.present? %>
					</span>
				</span>
			</span>
		</span>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-shield"></i>
			</span>
			<span class="entity-right">
				<span class="text">Keamanan</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= number_to_currency_br(basic.price_security) if basic.price_security.present? %>
					</span>
				</span>
			</span>
		</span>
		<% unless resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-slack"></i>
				</span>
				<span class="entity-right">
					<span class="text">Luas Tanah</span>
					<br>
					<span class="value">
						<span><%= basic.try(:surface_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Rumah' || resource.type_property == 'Villa' || resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-building-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Luas Bangunan</span>
					<br>
					<span class="value">
						<span><%= basic.try(:building_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-chevron-circle-up"></i>
				</span>
				<span class="entity-right">
					<span class="text">Lantai</span>
					<br>
					<span class="value">
						<span><%= basic.try(:floor) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Rumah' || resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-bed"></i>
				</span>
				<span class="entity-right">
					<span class="text">Kamar Tidur</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bedrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Rumah' || resource.type_property == 'Apartemen' || resource.type_property == 'Ruko' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-yelp"></i>
				</span>
				<span class="entity-right">
					<span class="text">Kamar Mandi</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bathrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
			<% end %>
		<% unless resource.type_property == 'Tanah' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-clock-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Tahun di Bangun</span>
					<br>
					<span class="value">
						<span>Tahun <%= basic.try(:age) %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Rumah' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-car"></i>
				</span>
				<span class="entity-right">
					<span class="text">Garasi</span>
					<br>
					<span class="value">
						<span><%= basic.try(:garage) rescue '--' %></span>
					</span>
				</span>
			</span>
			<% end %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-location-arrow"></i>
			</span>
			<span class="entity-right">
				<span class="text">Posisi</span>
				<br>
				<span class="value">
					<span><%= basic.try(:facing) rescue '--' %></span>
				</span>
			</span>
		</span>
	<% end %>

	<% unless resource.the_rent? %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-files-o"></i>
			</span>
			<span class="entity-right">
				<span class="text">Dokumen</span>
				<br>
				<span class="value">
					<i class="icon icon-rupee"></i>
					<span>
						<%= basic.document %>
					</span>
				</span>
			</span>
		</span>
		<% if resource.type_property == 'Apartemen' ||
					resource.type_property == 'Tanah' ||
					resource.type_property == 'Perkantoran' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-tags"></i>
				</span>
				<span class="entity-right">
					<span class="text">Luas Per Meter</span>
					<br>
					<span class="value">
						<i class="icon icon-rupee"></i>
						<span>
							<%= number_to_currency_br(basic.price_in_meter) if basic.price_in_meter.present? %>/Meter
						</span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Perkantoran' || resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-slack"></i>
				</span>
				<span class="entity-right">
					<span class="text">Luas Tanah</span>
					<br>
					<span class="value">
						<span><%= basic.try(:surface_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Tanah' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-building-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Luas Banguanan</span>
					<br>
					<span class="value">
						<span><%= basic.try(:building_area) rescue '--' %>m<sup>2</sup></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Tanah' ||
							resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-bolt"></i>
				</span>
				<span class="entity-right">
					<span class="text">Listrik</span>
					<br>
					<span class="value">
						<span><%= basic.try(:electricity) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Tanah' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-random"></i>
				</span>
				<span class="entity-right">
					<span class="text">Kabel Telepon</span>
					<br>
					<span class="value">
						<span><%= basic.try(:phone_lines) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Apartemen' || resource.type_property == 'Rumah' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-bed"></i>
				</span>
				<span class="entity-right">
					<span class="text">Kamar Tidur</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bedrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-yelp"></i>
				</span>
				<span class="entity-right">
					<span class="text">Kamar Mandi</span>
					<br>
					<span class="value">
						<span><%= basic.try(:bathrooms) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-car"></i>
				</span>
				<span class="entity-right">
					<span class="text">Tempat Parkir</span>
					<br>
					<span class="value">
						<span><%= basic.try(:parking) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Rumah' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-car"></i>
				</span>
				<span class="entity-right">
					<span class="text">Garasi</span>
					<br>
					<span class="value">
						<span><%= basic.try(:garage) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% unless resource.type_property == 'Tanah' ||
							resource.type_property == 'Apartemen' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-clock-o"></i>
				</span>
				<span class="entity-right">
					<span class="text">Tahun di Bangun</span>
					<br>
					<span class="value">
						<span>Tahun <%= basic.try(:age) %></span>
					</span>
				</span>
			</span>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-location-arrow"></i>
				</span>
				<span class="entity-right">
					<span class="text">Posisi Bangunan</span>
					<br>
					<span class="value">
						<span><%= basic.try(:facing) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
		<% if resource.type_property == 'Apartemen' || resource.type_property == 'Rumah' || resource.type_property == 'Ruko' %>
			<span class="entity">
				<span class="entity-left">
					<i class="fa fa-chevron-circle-up"></i>
				</span>
				<span class="entity-right">
					<span class="text">Lantai</span>
					<br>
					<span class="value">
						<span><%= basic.try(:floor) rescue '--' %></span>
					</span>
				</span>
			</span>
		<% end %>
	<% end %>

	<% if resource.type_property == 'Tanah' %>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-arrows-v"></i>
			</span>
			<span class="entity-right">
				<span class="text">Panjang Tanah</span>
				<br>
				<span class="value">
					<span><%= basic.try(:long_land) rescue '--' %>m<sup>2</sup></span>
				</span>
			</span>
		</span>
		<span class="entity">
			<span class="entity-left">
				<i class="fa fa-arrows-h"></i>
			</span>
			<span class="entity-right">
				<span class="text">Lebar Tanah</span>
				<br>
				<span class="value">
					<span><%= basic.try(:width_land) rescue '--' %>m<sup>2</sup></span>
				</span>
			</span>
		</span>
	<% end %>
</section>
<div class="break"></div>
