<div class="row">
  <div class="col-xs-12">
    <div class="slider">
      <div id="slider-product" class="flexslider">
        <ul class="slides">
          <% if resource.sold? %>
            <%= image_tag 'sold-out.png', class: 'expired-label' unless resource.the_rent? %>
          <% end %>
          <% resource.galleries.available.each do |g| %>
            <li>
              <%= image_tag g.file.url(:large), alt: 'Situs jual rumah di Indonesia' %>
              <div class="preview-image">
                <%= image_tag 'icon-max.png', 'data-sgallery' => 'RumahDaku', title: 'Photo Properti', alt: 'Situs jual rumah di Indonesia', 'data-full' => "#{ g.file.url(:large) }", 'data-toggle' => 'magnify', 'data-thumb' => "#{ g.file.url(:large) }" %>
              </div>
            </li>
          <% end %>
          <% if resource.galleries.available.blank? %>
            <li>
              <%= image_tag 'no-image.png', alt: 'Situs jual rumah di Indonesia' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="carousel-product" class="flexslider">
        <ul class="slides">
          <% resource.galleries.available.each do |g| %>
            <li>
              <%= image_tag g.file.url(:small), alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
            </li>
          <% end %>
          <% if resource.galleries.available.blank? %>
            <li>
              <%= image_tag 'no-image.png', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>



