<section>
  <!-- The carousel -->
  <div id="transition-timer-carousel" class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% resource.try(:galleries).each_with_index do |g, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag g.try(:file).url(:large), alt: "#{resource.title}" %>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <!-- Timer "progress bar" -->
    <hr class="transition-timer-carousel-progress-bar animate" />

    <div class="main-text">
      <div class="text-center">
        <% if resource.sold? %>
          <%= image_tag 'sold-out.png', class: 'expired-label' unless resource.the_rent? %>
        <% end %>
        <h1><%= resource.try(:title) %></h1>
        <p>
          <%= resource.try(:category) %> <%= resource.try(:type_property) %><br>
          <span class="uppercase">Flat Id: <%= resource.try(:code) %></span>
        </p>
        <button class="btn btn-alert btn-create-sell">
          <span>
            <%= number_to_currency_br(resource.auction.starting_bid) %> <small class="color-grey"> Starting Price</small>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>

