<script type="text/javascript">
  $(function(){
    var map;
    var locationStart;
    var geocoder;
    var bounds = new google.maps.LatLngBounds();
    var markersArray = [];
    var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
    var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';
    types = <%= raw @types_location %>

    place = document.getElementById("mapShowProperty").dataset.placename;
    price = document.getElementById("mapShowProperty").dataset.price;
    latitude = document.getElementById("mapShowProperty").dataset.latitude;
    longitude = document.getElementById("mapShowProperty").dataset.longitude;
    image = document.getElementById("mapShowProperty").dataset.image;
    category_type = document.getElementById("mapShowProperty").dataset.categorytype;
    detail_property = document.getElementById("mapShowProperty").dataset.detailproperty;
    price_in_meter = document.getElementById("mapShowProperty").dataset.priceinmeter;
    var iconBase = "<%= root_url %>assets/marker/";
    var icons = {
      'Apartment': {
        icon: iconBase + 'Apartment.png'
      },
      'Commercial Business': {
        icon: iconBase + 'Commercial Business.png'
      },
      'Condotel': {
        icon: iconBase + 'Condotel.png'
      },
      'Factory': {
        icon: iconBase + 'Factory.png'
      },
      'House': {
        icon: iconBase + 'House.png'
      },
      'Land': {
        icon: iconBase + 'Land.png'
      },
      'Office Tower': {
        icon: iconBase + 'Office Tower.png'
      },
      'Office': {
        icon: iconBase + 'Office.png'
      },
      'Ruko': {
        icon: iconBase + 'Ruko.png'
      },
      'Warehouse': {
        icon: iconBase + 'Warehouse.png'
      }
    };
    type_name = {
        'airport': 'Airports',
        'train_station': 'Train Stations',
        'bus_station': 'Bus Stations',
        'bank': 'Banks',
        'hospital': 'Hospitals',
        'school': 'Schools',
        'park': 'Parks',
        'restaurant': 'Restaurants',
        'movie_theater': 'Movie Theaters',
        'bar': 'Bars',
        'department_store': 'Department Stores',
        'pharmacy': 'Pharmacies',
        'shopping_mall': 'Shopping Malls'
      }

    asset_icons = {
      'Airports': {
        icon: iconBase + 'airport.png'
      },
      'Train Stations': {
        icon: iconBase + 'train.png'
      },
      'Bus Stations': {
        icon: iconBase + 'bus.png'
      },
      'Banks': {
        icon: iconBase + 'bank.png'
      },
      'Hospitals': {
        icon: iconBase + 'hospital.png'
      },
      'Schools': {
        icon: iconBase + 'school.png'
      },
      'Parks': {
        icon: iconBase + 'park.png'
      },
      'Restaurants': {
        icon: iconBase + 'restaurant.png'
      },
      'Movie Theaters': {
        icon: iconBase + 'movie.png'
      },
      'Bars': {
        icon: iconBase + 'bar.png'
      },
      'Department Stores': {
        icon: iconBase + 'supermarket.png'
      },
      'Pharmacies': {
        icon: iconBase + 'pharmacy.png'
      },
      'Shopping Malls': {
        icon: iconBase + 'mall.png'
      }
    };

    locationone = new google.maps.LatLng(latitude, longitude);
    map = new google.maps.Map(document.getElementById('mapShowProperty'), {
      zoom: 14,
      center: locationone
    });

    $.ajax({
      url: "<%= get_assets_url %>",
      method: 'get',
      data: {place_id: place}
    }).done(function( data_places ) {
      places = [data_places.others.resource, latitude, longitude, price, image, category_type, detail_property, price_in_meter]
    });

    setTimeout(function(){
      getNearbyPlace(locationone, places)
    }, 1000)

    function initialize(type, place, assets) {
      var locationStart = new google.maps.LatLng(place[1], place[2]);
      var locations = assets

      // map = new google.maps.Map(document.getElementById('mapShowProperty'), {
      //   zoom: 14,
      //   center: locationStart
      // });

      var marker_type = icons[place[0].type_property]
      if(marker_type != undefined){
        var icon_type = marker_type.icon
      }else{
        var icon_type = "http://maps.google.com/mapfiles/marker_green.png"
      }
      marker = new google.maps.Marker({
        position: locationStart,
        map: map,
        icon: icon_type
      })

      geocoder = new google.maps.Geocoder();

      infowindow = new google.maps.InfoWindow();
      var destinationA = [];
      var type = type;
      locations.forEach(function(location,i){
        if($.inArray(type, location.types) == 0){
          destinationA.push([location.name, new google.maps.LatLng(location.geometry.location.lat(), location.geometry.location.lng()), type]);
        }
      });
      // set_html_type(type, place[0]);
      // get_asset_property(place[0], type)
      new_type = type_name[type];
      draw_map(map, locationStart);
      calculateDistances(locationStart, destinationA, new_type, place[0]);
      // debugger
      if(place[7] == "Rp 0"){
        var price_for_meter = ""
      }else{
        var price_for_meter = '<span class="line-price">|</span> <span class="price-sq">' + place[7] + '</span> <small class="color-grey">per sq m</small>';
      }
      content = "<table><tr>"+
                    "<td><img src='"+ place[4] +"' class='hov-image'></td>"+
                    "<td><div><span>"+ place[0].title +"</span> </div>" +
                    "<div><small class='color-grey'>"+place[5]+"</small></div>"+
                    "<div><small>"+place[6]+"</small></div>"+
                    "<h5>"+ place[3] +" "+ price_for_meter +"</h5></td></tr></table>";
      infowindow.setContent(content);
      infowindow.open(map, marker);
      google.maps.event.addListener(marker, 'mouseover', function() {
        infowindow.setContent(content);
        infowindow.open(map, this);
      });
      // assuming you also want to hide the infowindow when user mouses-out
      // google.maps.event.addListener(marker, 'mouseout', function() {
      //     infowindow.close();
      // });
    }

    function getNearbyPlace(start, place){
      var request = {
        types: ['airport', 'train_station', 'bus_station', 'bank', 'hospital', 'school', 'park', 'restaurant', 'movie_theater', 'bar', 'department_store', 'pharmacy', 'shopping_mall'],
        keyword: '',
        rankBy: google.maps.places.RankBy.PROMINENCE,
        bounds: map.getBounds()
      };
      // var service = new google.maps.places.PlacesService(map);
      // service.nearbySearch(request, function(results, status) { callbackNearby(results, status, place) });
      var places = new google.maps.places.PlacesService(map);
      callbackNearby_2(places, place, request)
    }

    function callbackNearby_2(places, place, request) {
      destinations = [];
      places.search(request, function(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          name_and_type_destination = {}
          for (var i = 0; i < results.length; i++) {
            destinations.push(results[i]);
          }
        }
      })
      var delay=1000; //1 seconds
      setTimeout(function(){
        for (var i = 0; i <= types.length-1; i++) {
          google.maps.event.addDomListener(window, 'load', initialize(types[i][1], place , destinations));
        };
      }, delay);
    }

    // function getNearbyPlace(start, places){
    //   var request = {
    //     location: start,
    //     radius: 10000,
    //     types: ['airport', 'train_station', 'bus_station', 'bank', 'hospital', 'school', 'park', 'restaurant', 'movie_theater', 'bar', 'department_store', 'pharmacy', 'shopping_mall']
    //   };

    //   map = new google.maps.Map(document.getElementById('mapShowProperty'), {
    //     zoom: 14,
    //     center: start
    //   });

    //   var service = new google.maps.places.PlacesService(map);
    //   service.nearbySearch(request, function(results, status) { callbackNearby(results, status, places) });

    // }

    // function callbackNearby(results, status, places) {
    //   destinations = []
    //   if (status == google.maps.places.PlacesServiceStatus.OK) {
    //     name_and_type_destination = {}
    //     for (var i = 0; i < results.length; i++) {
    //       destinations.push(results[i])
    //     }
    //   }
    //   for (var i = 0; i <= types.length-1; i++) {
    //     google.maps.event.addDomListener(window, 'load', initialize(types[i][1], places , destinations));
    //   };
    // }

    function calculateDistances(origin1, destinationA, type, place_name) {
      var longlatDestinations = []
      var typeDestinations = []
      destinationA.forEach(function(desA, i){
        longlatDestinations.push(desA[1]);
        typeDestinations.push(desA[2]);
      });

      typeDestinations = arrayUnique(typeDestinations);

      var service = new google.maps.DistanceMatrixService();
      service.getDistanceMatrix(
        {
          origins: [origin1],
          destinations: longlatDestinations,
          travelMode: google.maps.TravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC,
          avoidHighways: false,
          avoidTolls: false
        }, function(response, status) { callback(response, status, destinationA, type, place_name) });
    }

    function callback(response, status, result_destination, type, place_name) {
      var outputDiv = document.getElementsByClassName('ul-detail_'+ type)[0];
      if(outputDiv != undefined){
        if (status != google.maps.DistanceMatrixStatus.OK) {
          outputDiv.innerHTML = '<p> No Result </p>';
        } else {
          var origins = response.originAddresses;
          var destinations = response.destinationAddresses;
          var results = response.rows[0].elements;

          for (var j = 0; j < result_destination.length; j++) {
            createMarker(result_destination[j], type);
            if(type_name[result_destination[j][2]] == type){

              if(results[j].distance != undefined){
                outputDiv.innerHTML += '<li class="data">'
                                          + '<div class="row">'
                                            + '<div class="col-xs-6">' + result_destination[j][0] + '</div>'
                                            + '<div class="col-xs-6"> <b>' + results[j].distance.text + ' in ' + results[j].duration.text + '</b> </div>'
                                          +' </div>'
                                        + '</li>';
              }else{
                outputDiv.innerHTML = '<p> No Result </p>';
              }
            }
          }
        }

      }
    }

    function createMarker(place, type) {
      var placeName = place[0];
      var placeLoc = place[1];
      var asset_marker_type = asset_icons[type]
      if(asset_marker_type != undefined){
        var asset_icon_type = asset_marker_type.icon
      }else{
        var asset_icon_type = {
                                path: 'M 0,-24 6,-7 24,-7 10,4 15,21 0,11 -15,21 -10,4 -24,-7 -6,-7 z',
                                fillColor: '#ffff00',
                                fillOpacity: 1,
                                scale: 1/4,
                                strokeColor: '#bd8d2c',
                                strokeWeight: 1
                              }
      }
      var marker = new google.maps.Marker({
        map: map,
        position: placeLoc,
        icon: asset_icon_type
      });

      google.maps.event.addListener(marker, 'mouseover', function() {
        infowindow.setContent(placeName);
        infowindow.open(map, this);
      });
      // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
          infowindow.close();
      });
    }

    function deleteOverlays() {
      for (var i = 0; i < markersArray.length; i++) {
        markersArray[i].setMap(null);
      }
      markersArray = [];
    }

    function flatten(arr) {
      return arr.reduce(function (flat, toFlatten) {
        return flat.concat(Array.isArray(toFlatten) ? flatten(toFlatten) : toFlatten);
      }, []);
    }

    function arrayUnique(array) {
      var a = array.concat();
      for(var i=0; i<a.length; ++i) {
        for(var j=i+1; j<a.length; ++j) {
           if(a[i] === a[j])
              a.splice(j--, 1);
        }
      }

      return a;
    };

    function get_asset_property(place_name, type){
      var outputDivType = document.getElementsByClassName('outputDivType_'+ type)[0];
      var title = document.getElementsByClassName('outputTitle')[0];
      title.innerHTML = place_name
      outputDivType.innerHTML = '';
      outputDivType.innerHTML += '<div class="section-spec"><h4>'
          + type + '</h4><ul class="ul-spec ul-spec-detail_' + type + '">'
          + '</ul></div>';
      var outputDiv = document.getElementsByClassName('ul-spec-detail_'+ type)[0];
      $.ajax({
        url: "<%= get_assets_property_url %>",
        method: 'get',
        data: {place: place_name}
      }).done(function( locations_database ) {
        location_asset = locations_database.location
        locations_database.asset.forEach(function(asset,i){
          createMarker(new google.maps.LatLng(location_asset[i].latitude, location_asset[i].longitude));
          if(asset.type_asset == type){
            outputDiv.innerHTML += '<li class="data">'
                + '<span class="pull-left">' + location_asset[i].title + '(0)</span>'
                + '<span class="pull-right">' + asset.distance + ' in ' + asset.duration + '</span>'
                + '</li>';
          }
        })
      });
    }

    function set_html_type(type, place_name){
      var outputDivType = document.getElementsByClassName('outputDivType_'+ type)[0];
      var title = document.getElementsByClassName('outputTitle')[0];
      title.innerHTML = place_name
      outputDivType.innerHTML = '';
      outputDivType.innerHTML += '<div class="section-spec"><h4>'
          + type + '</h4><ul class="ul-spec ul-spec-detail_' + type + '">'
          + '</ul></div>';
    }

    function draw_map(map, place){
      var BrusselsHightlight;
      BrusselsHightlight = new google.maps.Circle({
          center: place,
          radius: 200,
          strokeColor: "#FFF",
          strokeOpacity: 0.8,
          strokeWeight: 1,
          fillColor: "#000",
          fillOpacity: 0.09
      });
      BrusselsHightlight.setMap(map);
    }


  });

</script>
