<script type="text/javascript">
  $(function(){
    var map;
    var locationStart;
    var geocoder;
    var bounds = new google.maps.LatLngBounds();
    var markers = [];
    var markersArray = [];
    var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
    var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';
    var BrusselsHightlight;
    var locations = [];

    iconBase = "<%= root_url %>assets/marker/";
    icons = {
      'Apartemen': {
        icon: iconBase + 'Apartment.png'
      },
      'Rumah': {
        icon: iconBase + 'House.png'
      },
      'Tanah': {
        icon: iconBase + 'Land.png'
      },
      'Perkantoran': {
        icon: iconBase + 'Office.png'
      },
      'Ruko': {
        icon: iconBase + 'Ruko.png'
      },
      'Villa': {
        icon: iconBase + 'Warehouse.png'
      }
    };

    function initialize(type, place, assets) {
      var locationStart = new google.maps.LatLng(place[1].lat(), place[1].lng());
      var locations = assets;

      geocoder = new google.maps.Geocoder();
      var type = type;
      var destinationA = [];

      locations.forEach(function(location,i){
        if($.inArray(type, location.types) == 0){
          destinationA.push([location.name, new google.maps.LatLng(location.geometry.location.lat(), location.geometry.location.lng()), type, location.id]);
        }
      });

      draw_map(map, locationStart);
    }

    // default map
    function initialized() {
      <% if @region.latitude.present? %>
        locationStart = {lat: <%= @region.try(:latitude) %>, lng: <%= @region.try(:longitude) %>}
      <% else %>
        locationStart = {lat: -6.186486, lng: 106.834091}
      <% end %>
      var locations = <%= raw @list_properties.map{|l| [l.title, l.address.latitude, l.address.longitude, number_to_currency_br(l.the_price?) + "<small class='color-grey'>#{l.the_price_status?}</small>".html_safe, l.id, l.category+'  '+ l.type_property, property_path(l.slug), l.first_image(:small), l.detail_property, number_to_currency_br(l.price_for_meter), l.address.place_info ]} %>
      var destinations = [];
      map = new google.maps.Map(document.getElementById('map1'), {
        zoom: 14,
        center: locationStart
      });
      geocoder = new google.maps.Geocoder();
      <% if params[:region_display_name].present? %>
        set_center_latlng_from_address("<%= params[:region_display_name].split(',').first.strip %>", "<%= params[:region_display_name].split(',').last.strip %>");
      <% end %>
      marker = new google.maps.Marker({
        map: map
      });
      locations.forEach(function(location,i){
        destinations.push([locations[i][0], new google.maps.LatLng(locations[i][1], locations[i][2]), locations[i][3], locations[i][4], locations[i][5], locations[i][6], locations[i][7], locations[i][8], locations[i][9], locations[i][10]]);
      });
      destinations.forEach(function(dest,i){
        createMarker_def(dest);
      })
      var mcOptions = {gridSize: 50, maxZoom: 15};
      var mc = new MarkerClusterer(map, markers, mcOptions);
    }

    google.maps.event.addDomListener(window, 'load', initialized);

    function createMarker_def(place) {
      placeLoc = place[1];
      type = place[4].split("  ")[1];
      var marker_type = icons[type]
      if(marker_type != undefined){
        var icon_type = marker_type.icon
      }else{
        var icon_type = "http://maps.google.com/mapfiles/marker_green.png"
      }
      var placeName = place[0];
      var marker = new google.maps.Marker({
        map: map,
        position: placeLoc,
        icon: icon_type,
        url: place[5]
      });

      infowindow = new google.maps.InfoWindow();
      google.maps.event.addListener(marker, 'mouseover', function() {
        if(place[8] == "Rp 0"){
          var price_for_meter = ""
        }else{
          var price_for_meter = '<span class="line-price">|</span> <span class="price-sq">' + place[8] + '</span> <small class="color-grey">per sq m</small>';
        }
        var content = "<img src='"+place[6]+"' class='hov-image'><div class='info-map'><div class='title-map'>"+place[4]+" : "+placeName+"</div><div class='price-map-section'><span class='price-map'>"+place[2]+"</span><small class='color-grey'>"+ price_for_meter+ "</small></div><div class='address-map'><small>"+ place[9] +"</small></div></div>";
        infowindow.setContent(content);
        infowindow.open(map, this);
      });
      // assuming you also want to hide the infowindow when user mouses-out
      google.maps.event.addListener(marker, 'mouseout', function() {
        infowindow.close();
      });
      google.maps.event.addListener(marker, 'click', function() {
        window.location.href = this.url;
      });
      markers.push(marker);
    }

    function draw_map(map, place){
      if(BrusselsHightlight != undefined){
        BrusselsHightlight.setMap(null);
      }
      BrusselsHightlight = new google.maps.Circle({
          center: place,
          radius: 200,
          strokeColor: "#FFF",
          strokeOpacity: 0.8,
          strokeWeight: 1,
          fillColor: "#000",
          fillOpacity: 0.09
      });
      BrusselsHightlight.setMap(map);
    }

    function ChangeToRupiah(angka){
      angka = Number(angka);
      var rev     = parseInt(angka, 10).toString().split("").reverse().join("");
      var rev2    = "";
      for(var i = 0; i < rev.length; i++){
          rev2  += rev[i];
          if((i + 1) % 3 === 0 && i !== (rev.length - 1)){
              rev2 += ".";
          }
      }
      return "Rp. " + rev2.split("").reverse().join("") + "";
    }


    function set_center_latlng_from_address(address, default_region){
      if(default_region.name != undefined){
        parent_region = default_region.name
      }else{
        parent_region = default_region
      }
      new_address = address+ ', ' +parent_region
      geocoder.geocode( { 'address': new_address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
        } else {
          map.setCenter({lat: Number(default_region.latitude), lng: Number(default_region.longitude)});
        }
      })
    }

    function change_others(data){
      address_html = document.getElementById('address-place');
      nego_html = document.getElementById('nego');
      address_html.innerHTML = 0;
      address_html.innerHTML = '<i class="fa fa-map-marker"></i>'+data.address
      nego = ""
      if(nego == true){
        nego = "(Nego)"
      }
      nego_html.innerHTML = nego;
    }
  })

</script>
