<% galleries = resource.try(:galleries) %>
<div class="break"></div>
<div class="line-through">
	<p><span class="grey">Gallery Foto</span></p>
	<div class="break"></div>
</div>
<div id="gallery-card">
	<div class="gallery-card">
		<% resource.try(:galleries).limit(3).each_with_index do |resource, index| %>
			<% img_miror = 'bottom img img-1_2 pull-left' if index == 0 %>
			<% img_miror = 'bottom img img-1_2 pull-right' if index == 1 %>
			<% img_miror = 'first img img-1_3 img-1_3_1' if index == 2 %>

      <div class="<%= img_miror %>">
				<%= image_tag resource.try(:file).url(:small), alt; 'Situs jual rumah di Indonesia' %>
			</div>
    <% end %>

		<div class="img-3 img-right">
			<div class="bottom img img-1_3">
				<%= image_tag galleries[4].try(:file).url(:small), alt: 'Situs jual rumah di Indonesia' %>
			</div>
			<div class="img img-1_3">
				<%= image_tag galleries[5].try(:file).url(:small), alt: 'Situs jual rumah di Indonesia' %>
				<span class="more-images">
					<div class="table-cont">
						<div class="table-cell-cont">
							<%= image_tag galleries[1].try(:file).url(:small), data: {sgallery: 'group1'} %>
							<i class="fa fa-plus-square-o"></i>
							<br>
							<span><%= galleries.count %> more</span>
						</div>
					</div>
				</span>
			</div>
		</div>

		<div class="display-none">
			<% resource.try(:galleries).each_with_index do |pic, index| %>
				<%= image_tag pic.try(:file).url(:small), title: "#{resource.title}", alt: 'Situs jual rumah di Indonesia',data: {sgallery: 'group1', full: pic.try(:file).url(:large), thumb: pic.try(:file).url(:small)} %>
			<% end %>
		</div>
	</div>
</div>
<br><br>
