<script type="text/javascript">
  $(function(){
    $('#mapShowProperty').gmap3({
      map:{
        options:{
          center:[<%= @property.latitude %>, <%= @property.longitude %>],
          zoom: 15,
          scrollwheel: false
        }
      },
      marker:{
        values:[
          {
            latLng:[<%= @property.latitude %>, <%= @property.longitude %>], 
            options:{icon: "<%= image_url 'icon-marker.png' %>" }
          }
        ],
        options:{
          draggable: false,
          scrollwheel: false
        },
        events:{
          mouseover: function(marker, event, context){
            var map = $(this).gmap3("get"),
            infowindow = $(this).gmap3({get:{name:"infowindow"}});
            var content = "<img src='<%= image_url @property.galleries.first.file.url(:small) %>' class='hov-image'><div class='info-map'><div class='title-map'><%= @property.try(:category) %> <%= @property.try(:type_property) %> : <%= @property.title %> [FLAT ID: <%= @property.code %>]</div><div class='price-map-section'><span class='price-map'><%= number_to_currency_br(@property.the_price?) %></span> <small class='color-grey'>( <%= @property.the_price_status? %> )</small></div><div class='address-map'><small><%= @property.try(:address).try(:place_info) %></small></div></div>";

            if (infowindow){
              infowindow.open(map, marker);
              infowindow.setContent(content);
            } else {
              $(this).gmap3({
                infowindow:{
                  anchor:marker,
                  options:{content: content}
                }
              });
            }
          },
          mouseout: function(){
            var infowindow = $(this).gmap3({get:{name:"infowindow"}});
            if (infowindow){
              infowindow.close();
            }
          }
        }
      }
    });
  });
</script>