<div class="listing-history-info">
	<i class="fa fa-eye"></i>&nbsp;
	<strong><%= @property.impressionist_count %></strong> Orang telah melihat iklan ini
</div>
<hr>
<div class="body-cont">
	<%= render 'shareds/properties/basic', resource: resource %>
	<%= render 'shareds/properties/facilities', resource: resource %>
  <div class="break"></div>
  <div class="break"></div>
  <h2 class="heading text-uppercase">Deskripsi</h2>
  <%= resource.description.html_safe if resource.description.present? %>
</div>

<% if @other_properties.present? %>
  <div class="other-property">
    <div class="col-md-12">
      <div class="row">
        <div class="title-property">
          <h2>Property Lainnya</h2>
          <div class="title-highlight"></div>
        </div>
        <div class="ads">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- detail-property-bottom-rumahdaku -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8140461930329474"
               data-ad-slot="5271302941"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <br>
        </div>
        <div class="row">
          <% @other_properties.each do |resource|%>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="other-property-wrapper">
                <div class="body-box">
                  <div class="box-label">
                    <div class="label"><%= resource.category %></div>
                  </div>
                  <div class="box-image">
                    <%= link_to property_path(resource) do %>
                      <%= image_tag "#{resource.try(:galleries).try(:latest_position).try(:first).try(:file).url(:small)}", alt: "#{resource.title}" if resource.galleries.present? %>
                    <% end %>
                    <div class="date">
                      <span>
                        <i class="fa fa-calendar"></i> <%= resource.created_at.strftime("%d %B %y") %>
                      </span>
                    </div>
                  </div>
                  <div class="desc-other-property">
                    <div class="title"><%= link_to resource.title, property_path(resource) %></div>
                    <div class="other-price">
                      <%= number_to_currency_br(resource.the_price?) %> <small class="color-grey"><%= resource.the_price_status? %></small>
                    </div>
                    <div class="other-location">
                      <i class="fa fa-map-marker"> <%= resource.address.simple_place %></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
