<div class="panel-group panel-route" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
					<i class="fa fa-plane"></i> Airports
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse1" class="panel-collapse collapse in">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Airports">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
					<i class="fa fa-bus"></i> Bus Stations
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse2" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Bus Stations">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
					<i class="fa fa-train"></i> Train Stations
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse3" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Train Stations">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
					<i class="fa fa-bank"></i> Banks/ATMs
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse4" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Banks">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
					<i class="fa fa-hospital-o"></i> Hospitals
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse5" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Hospitals">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
					<i class="fa fa-briefcase"></i> Schools
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse6" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Schools">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
					<i class="fa fa-tree"></i> Parks
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse7" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Parks">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
					<i class="fa fa-cutlery"></i> Restaurants
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse8" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Restaurants">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
					<i class="fa fa-film"></i> Movie Theaters
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse9" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Movie Theaters">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
					<i class="fa fa-cutlery"></i> Bars
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse10" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Bars">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
					<i class="fa fa-cart-arrow-down"></i> Department Stores
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse11" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Department Stores">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
					<i class="fa fa-plus-square"></i> Pharmacies
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse12" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Pharmacies">
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
					<i class="fa fa-cart-plus"></i> Shopping Malls
				</a>
			</h4>
		</div>
	</div>
	<div id="collapse13" class="panel-collapse collapse">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="ul-detail_Shopping Malls">
				</ul>
			</div>
		</div>
	</div>
</div>
