<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 align="center">(<%= @reviews.count %>) Review dan Rating</h2>
        <% if current_user.present? %>
          <div class="col-md-12">
            <section class="section">
              <% if current_user && @property.can_rate?(current_user, 'happiness') %>
                <div class="break"></div>
                <div class="row section-comments-group ">
                  <%= form_for :rate, url: reviews_property_path(@property), id: 'rate-user' do |f| %>
                    <%= f.hidden_field :klass, required: true %>
                    <%= f.hidden_field :id, required: true %>
                    <%= f.hidden_field :score, required: true %>
                    <%= f.hidden_field :dimension, required: true %>
                    <div class="col-sm-3">
                      <center>
                        <div class="user-image-cycle float-none margin-none">
                          <%= image_tag current_user.profile.avatar(:thumb), class: 'host-profile-image', alt: 'Situs jual rumah di Indonesia' %>
                        </div>
                        <br>
                        <span class="text-muted"><%= current_user.profile.full_name %></span>
                      </center>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <%= rating_for @property, "happiness", :star => 6 %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :review, class: 'form-control', rows: 2 %>
                      </div>
                      <%= f.submit :submit, class: 'btn btn-info', value: "Rate!" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </section>
          </div>
        <% else %>
          <br>
          <center>
            Anda Harus <a href="#" data-toggle="modal" data-target="#masuk"> Masuk</a> atau <a href="#" data-toggle="modal" data-target="#daftar">Daftar</a> Terlebih dahulu untuk memberikan komentar disini
          </center>
        <% end %>

        <div class="col-md-12">
          <div class="rating-star">
            <% default_rating = imdb_style_rating(@property, 'happiness') %>
            <center><%= default_rating if @reviews.present? %></center>
          </div>
          <div class="col-md-12">
            <section class="section">
              <% @reviews.each do |rate| %>
                <div class="row section-comments-group">
                  <div class="col-sm-3">
                    <center>
                      <div class="user-image-cycle float-none margin-none">
                        <%= image_tag rate.rater.profile.avatar(:thumb), class: 'host-profile-image' %>
                      </div>
                      <br>
                      <span class="text-muted"><%= rate.rater.profile.full_name %></span>
                    </center>
                  </div>
                  <div class="col-sm-9">
                    <% if rate.rater == current_user %>
                      <div class="pull-right"><%= link_to 'Delete', delete_rate_property_path(id: params[:id], rate_id: rate.id), method: :delete, data: {confirm: 'Are You Sure To Delete This Rate'} %></div>
                    <% end %>
                    <div><%= rating_user(rate.score) %></div>
                    <br>
                    <p class="well"><%= rate.review %></p>
                    <% address = "#{rate.rater.address.simple_place}" %>
                    <small class="text-muted"><%= "Dibuat #{rate.created_at.strftime('%d %b %Y')}, Dari #{address}" %></small>
                    <hr>
                  </div>
                </div>
              <% end %>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>