<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% contact = user.try(:contact) %>
<% expired_date = resource.auction.end_auction.strftime("%B, %d, %Y") if resource.auction.end_auction.present? %>

<div class="col-md-4">
	<% if resource.the_auction? %>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-one-wrapper property-detail-countdown" data-expired="<%= expired_date %>">
				<div class="countdown-timer">
					<ul>
						<li>
							<span class="count days">20</span><br>
							<span class="day">DAY</span>
						</li>
						<li><span class="dotted-2">:</span></li>
						<li>
							<span class="count hours">20</span><br>
							<span class="day">HRS</span>
						</li>
						<li><span class="dotted-2">:</span></li>
						<li>
							<span class="count minutes">20</span><br>
							<span class="day">MINS</span>
						</li>
						<li><span class="dotted-2">:</span></li>
						<li>
							<span class="count seconds">20</span><br>
							<span class="day">SECD</span>
						</li>
					</ul>
				</div>
				<div class="price">
					<div class="price-nominal">
						<%= number_to_currency_br(resource.the_price_bid?) %>
					</div>
					<div class="price-description">
						<%= resource.bid_status? %>
					</div>
				</div>
				<div class="box-info-double title-ionic">
					<ul>
						<li>
							<span>Bersedia Untuk Bertemu : <strong><%= resource.try(:auction).try(:reserve_met) %></strong></span>
							<a href="#" data-trigger="hover" class="pop-bottom" data-content="Penjual menetapkan 'Standar Harga', yang merupakan tawaran penjual minimum akan harga pembelian properti. Setelah standar harga terpenuhi, penawaran terus sampai akhir periode penawaran. Harga minimum tidak diungkapkan. Bahkan jika harga minimum terpenuhi, Penjual berhak untuk menolak Bid Winning (Pemenang Lelang) dan penerimaan akhir dari tawaran yang menang adalah tugas Penjual Pembelian dan Penjualan Perjanjian.">
								<i class="fa fa-info"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="description">
					Catatan: Penjual dapat memilih untuk bernegosiasi dengan penawar bahkan jika penawaran tidak terpenuhi.
				</div>

				<%= form_for BidAuction.new, url: checkout_bid_properties_path , method: 'post' do %>
					<div class="spiner">
						<div class="title">
							<span class="pull-left"><b>Kirim Harga Penawaran</b></span>
						</div>
						<div class="input-group">
							<span class="input-group-addon">Rp.</span>
							<%= hidden_field_tag :property_id, nil, value: resource.id %>
							<%= number_field_tag :bid, nil, value: resource.the_price?, class: "form-control", required: true %>
						</div>
					</div>
					<div class="button-place-bird">
						<% if current_user %>
				      <button class="btn btn-outlined btn-purple-light btn-lg btn-block" type="submit">Kirim Harga Penawaran</button>
				    <% else %>
				      <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-outlined btn-purple-light btn-lg btn-block">
				      	Kirim Harga Penawaran
				      </a>
				    <% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-two-wrapper">
				<div class="title-top">Fee Properti</div>
				<hr class="hr-small">
				<div class="title-ionic">
					<p>dibawah ini adalah biaya lain yang harus dibayar saat pembelian :</p>
					<span class="buyer"><span>BUYER Pays</span> at Close</span>&nbsp;&nbsp;
					<a href="#" data-trigger="hover" class="pop-bottom" data-content="Dibayar oleh pembeli pada penutupan, biaya ini meliputi biaya memfasilitasi penjualan lelang di website ini dan ditambahkan ke harga pembelian properti sekitar 2.5% dari harga properti.">
						<i class="fa fa-info"></i>
					</a>
				</div>
				<div class="title-ionic">
					<span class="buyer"><span>BUYER Pays</span> at Bid Approval</span>&nbsp;&nbsp;
					<a href="#" data-trigger="hover" class="pop-bottom" data-content="Dibayar oleh pembeli setelah disetujui tawaran dan dikreditkan terhadap harga pembelian pada penutupan. Yang diperlukan minimum setoran uang sungguh-sungguh dihitung berdasarkan persentase menang jumlah tawaran Anda. Deposit diperlukan berkisar antara 1% sampai 7%.">
						<i class="fa fa-info"></i>
					</a>
				</div>
				<div class="description">
					Tawaran harus disampaikan melalui situs ini. Email dan fax tawaran tidak akan dipertimbangkan
				</div>
			</div>
		</div>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-three-wrapper">
				<ul>
					<li>
						<a href="#" data-toggle="modal" data-target="#modal_schedule_visit">
							<i class="fa fa-calendar"></i><br>
							<span>Jadwal Berkunjung</span>
						</a>
					</li>
					<li>
						<a href='#' data-toggle='modal' data-target="#modal-agent-<%= resource.id %>">
							<i class="fa fa-question"></i><br>
							<span>Kirim Pertanyaan</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-for-wrapper">
				<div class="title">
					Customer Care
				</div>
				<hr class="hr-small">
				<ul>
					<li>
						<i class="fa fa-envelope"></i>
						<span><%= @setting.email %></span>
					</li>
					<li>
						<i class="fa fa-phone"></i>
						<span><%= @setting.contact %></span>
					</li>
					<li>
						<i class="fa fa-globe"></i>
						<span><%= root_url %></span>
					</li>
				</ul>
			</div>
			<div class="box-for-wrapper">
				<div class="title">
					Bagaimana Lelang Ditutup?
				</div>
				<hr class="hr-small">
				<p>
					Pelajari lebih lanjut, bagaimana proses penutupan untuk lelang property ini.
					<a href="#" data-toggle="modal" data-target="#modal_take_a_look">Selengkapnya</a>
				</p>
			</div>
		</div>
	<% else %>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-for-wrapper">
				<div class="title">
					Informasi Pengiklan
				</div>
				<hr class="hr-small">
				<center>
					<div class="col-xs-12">
						<%= link_to user_path(user) do %>
							<div class="user-image-cycle float-none">
								<%= image_tag "#{profile.try(:avatar).url(:small)}", class: 'host-profile-image', alt: "#{user.username}" %>
							</div>
						<% end %>
					</div>
	        <%= link_to user_path(user) do %>
						<h3><%= profile.try(:full_name) %></h3>
					<% end %>
					<span class="uppercase">
			      ID <%= user.try(:code) %>
			    </span>
			    <br>
			    <% if user.agent_verify? %>
            <div class="btn btn-warning btn-xs">
              <span><i class="fa fa-star"></i> Agen Terverifikasi</span>
            </div>
          <% end %>
          <br>
          <br>
					<div class="text-muted small">
						Terdaftar Sejak <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
					</div>
				</center>
				<br>
				<ul>
					<% if contact.phone.present? %>
						<li>
							<i class="fa fa-phone"></i>
							<span><%= contact.try(:phone) %></span>
						</li>
					<% end %>
					<% if contact.handphone.present? %>
						<li>
							<i class="fa fa-mobile"></i>
							<span><%= contact.try(:handphone) %></span>
						</li>
					<% end %>
					<% if contact.pin.present? %>
						<li>
							<%= image_tag 'bbm.png' %>
							<span><%= contact.try(:pin) %></span>
						</li>
					<% end %>
					<% if user.email.present? %>
						<li>
							<i class="fa fa-envelope"></i>
							<span><a href="mailto:<%= user.email %>"><%= user.email %></a></span>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="box-for-wrapper">
				<hr class="hr-small">
				<p>
					Lihat Lebih Lengkap Profil Pengiklan
					<%= link_to 'Selengkapnya', user_path(user) %>
				</p>
			</div>
		</div>
		<div class="ads">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- detail-property-sidebar-rumahdaku -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-8140461930329474"
			     data-ad-slot="2317836542"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<br>
		</div>
		<div class="sidebar-auction-detail-wrapper">
			<div class="box-one-wrapper property-detail-countdown" data-expired="<%= expired_date %>">
				<%= form_for @inquiry, url: inquiries_path, method: 'post' do |f| %>
					<%= f.hidden_field :inquiriable_id, value: resource.id %>
					<%= f.hidden_field :inquiriable_type, value: resource.class %>
					<%= f.hidden_field :owner_id, value: resource.try(:user).try(:id) %>
					<%= f.hidden_field :name, value: "#{current_user.username if current_user.present?}", class: "input" %>
					<%= f.hidden_field :phone, class: "input", value: "#{current_user.contact.phone if current_user.present?}" %>
					<%= f.hidden_field :email, class: "input", value: "#{current_user.email if current_user.present?}" %>
					<%= f.hidden_field :subject, value: 'offer_price' %>
					<span class="pull-left"><b>TAWAR PROPERTI INI ?</b></span>
					<div class="spiner">
						<div class="input-group">
							<span class="input-group-addon">Rp.</span>
							<%= f.text_field :message, value: resource.the_price?, class: "form-control", required: true, data: {autonumeric: true} %>
						</div>
					</div>
					<div class="button-place-bird">
						<% if current_user %>
				      <button class="btn btn-lg btn-block" type="submit">Kirim Penawaran</button>
				    <% else %>
				      <a href="#" data-toggle="modal" data-target="#masuk" class="btn btn-lg btn-block">
				      	Kirim Penawaran
				      </a>
				    <% end %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class="contact-user-to-fixed">
		<% unless resource.the_auction? %>
			<center class="contact-user-font-section">
				<% if user %>
					<h4 class="title">Kirim Pesan</h4>
					<div class="line-through"></div>
					<div class="bottom">
						<%= form_for @inquiry, url: inquiries_path, method: 'post' do |f| %>
							<%= f.hidden_field :inquiriable_id, value: resource.id %>
							<%= f.hidden_field :inquiriable_type, value: resource.class %>
							<%= f.hidden_field :owner_id, value: resource.try(:user).try(:id) %>
							<%= render 'shareds/messages/form', f: f %>
						<% end %>
					</div>
				<% end %>
			</center>
		<% end %>
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group grid-controls-action-show-property">
					<button class="btn btn-report-side btn-danger" data-toggle='modal' data-target="#modal-report">
						<i class="fa fa-flag-o"></i> Laporkan
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'shareds/modal_report', resource: resource %>
<%= render 'shareds/modal_agent', resource: resource %>
<%= render 'shareds/modal_schedule_visit', resource: resource %>
<%= render 'shareds/modal_take_a_look', resource: resource %>
