<% societies = resource.try(:societies) %>
<section class="utilities">
	<h2 class="heading text-uppercase">Society Amenities</h2>
	<% societies.each do |society| %>
		<span class="entity <%= society.exist_hidden? %>">
			<span class="entity-left">
				<%= society.icon.html_safe if society.icon.present? %>
			</span>
			<span class="entity-right">
				<span class="text"><%= society.title %></span>
				<br>
				<span class="value">
					<span><%= society.exist? %></span>
				</span>
			</span>
		</span>
	<% end %>
</section>
