<div class="ads">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- sell-top-rumahdaku -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-8140461930329474"
	     data-ad-slot="9841103346"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<br>
</div>
<div class="container">
	<div class="pull-left">
		<div class="btn-group">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
				<span class="glyphicon glyphicon-sort-by-attributes"></span> Urutkan &nbsp; &nbsp;<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" id="sort_order_property">
				<li><a href="#">Terbaru</a></li>
				<li><a href="#">Terlama</a></li>
				<li><a href="#">Harga (Terendah ke Tertinggi)</a></li>
				<li><a href="#">Harga (Tertinggi ke Terendah)</a></li>
			</ul>
		</div>
	</div>
	<% unless params[:category] == 'Dilelang' %>
		<div class="pull-right">
			<div class="btn-group grid-controls pull-right">
				<% params.delete(:page) %>
				<% params.delete(:per_page) %>
				<%= link_to properties_path({list: 'map'}.merge(params)), class: "btn btn-default" do %>
					<i class="fa fa-map-marker"></i> Map
				<% end %>
				<%= link_to "javascript:void(0)", class: "btn btn-default #{'active' unless params[:list].present?}" do %>
					<i class="fa fa-navicon"></i> List
				<% end %>
			</div>
		</div>
	<% end %>
</div>

