<% @top_properties.each do |resource| %>
  <% cache ["top_properties_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="listing-project-wrapper listing-property-wrapper active top-listing">
        <div class="row">
          <%= render 'properties/product', resource: resource %>
        </div>
      </div>
    </div>
    <%= render 'shareds/modal_agent', resource: resource %>
  <% end %>
<% end if @top_properties.present? %>