<% cache("footer", expires_in: 5.day) do %>
  <!-- FOOTER START -->
  <footer class="bg-city-footer">
  </footer>
  <footer class="footer-one">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul>
          	<% @landing_page_footer.each do |page| %>
              <% url = landing_page_path(page) unless page.link_url.present? %>
              <% url = page.link_url if page.link_url.present? %>
  	          <li>
  	            <%= link_to "#{page.title}", url %>
  	          </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="footer-two">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="description">
            RumahDaku.com merupakan situs layanan pencarian informasi property seluruh indonesia.
          </div>
          <div class="corpyright">
            <%= @setting.footer_tags %>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- FOOTER END -->

  <!-- TopUp Icon -->
  <a class="toup" id="upClick" href="#">
  	<i class="fa fa-chevron-up"></i>
  </a>
  <!-- /TopUp Icon -->
<% end %>

<%= render 'shareds/signin' %>

<%#= render 'shareds/feedback' %>
<%#= render 'shareds/google_analytics' %>
