<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4 class='text-center uppercase'>
      Invoice <strong><%= @order.code %></strong>
    </h4>
    <center class='small'>
      <b>Invoice Date : </b> <%= @order.try(:updated_at).strftime("%B, %d, %Y") %>
      <br>
      <b>Expired Date : </b> <%= (@order.updated_at + 1.year).strftime("%B, %d, %Y") %>
      <% if current_user.admin? %>
        <%= form_for @order, url: backend_order_package_path(@order), method: 'put', html: {class: ''} do |f| %>
          <%= f.check_box :status %> Already Payment/Renew
          <br>
          <%= f.submit :change, class: 'btn btn-xs btn-info' %>
        <% end %>
      <% end %>
    </center>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-6'>
        <h5 class='uppercase'>Invoiced To</h5>
        <%= link_to @order.try(:user).try(:username) || @order.try(:user).try(:profile).try(:full_name), user_path(@order.try(:user)) %> (<%= @order.try(:user).try(:email) %>)
        <br>
        <br>
        Status Payment : &nbsp; <%= @order.status? %>
        <br>
        Telepon :
        <br><%= @order.try(:user).try(:contact).try(:handphone) %>
      </div>
      <div class='col-md-6'>
        <%= image_tag @order.try(:user).try(:agent_info).try(:ktp).url(:large), class: 'id-card' %>
      </div>
    </div>
    <div class='break'></div>
    <div class='shopping-cart'>
      <div class='col-md-12'>
        <div class='catalog-item-show'>
          <div class='table-responsive table-order-list'>
            <table class="table table-striped">
              <thead>
                <tr>
                  <td width="35%">
                    <strong>Package Name</strong>
                  </td>
                  <td class="text-center">
                    <strong>Duration</strong>
                  </td>
                  <td class="text-center">
                    <strong>Start At</strong>
                  </td>
                  <td class="text-center">
                    <strong>Expired At</strong>
                  </td>
                  <td width="14%" class="text-right">
                    <strong>Price</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class='text-center'>
                    <span><%= @order.package_name.titleize %></span>
                  </td>
                  <td class='text-center'>1 Year</td>
                  <td class='text-center'>
                    <span>
                      <%= @order.updated_at.strftime("%H:%M %B, %d, %Y") %>
                    </span>
                  </td>
                  <td class='text-center'>
                    <span>
                      <%= (@order.updated_at + 1.year).strftime("%B, %d, %Y") %>
                    </span>
                  </td>
                  <td>
                    <span class='pull-right'>
                      <%= number_to_currency_br(@order.price) %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td class="highrow">
                    Approved By : <b><%= @order.staf.username if @order.staf_id.present? %></b>
                  </td>
                  <td class="highrow"></td>
                  <td class="highrow"></td>
                  <td class="highrow text-center">
                    <h5>Total Price</h5>
                  </td>
                  <td class="highrow text-right">
                    <h5><%= number_to_currency_br(@order.price) %></h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
