<div class="SumoGallery" style="display:none;">
  <div class="Sheader">
    <p>Propedia</p><a>&times;</a>
  </div>
  <div class="Sbody">
    <a><%= image_tag '1_large.jpg' %></a>
    <a><%= image_tag '2_large.jpg' %></a>
    <a class="sel"><%= image_tag '4_large.jpg', alt: 'Situs jual rumah di Indonesia' %></a>
  </div>
  <a class="Sarrow l">&#10092;</a>
  <a class="Sarrow r">&#10093;</a>
  <div class="Sfooter">
    <ul class="Sthumbnails">
      <li>
        <a style="background-image:url('<%= image_tag '1_thumbnail.jpg', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>')"></a>
      </li>
      <li>
        <a style="background-image:url('<%= image_tag '2_thumbnail.jpg', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>')"></a>
      </li>
      <li class="sel">
        <a style="background-image:url('<%= image_tag '4_thumbnail.jpg', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>')" ></a>
      </li>
    </ul>
  </div>
</div>
