<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% contact = user.try(:contact) %>
<div class="modal modal-agent fade" id="modal-agent-<%= resource.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<% if user %>
					<center class="contact-user-font-section">
						<div class="col-md-12">
							<%= link_to user_path(user) do %>
								<div class="user-image-cycle float-none margin-none">
									<%= image_tag "#{profile.try(:avatar).url(:small)}", class: 'host-profile-image' if profile %>
								</div>
							<% end %>
						</div>
						<div class="break"></div>
						<%= link_to user_path(user) do %>
							<h4><%= profile.try(:full_name) %></h4>
						<% end %>
						<div class="text-muted small">
							<%= user.try(:type) %>
						</div>
						<div class="phone">
							<i class="fa fa-mobile"></i> <%= contact.try(:handphone) %>
						</div>
						<div class="text-muted color-blue small">
							<%= user.try(:verified?) %>
						</div>
						<div class="text-muted small">
							Terdaftar Sejak <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
						</div>
						<br>
						<div class="bottom">
							<%= form_for Inquiry.new, url: inquiries_path, method: 'post' do |f| %>
								<%= f.hidden_field :inquiriable_id, value: resource.id %>
								<%= f.hidden_field :inquiriable_type, value: resource.class %>
								<%= f.hidden_field :owner_id, value: resource.try(:user).try(:id) %>
								<%= render 'shareds/messages/form', f: f %>
							<% end %>
						</div>
					</center>
				<% end %>
			</div>
		</div>
	</div>
</div>
