<div class="modal fade" id="package-subscribe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-join-package">
      <div class="close-join-package">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-join-package">
        <div class="title-join-package">
          Pendaftaran Agen Premium
        </div>
        <div class="row">
          <%= form_for @my_account, url: add_package_path(current_user), method: 'put' do |f| %>
            <%= f.fields_for :profile do |profile| %>
              <%= f.fields_for :contact do |contact| %>
                <%= f.fields_for :agent_info do |agent_info| %>
                  <div class="col-md-12">
                    <h6>Nama Lengkap</h6>
                    <%= profile.text_field :full_name, class: 'form-control', placeholder: 'ex. Alam Topani ...', required: true  %>
                  </div>
                  <div class="col-md-12">
                    <h6>Nama Perusahaan</h6>
                    <%= agent_info.text_field :name_company, class: 'form-control', placeholder: 'ex. Pharma Properti...' %>
                  </div>
                  <div class="col-md-6">
                    <h6>No HP</h6>
                    <%= contact.text_field :handphone, class: 'form-control', placeholder: '+62851 ...', required: true %>
                  </div>
                  <div class="col-md-6">
                    <h6>No PIN BBM</h6>
                    <%= contact.text_field :pin, class: 'form-control', placeholder: 'XB455 ...' %>
                  </div>
                  <div class="col-md-12">
                    <h6>Spesial Properti</h6>
                    <%= agent_info.text_field :specialist_property, class: 'form-control', placeholder: 'ex. Apartment, Houser ...', required: true %>
                  </div>
                  <div class="col-md-12">
                    <h6>Spesial Area</h6>
                    <%= agent_info.text_field :specialist_area, class: 'form-control', placeholder: 'ex. Jakarta, Bali ...', required: true %>
                  </div>
                  <div class="col-md-12">
                    <h5>Scaning Foto KTP/Foto KTP</h5>
                    <%= image_tag agent_info.object.ktp.url(:large), class: 'id-card', alt: 'Situs lapak jual beli barang baru bekas di Sukabumi' %>
                    <%= agent_info.file_field :ktp, class: "form-control input-id-card", required: true %>
                  </div>
                  <div class="col-md-12">
                    <h6>Deskripsi</h6>
                    <%= agent_info.text_area :description, class: 'form-control', placeholder: 'ex: Describe about your ...', style: 'height: 100px;' %>
                  </div>
                  <div class="col-md-12">
                    <h6></h6>
                    <input type="submit" class="btn btn-info btn-lg no-border" value="Daftar Premium">
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
