<div class="modal fade" id="modal_list_schedule_visit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header-all-bids">
        <span class="cross" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </span>
        <h4 class="modal-title-all-bids">
          Jadwal Survei Kunjungan
          <span>[FLAT ID <span class="uppercase"><%= resource.code %></span>]</span>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-hovered table-bordered table-bid">
          <thead>
            <tr>
              <th><strong>No.</strong></th>
              <th><strong>Klien</strong></th>
              <th><strong>Email</strong></th>
              <th><strong>Tanggal Berkunjung</strong></th>
            </tr>
          </thead>
          <tbody>
            <% resource.schedule_visits.oldest.each_with_index do |resource, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td>
                  <%= resource.first_name %> <%= resource.last_name %>
                  (<%= resource.phone %>)
                </td>
                <td>
                  <a href="mailto:<%= resource.email %>"><%= resource.email %></a>
                </td>
                <td>
                  <small>
                    <div>
                      <%= resource.schedule_time %>
                      <%= resource.try(:schedule_date).strftime("%B, %d, %Y") if resource.schedule_date.present? %>
                    </div>
                    <div>
                      <%= resource.alt_schedule_time %>
                      <%= resource.try(:alt_schedule_date).strftime("%B, %d, %Y") if resource.alt_schedule_date.present? %>
                    </div>
                  </small>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="pull-left">
          <strong>Jumlah Kunjungan: <%= resource.schedule_visits.size %></strong>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
