<div class="modal modal-report fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<header class="modal-background">
					<div class="page-title pull-left">Kirim Laporan</div>
					<div class="text">
						Properti ini sudah diambil? Apakah informasi yang salah? Laporkan sekarang!
					</div>
				</header>
				<div class="col-md-12">
					<center class="contact-user-font">
						<div class="bottom">
							<form></form>
							<%= form_for Report.new, url: reports_path, method: 'post' do |f| %>
								<%= f.hidden_field :reportable_id, value: resource.id %>
								<%= f.hidden_field :reportable_type, value: resource.class %>
								<h5 class="heading-text uppercase">
									Subyek Apa Yang Akan Kamu Laporkan?
								</h5>
								<hr>
								<div class="form-group">
									<%= f.select :category, ReportCategory.to_a, {prompt: 'Pilih Kategori'}, {class: 'form-control'} %>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h5 class="pull-left">Nama</h5>
										<%= f.text_field :name, value: "#{current_user.username if current_user.present?}", class: "form-control", placeholder: 'ex. Alam Topani', required: true %>
									</div>
									<div class="col-md-12">
										<h5 class="pull-left">Email</h5>
										<%= f.email_field :email, class: "form-control", value: "#{current_user.email if current_user.present?}", placeholder: 'ex. mail@example.com', required: true %>
									</div>
									<div class="col-md-12">
										<h5 class="pull-left">Pesan</h5>
										<%= f.text_area :message, class: "form-control", placeholder: 'Informasi apa yang salah?', required: true %>
									</div>
									<div class="col-md-12">
										<input class="btn btn-success full-width btn-block btn-modal-submit" type="submit" value="Kirim Laporan">
									</div>
								</div>
							<% end %>
						</div>
					</center>
				</div>
				<div class="break"></div>
			</div>
		</div>
	</div>
</div>
