<div class="modal fade" id="modal_schedule_visit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header-all-bids">
        <span class="cross" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </span>
        <h4 class="modal-title-all-bids">
          Jadwal Kunjungan (Izin Agen Diperlukan)
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Untuk melihat properti ini, Anda akan memerlukan bantuan agen berlisensi. Jika anda sudah berkoneksi dengan agen, silakan meminta agen Anda untuk mengatur kunjungan. Agen Anda harus terlebih dahulu mendaftar dengan Website Kami, kemudian pergi ke halaman Rincian Properti dan klik "Ajukan Pertanyaan".
        </p>
        <p>
          Jika Anda tidak memiliki agen, mengisi formulir ini dan kami akan menghubungkan Anda dengan agen lokal yang dapat membantu.
        </p>
        <%= form_for ScheduleVisit.new, url: schedule_visits_path, method: 'post' do |f| %>
          <%= f.hidden_field :property_id, value: resource.id %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Name Depan<span class="color-redd">*</span></label>
                <%= f.text_field :first_name, class: "form-control", placeholder: 'ex. Alam', required: true %>
              </div>
              <div class="form-group">
                <label>Ajukan Waktu Untuk Melihat Properti<span class="color-redd">*</span></label>
                <div class="row">
                  <div class="col-md-7">
                    <%= f.text_field :schedule_date, class: "datepicker form-control", required: true %>
                  </div>
                  <div class="col-md-5">
                    <%= f.select :schedule_time, options_for_select(schedule_time, f.object.schedule_time), {include_blank: ''}, class: 'form-control', required: true  %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Phone<span class="color-redd">*</span></label>
                <%= f.text_field :phone, class: "form-control", placeholder: 'ex. +628 XXX XXX', required: true %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Nama Belakang<span class="color-redd">*</span></label>
                <%= f.text_field :last_name, class: "form-control", placeholder: 'ex. Topani', required: true %>
              </div>
              <div class="form-group">
                <label>Opsi ke 2, Ajukan Waktu Untuk Melihat Properti</label>
                <div class="row">
                  <div class="col-md-7">
                    <%= f.text_field :alt_schedule_date, class: "datepicker form-control" %>
                  </div>
                  <div class="col-md-5">
                    <%= f.select :alt_schedule_time, options_for_select(schedule_time, f.object.alt_schedule_time), {include_blank: ''}, class: 'form-control', required: true  %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email<span class="color-redd">*</span></label>
                <%= f.email_field :email, class: "form-control", placeholder: 'ex. yourmail@mail.com', required: true %>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outlined btn-block btn-success">Submit</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
