<div class="modal modal-report fade" id="modal-report-<%= resource.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<header class="modal-background">
					<div class="page-title pull-left">Form Report Penjualan Properti</div>
					<div class="text">
						Apakah properti ini sudah terjual? Report penjualanmu sekarang!
					</div>
				</header>
				<div class="col-md-12">
					<center class="contact-user-font">
						<div class="bottom">
							<form></form>
							<%= form_for SoldReport.new, url: do_report_sold_userpage_properties_path, method: 'post' do |f| %>
								<%= f.hidden_field :sold_reportable_id, value: resource.id %>
								<%= f.hidden_field :sold_reportable_type, value: resource.class %>
								<p>Untuk Properti <%= resource.title %></p>
								<hr>
								<div class="row">
									<div class="col-xs-12">
										<div class="well">
											<h3 align='center'>Sudah Terjual?</h3>
											<%= radio_button_tag :sold_out, nil, 1 %>
										</div>
									</div>
									<div class="col-xs-12">
										<h4 align='left'>Tanggal Terjual</h4>
										<%= f.text_field :date, class: "datepicker form-control", placeholder: '2015-01-01', required: true %>
									</div>
									<div class="col-xs-12">
										<h4 align='left'>Harga Terjual</h4>
										<%= f.number_field :price, class: "form-control", placeholder: 'ex. 1000000000', required: true %>
									</div>
									<div class="col-xs-12">
										<br>
										<input class="btn btn-success btn-block" type="submit" value="Save">
									</div>
								</div>
							<% end %>
						</div>
					</center>
				</div>
				<div class="break"></div>
			</div>
		</div>
	</div>
</div>
