<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% contact = user.try(:contact) %>
<div class="modal modal-agent fade" id="modal-agent" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="col-md-6 cover-bg" style="background-image: url(<%= image_url "#{resource.try(:galleries).try(:first).try(:file).url(:small)}" %>)">
					<div class="content-text">
						<div class="code">FLAT ID: <%= resource.code %></div>
						<div class="line-through"></div>
						<span class="title"><%= resource.title %></span>
						<div class="desc small">
							<small><%= resource.try(:type_project) %></small>
						</div>
						<div class="desc small">
							<i class="fa fa-map-marker"></i>
							<%= address.try(:city) %>,
							<%= address.try(:province) %>
						</div>
						<div class="line-through"></div>
						<div>
							<span class="price">
								<%= number_to_currency_br(resource.price) %>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<center class="contact-user-font">
						<div class="col-md-12">
							<div class="user-image-cycle float-none margin-none">
								<%= image_tag "#{profile.try(:avatar).url(:small)}", class: 'host-profile-image' %>
							</div>
						</div>
						<div class="break"></div>
						<a href="#">
							<h4><%= profile.try(:full_name) %></h4>
						</a>
						<div class="text-muted small">
							<%= user.try(:type) %>
						</div>
						<div class="phone">
							<i class="fa fa-mobile"></i> <%= contact.try(:handphone) %>
						</div>
						<div class="text-muted color-blue small">
							<%= user.verified? %>
						</div>
						<div class="text-muted small">
							Since <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
						</div>
						<br>
						<div class="bottom">
							<div class="user-form">
								<form class="contact-form" autocomplete="on" novalidate="">
									<div class="form-element filled mature">
										<div class="placeholder">Name</div>
										<input class="input name" name="name" type="text">
									</div>
									<div class="form-element filled mature">
										<div class="placeholder">Phone</div>
										<input class="input phone" type="text">
									</div>
									<div class="form-element filled mature">
										<div class="placeholder">Email</div>
										<input class="email input" type="text">
									</div>
									<div class="sent-button-container">
										<input class="btn btn-primary submit-button" type="submit" value="Send Contact Information">
									</div>
								</form>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
