<div class="modal fade" id="modal_take_a_look" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header-all-bids">
        <span class="cross" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </span>
        <h4 class="modal-title-all-bids">
          Bagaimana Cara Kerja Lelang di Tutup?
        </h4>
      </div>
      <div class="modal-body">
        <ul>
          <li> Rumah ini dijual oleh lembaga keuangan </li>
          <li> Memenangkan tawaran dan menawarkan tunduk kepada penjual dan investor dan disetujui </li>
          <li> Penjual ini memiliki proses review sangat teliti dan luas, sehingga tawaran review dan generasi kontrak mungkin memakan waktu beberapa minggu </li>
          <li> Setelah disetujui, Kami akan mengirimkan Pembelian elektronik dan Sale Agreement (PSA) </li>
          <li> Penjual memberikan Dokumen Processor untuk mengumpulkan tanda tangan dari semua pihak, serta Koordinator Closing untuk melacak file ke tag </li>
          <li> Dalam waktu 48 jam setelah menerima PSA, Anda akan menandatanganinya dan menyediakan penjual dengan Uang Deposit Earnest </li>
          <li> Kami terkait biaya pembeli dibayar pada penutupan </li>
        </ul>
      </div>
    </div>
  </div>
</div>
