<!-- SLIDER START -->
<div class="page-wrapper navbar-menu-custom">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-centered">
          <% if current_user.present? %>
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
            </button>
          <% end %>
          <%= link_to "#{image_tag 'logo.png'}".html_safe, root_path %>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to new_property_path, class: 'become-agent' do %>
              PASANG IKLAN ANDA
              <i class="fa fa-question"></i>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Keanggotaan
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Daftar Paket', package_path %></li>
              <li><%= link_to 'Konfirmasi Pemesanan', new_confirmation_path %></li>
              <li><%= link_to 'List Agent Terverifikasi', agents_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to 'Blog', blog_infos_path %>
          </li>
          <%= render 'shareds/messages/list_limit' %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Bantuan
              <span class="fa fa-bell-o"></span>
            </a>
            <ul class="dropdown-menu padd-0 min-width-400">
              <div class="panel-help-menu-wrapper">
                <div class="panel-menu-head">
                  <i class="fa fa-search"></i>
                  <span>Bagaimana kami bisa membantu anda?</span>
                </div>
                <div class="panel-menu-body">
                  <ul>
                    <% @helps.each do |help| %>
                      <li>
                        <%= link_to "#{help.title}", landing_page_path(help) %>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <div class="panel-menu-footer">
                  <%= link_to help_path do %>
                    Pusat bantuan
                    <i class="fa fa-question"></i>
                  <% end %>
                </div>
              </div>
            </ul>
          </li>
          <% unless current_user.present? %>
            <li>
              <a href="#" data-toggle="modal" data-target="#daftar">
                Daftar
              </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#masuk">
                Masuk
              </a>
            </li>
          <% end %>
          <%= render 'shareds/users/menu' if current_user.present? %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="overlay"></div>
  <% if current_user.present? %>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <div class="box-profile-user">
            <div class="img-user">
              <%= image_tag current_user.profile.avatar.url(:small) %>
            </div>
            <div class="name-user">
              <%= current_user.username %>
            </div>
          </div>
          <br>
        </li>
        <li>
          <%= link_to userpage_dashboard_path do %>
            <i class="fa fa-home"></i> Beranda
          <% end %>
        </li>
        <li>
          <%= link_to userpage_properties_path do %>
            <i class="fa fa-image"></i> Iklan Saya
          <% end %>
        </li>
        <li>
          <%= link_to userpage_inquiries_path do %>
            <span class="fa fa-envelope-o"></span> Pesan
          <% end %>
        </li>
        <li>
          <%= link_to userpage_wishlists_path do %>
            <span class="glyphicon glyphicon-heart"></span> Properti Yang Diminati
          <% end %>
        </li>
        <li>
          <%= link_to user_edit_url(current_user.type, current_user) do %>
            <span class="glyphicon glyphicon-cog"></span> Pengaturan
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: 'delete' do %>
            <span class="glyphicon glyphicon-log-out"></span> Keluar
          <% end %>
        </li>
      </ul>
    </nav>
  <% end %>
</div>
