<%= favicon_link_tag "#{@setting.favicon.url(:thumb)}" %>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<% if params[:controller] == 'users' && params[:action] == 'show' %>
  <% resource = @user %>
  <% profile = @user.try(:profile) %>
  <% @title = profile.try(:meta_title)  %>
  <% @url = user_url(resource) %>

  <title><%= @title %></title>
  <meta charset="utf-8">
  <meta name="author" content="<%= profile.try(:full_name) rescue nil %>">
  <meta name='keywords' content="<%= profile.try(:meta_keyword) %>">
  <meta name="description" content="<%= profile.try(:meta_description) %>">
  <meta property="og:title" content="<%= @title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="<%= @url %>" />
  <meta property="og:url" content="<%= @url %>"/>
  <meta property="og:image" content="<%= image_url profile.try(:avatar).url(:medium) rescue nil %>"/>
  <meta property="og:description" content="<%= profile.try(:meta_description) %>"/>
  <meta property="article:publisher" content="<%= @setting.facebook %>"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="<%= @url %>">
  <meta name="twitter:title" content="<%= @title %>">
  <meta name="twitter:description" content="<%= profile.try(:meta_description) %>">
  <meta name="twitter:creator" content="@themeindo">
  <meta name="twitter:image:src" content="<%= image_url profile.try(:avatar).url(:medium) rescue nil %>">
<% elsif params[:controller] == 'properties' && params[:action] == 'show' %>
  <% resource = @property %>
  <% @title = resource.title %>
  <% @url = property_url(resource) %>
  <title><%= @title %></title>
  <meta name="author" content="<%= resource.user.username rescue nil %>">
  <meta name='keywords' content="<%= resource.title %>, <%= resource.category %>, <%= resource.type_property %>">
  <meta name="description" content="<%= resource.try(:category) %> <%= resource.try(:type_property) %> Harga: <%= number_to_currency_br(resource.the_price?) %> di <%= resource.address.try(:place_info) %>">
  <meta property="og:title" content="<%= @title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="<%= @url %>" />
  <meta property="og:url" content="<%= @url %>"/>
  <meta property="og:image" content="<%= image_url resource.try(:galleries).latest_position.try(:oldest).try(:first).try(:file).url(:medium) rescue nil %>"/>
  <meta property="og:description" content="<%= resource.try(:category) %> <%= resource.try(:type_property) %> Harga: <%= number_to_currency_br(resource.the_price?) %> di <%= resource.address.try(:place_info) %>"/>
  <meta property="article:publisher" content="<%= @setting.facebook %>"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="<%= @url %>">
  <meta name="twitter:title" content="<%= @title %>">
  <meta name="twitter:description" content="<%= resource.try(:category) %> <%= resource.try(:type_property) %> Harga: <%= number_to_currency_br(resource.the_price?) %> di <%= resource.address.try(:place_info) %>">
  <meta name="twitter:creator" content="@themeindo">
  <meta name="twitter:image:src" content="<%= image_url resource.try(:galleries).latest_position.try(:oldest).try(:first).try(:file).url(:medium) rescue nil %>">
<% elsif params[:controller] == 'blog_infos' && params[:action] == 'show' %>
  <% @title = @blog_info.title %>
  <% @url = blog_info_url(@blog_info) %>
  
  <title><%= @title %></title>
  <meta name="author" content="<%= @blog_info.user.username rescue nil %>">
  <meta name='keywords' content="<%= @blog_info.title %>">
  <meta name="description" content="<%= @blog_info.description %>">
  <meta property="og:title" content="<%= @title %>">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="<%= @url %>">
  <meta property="og:url" content="<%= @url %>">
  <meta property="og:image" content="<%= image_url @blog_info.try(:cover).url(:medium) rescue nil  %>">
  <meta property="og:description" content="<%= @blog_info.description %>">
  <meta property="article:publisher" content="<%= @setting.facebook %>">
  <meta property="fb:app_id" content="228172267515322">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="<%= @url %>">
  <meta name="twitter:title" content="<%= @title %>">
  <meta name="twitter:description" content="<%= @blog_info.description %>">
  <meta name="twitter:creator" content="<%= @blog_info.user.username rescue nil %>">
  <meta name="twitter:image:src" content="<%= image_url @blog_info.try(:cover).url(:medium) rescue nil  %>">
<% else %>
  <title><%= @setting.title %></title>
  <meta content='<%= @setting.author %>' name='author'/>
  <meta content='<%= @setting.keywords %>' name='keywords'/>
  <meta content='<%= @setting.description %>' name='description'/>
<% end %>

<meta name="google-site-verification" content="ko5QghTiUe81eGzwgSdZHlQZdkx5xf5ipN8-mGyHzcQ" />
<meta name="alexaVerifyID" content="S0TqGBjOroL68_NcfCs7nW1uBac"/>
<meta content='<%= @setting.robot %>' name='robots'/>
<meta content='<%= @setting.corpyright %>' name='copyright'/>
<meta content='<%= @setting.revisit %>' name='revisit'/>
<meta content='<%= @setting.expires %>' name='expires'/>
<meta content='<%= @setting.revisit_after %>' name='revisit-after'/>
<meta content='<%= @setting.geo_placename %>' name='geo.placename'/>
<meta content='<%= @setting.language %>' name='language'/>
<meta content='<%= @setting.country %>' name='geo.country'/>
<meta content='<%= @setting.content_language %>' http-equiv='Content-Language'/>
<meta content='<%= @setting.distribution %>' name='distribution'/>
<meta content='<%= @setting.generator %>' name='generator'/>
<meta content='<%= @setting.rating %>' name='rating'/>
<meta content='<%= @setting.target %>' name='target'/>
<meta content='true' name='MSSmartTagsPreventParsing'/>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
<meta content='index, follow' name='googlebot'/>
<meta content='follow, all' name='Googlebot-Image'/>
<meta content='follow, all' name='msnbot'/>
<meta content='follow, all' name='Slurp'/>
<meta content='follow, all' name='ZyBorg'/>
<meta content='follow, all' name='Scooter'/>
<meta content='all' name='spiders'/>
<meta content='all' name='WEBCRAWLERS'/>
<meta content='noodp' name='robots'/>
<meta content='noydir' name='robots'/>
<meta content='<%= @setting.search_engines %>' name='search engines'/>
<%= render 'shareds/fb_sdk' %>
