<%= f.fields_for :profile do |profile| %>
  <%= f.fields_for :address do |address| %>
    <%= f.fields_for :contact do |contact| %>
      <%= render partial: 'backend/users/form', locals: {f: f, profile: profile} %>
      <div class="break"></div>
      <%= f.fields_for :agent_info do |agent_info| %>
        <%= render partial: 'backend/users/form_agent_info', locals: {agent_info: agent_info} %>
        <div class="break"></div>
      <% end %>
      <%= render partial: 'backend/users/form_address', locals: {address: address} %>
      <div class="break"></div>
      <%= render partial: 'backend/users/form_contact', locals: {contact: contact} %>
      <div class="break"></div>
    <% end %>
  <% end %>
<% end %>
