<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="confirmation-package-rumahdaku">
        <div class="box-title-top">
          <div class="title">
            Konfirmasi Bank Transfer
          </div>
          <div class="description">
            Setelah pengiriman Bank Transfer selesai anda dapat melakukan konfirmasi pembayaran melalui form dibawah ini dan customer service kami akan segera memproses pemesanan paket anda Terima kasih atas kepercayaan anda melakukan pemesanan paket di rumahdaku.com
          </div>
        </div>
        <div class="box-title-top">
          <div class="title">
            Daftar rekening kami
          </div>
          <div class="break"></div>
          <div class="box-payment-atm">
            <% @setting.payments.each do |p| %>
              <div class="col-md-4">
                <div class="box-payment">
                  <div class="img-payment">
                    <%= image_tag p.logo.url, alt: 'Situs jual beli rumah di Indonesia' %>
                  </div>
                  <span><%= p.bank_name %></span>
                  <div class="name">
                    <%= p.name %>
                  </div>
                  <div class="no-transaction">
                    <%= p.account_number %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Detail Transfer</h2>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" role="form" action= method="POST">
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Nama Pemegang Rekening</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="#" placeholder="contoh: Fathan Rohman">
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Nama Bank Pengirim</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="#" placeholder="contoh: BCA">
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Jumlah</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="#" placeholder="contoh: 100000">
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="#" placeholder="contoh: email@example.com">
                </div>
              </div>
              <div class="sub-panel-heading row">
                <h2 class="panel-title">Detail Transaksi</h2>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Nomor Pesanan</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="#" placeholder="contoh: 00A07RTW">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 pull-right">
                  <button type="button" value="sending" class="btn btn-package-rumdak cari pull-right">Kirim Konfirmasi</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
