<div id="contactMaps" class="contactMaps"></div>
<section class="form-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-contact-top">
          Kontak Kami
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Alamat Lengkap :</h4>
        <p>
          <b>Kantor Pusat</b>
          <br>Jl. Pelabuan 2 Km.07 RT.01 RW.08 Kp.Tipar No.21, Desa Lembursitu, Kota Sukabumi
        </p>
        <br>
        <h4>Jam Operasional :</h4>
        <p>
          <b>Senin - Kamis</b> ( 10.00 WIB - 18.00 )
        </p>
        <p>
          <b>Sabtu</b> ( 11.00 WIB - 16.00 )
        </p>
        <br>
        <h4>Sosial Media :</h4>
        <p>
          <b>Facebook</b> ( <a href="<%= @setting.facebook %>" target="_blank"><%= @setting.facebook %></a> )
        </p>
        <p>
          <b>Twitter</b> ( <a href="<%= @setting.twitter %>" target="_blank"><%= @setting.twitter %></a> )
        </p>
        <p>
          <b>Email</b> ( <a href="mailto:<%= @setting.email %>"><%= @setting.email %></a> )
        </p>
      </div>
      <div class="col-md-6">
        <%= form_for Feedback.new, url: feedbacks_path, method: 'post' do |f| %>
          <div class="col-md-12">
            <div class="form-group">
              <span class="h6">Nama *</span>
              <%= f.text_field :name, value: "#{current_user.username if current_user.present?}", class: "form-control", placeholder: 'ex. Nadine', required: true %>
            </div>
            <div class="form-group">
              <span class="h6">Email *</span>
              <%= f.email_field :email, value: "#{current_user.username if current_user.present?}", class: "form-control", placeholder: 'ex. nadine@example.com', required: true %>
            </div>
            <div class="form-group">
              <span class="h6">Subyek *</span>
              <%= f.select :category, FeedbackCategory.to_a, {prompt: 'Pilih Subyek'}, class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <span class="h6">Pesan *</span>
              <%= f.text_area :message, class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <span class="h6">Handphone *</span>
              <%= f.text_field :phone, class: "form-control", placeholder: 'ex. +628770..', required: true %>
            </div>
            <div class="form-group">
              <input class="btn btn-success full-width" type="submit" value="Kirim">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
