<%= select_tag "#{params[:node]}[type_property]", options_for_select(@get_categories.alfa.pluck('name')), {prompt: 'Select Type', class: 'form-control select2 type_properties_select', required: true} %>

