<section class="cover-help-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="say-hello-help">
          Pusat Bantuan RumahDaku.com ?
        </div>
      </div>
    </div>
  </div>
</section>
<section class="nav-help-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav-help">
          <ul>
            <li class="active">
              <a href="#">Pusat Bantuan</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="nav-body-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <% @helps.each_with_index do |help, key| %>
            <a href="#tab-<%= key+0 %>" aria-controls="tab" role="tab" data-toggle="tab" class="list-group-item <%= 'active' if key == 0 %>">
              <%= key+1 %>. <%= help.title %>
              <div class="float-right">
                <i class="fa fa-chevron-right"></i>
              </div>
            </a>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content help-body">
          <% @helps.each_with_index do |help, key| %>
            <div role="tabpanel" class="tab-pane fade in <%= 'active' if key == 0 %>" id="tab-<%= key+0 %>">
              <div class="title">
                <%= help.title %>
              </div>
              <div class="date">
                Dipublikasikan pada : <strong><em><%= help.try(:created_at).strftime("%d %b %Y") %></em></strong>
              </div>
              <div class="description">
                <p><%= help.description.html_safe %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
