<%= render 'shareds/home/carousel' %>
<%= render 'shareds/home/category' %>
<%= render 'shareds/home/popular_locations' %>
<%= render 'shareds/home/popular_list' %>
<%= render 'shareds/home/blog_list' %>
<%= render 'shareds/home/agent_list' %>
