<div class="package-rumahdaku-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          Raih Semakin Banyak Prospek Dari Listing Anda
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="description">
            Sebagai situs properti no.1 di Indonesia, RumahDaku.com menjadi pilihan utama bagi jutaan pembeli properti dan investor, untuk mencari hunian idaman dan investasi pilihan. Memasarkan properti-properti Anda melalui media online RumahDaku.com sangatlah efisien dan efektif. Pilih paket dari RumahDaku.com di bawah ini yang sesuai kebutuhan Anda.
          </div>
        </div>
        <% unless current_user.present? %>
          <div class="text-center">
            <%= link_to 'DAFTAR SEKARANG', new_user_registration_path, class: 'btn btn-primary btn-lg btn-width-300 no-border' %>&nbsp;&nbsp;
            <%= link_to 'LOGIN DISINI', new_user_session_path, class: 'btn btn-success btn-lg btn-width-300 no-border' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="package-rumahdaku-pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="title-top-pricing">
          Harga Paket Tersedia
        </div>
        <div class="box-pricing-package-wrapper">
          <div class="box-pricing">
            <div class="listing-title-top">
              <span>PAKET FREE</span><br>
              <span class="price-color">Rp.0,-/Tahun</span>
              <div class="triangle"></div>
            </div>
            <div class="listing-pricing-package">
              <ul>
                <li>Gratis 10 Listing Online</li>
                <li>Gratis Landing Page Personal</li>
                <li>Gratis Halaman Dashboard</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>
                  <% if current_user.present? %>
                    <%= link_to 'Buat Iklan', new_property_path, class: 'btn btn-package-rumdak btn-lg no-border full-width' %>
                  <% else %>
                    <%= link_to 'Daftar Member', new_user_registration_path, class: 'btn btn-package-rumdak btn-lg no-border full-width' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="box-pricing">
            <div class="listing-title-top">
              <span>PAKET AGEN PREMIUM</span><br>
              <span class="price-color">Rp.200.000,-/Tahun</span>
              <div class="triangle"></div>
            </div>
            <div class="listing-pricing-package">
              <ul>
                <li>100 listing online</li>
                <li>Landing Page Profile Agen</li>
                <li>Halaman Dashboard Agen</li>
                <li>Label Premium Deal Iklan</li>
                <li>Profil Terdaftar di List Agen Terverifikasi</li>
                <li>Share Media Social By Team Rumahdaku</li>
                <li>Iklan Terdaftar di List Pilihan</li>
                <li>
                  <% if current_user.present? %>
                    <% if current_user.order_package.present? || current_user.agent? %>
                      <a href="" class='btn btn-package-rumdak btn-lg no-border full-width'> Sudah Berlangganan</a>
                    <% else %>
                      <a data-toggle="modal" data-target="#package-subscribe" class= 'btn btn-package-rumdak btn-lg no-border full-width'>Daftar Berlangganan</a>
                    <% end %>
                  <% else %>
                    <%= link_to 'Daftar Agen Premium', new_user_session_path, class: 'btn btn-package-rumdak btn-lg no-border full-width' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="payment-method-atm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-top">
          Rekening Tersedia
        </div>
        <div class="box-payment-atm">
          <% @setting.payments.each do |p| %>
            <div class="col-md-6">
              <div class="box-payment">
                <div class="img-payment">
                  <%= image_tag p.logo.url, alt: 'Situs jual beli rumah di Indonesia' %>
                </div>
                <span><%= p.bank_name %></span>
                <div class="name">
                  <%= p.name %>
                </div>
                <div class="no-transaction">
                  <%= p.account_number %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shareds/modal_package' if params[:action] == 'package' && current_user.present?  %>
