<div class="row">
  <div class="col-md-12">
    <div class="well">
      <center>
        <h2>Status</h2>
        <p><%= f.check_box :status  %></p>
      </center>
    </div>
  </div>
  <div class="col-md-4">
    <h6>Category</h6>
    <%= f.select :category, CategoryLandingPage.to_a, {prompt: 'Select Category'}, {class: 'form-control', required: true} %>
  </div>
  <div class="col-md-8">
    <h6>Title</h6>
    <%= f.text_field :title, class: 'form-control', required: true  %>
  </div>
  <div class="col-md-12">
    <h6>Link URL</h6>
    <%= f.text_field :link_url, class: 'form-control'  %>
  </div>
  <div class="col-md-12">
    <h6>Description</h6>
    <%= f.cktext_area :description, class: 'form-control', required: true  %>
  </div>
</div>
