<div class="card-dashboard-member">
  <div class="card-body">
    <div class="title">
      <span>Selamat Datang Di Halaman Beranda <%= current_user.type %>!</span>
    </div>
    <div class="image">
      <%= image_tag current_user.profile.avatar.url(:small) %>
    </div>
    <div class="description">
      <div class="name">
        <%= current_user.profile.full_name %>
      </div>
      <div class="brand">
        <%= current_user.username %>
      </div>
      <div class="status">
        <%= current_user.type %> <%= current_user.verified? %>
      </div>
      <div class="col-md-12">
        <br>
        <% if current_user.order_package.present? && current_user.order_package.status == false %>
          <div class='alert alert-info'>
            Upgrade pengambilan paket agen premium anda sedang masa verifikasi oleh admin, verifikasi memakan waktu 1x24jam<br>Terimakasih!
          </div>
          <%= link_to 'Lihat Invoice & Konfirmasi'.html_safe, userpage_order_package_path(current_user.order_package), class: 'btn btn-danger' %>
        <% elsif current_user.member? && current_user.order_package.blank? %>
          <div class="title">
            Apakah Anda ingin menjadi agen properti yang terverifikasi?
          </div>
          <div class="alert alert-warning">
            Akun anggota Anda dapat ditingkatkan untuk menjadi account agen premium, dengan fitur dari agen layanan yang Anda dapatkan di website ini lebih banyak dan beragam, dengan mengklik link di bawah:
          </div>
          <%= link_to '<i class="fa fa-hand-o-up"></i> Upgrade Ke Paket Premium'.html_safe, package_path, class: 'btn btn-danger' %>
        <% end %>
        <% if current_user.expired? && current_user.agent_verify? %>
          <div class='alert alert-danger'>
            Akun agen premium anda sudah melewati masa aktif, silahkan perbaharui dengan membayar biaya perpanjangan paket ke no rekening yang tersedia di rumahdaku.com, Lalu konfirmasi pembayaran paket anda di halaman konfirmasi, Petugas kami akan memverifikasi pembayaran anda. Proses verifikasi max 1x24 jam.<br>Terimakasih!
          </div>
          <%= link_to 'Lihat Invoice'.html_safe, userpage_order_package_path(current_user.order_package), class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="box-card-list">
      <div class="title">
        Pengguna paket
      </div>
      <div class="description">
        <%= current_user.package.titleize if current_user.package.present? %>
      </div>
    </div>

    <% if current_user.agent_verify? %>
      <div class="box-card-list">
        <div class="title">
          Masa aktif
        </div>
        <div class="description">
          <%= current_user.order_package.updated_at.strftime("%B, %d, %Y") if current_user.order_package.present? %> - 
          <%= (current_user.order_package.updated_at + 1.year).strftime("%B, %d, %Y") if current_user.order_package.present? %>
        </div>
      </div>
    <% else %>
      <div class="box-card-list">
        <div class="title">
          Terdaftar
        </div>
        <div class="description">
          <%= current_user.created_at.strftime("%B, %d, %Y") %>
        </div>
      </div>
    <% end %>

    <div class="box-card-list">
      <div class="title">
        Limit Iklan
      </div>
      <div class="description">
        <%= current_user.properties.size %> Iklan aktif dari/<%= current_user.limit %>
      </div>
    </div>
  </div>
</div>
