<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>

<div class="box-listing-property-member">
  <div class="box-image-left-wrapper">
    <div class="img-big">
      <span class="flat-id">Id: <%= resource.code %></span>
      <span class="status">
        <%= resource.active? %>
      </span>
      <% if resource.sold? %>
        <%= image_tag 'sold-out.png', class: 'expired-label', alt: 'Situs jual rumah di Indonesia' unless resource.the_rent? %>
      <% end %>
      <%= image_tag "#{resource.galleries.latest_position.first.file.url(:small)}", alt: "#{resource.title}" %>
    </div>
  </div>
  <div class="box-desc-right-wrapper">
    <div class="box-content">
      <div class="title">
        <%= link_to property_path(resource) do %>
          <%= resource.category %>: <%= resource.title %>
        <% end %>
      </div>
      <div class="box-info-left">
        <div class="location">
          <span class="color-grey">
            <i class="fa fa-tags"></i>
            <span><%= resource.try(:type_property) %></span>
          </span>&nbsp;
          <span class="color-grey">
            <i class="fa fa-map-marker"></i>
            <span><%= address.try(:city) %>, <%= address.try(:province) %></span>
          </span>
        </div>
      </div>
      <div class="box-info-right">
        <div class="price"><%= number_to_currency_br(resource.the_price?) %></div>
        <small class="color-grey"><%= resource.the_price_status? %></small>
        <br>
        <% unless resource.the_rent? %>
          <% if resource.sold_report.present? %>
            <label class="label label-default">
              Terjual: <%= resource.try(:sold_report).try(:date).strftime("%b, %d, %Y") if resource.sold_report.date.present? %>
            </label>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="box-footer">
      <div class="count-people">
        <i class="fa fa-eye"></i> <%= resource.impressionist_count %> Dilihat
      </div>
      <div class="action-user">
        <% if resource.sold_report.present? && resource.the_rent?  %>
          <small class="color-green">
            <i class="fa fa-money"></i>&nbsp;
            <strong>SOLD <%= number_to_currency_br(resource.sold_report.price) if resource.sold_report.price.present? %></strong>
          </small>
        <% else %>
          <% unless resource.sold_report.present? || resource.the_rent? %>
            <a class="btn btn-xs btn-default no-border" data-toggle='modal' data-target="#modal-report-<%= resource.id %>">
              <i class="fa fa-money"></i>
              Sold
            </a>
          <% end %>
          <%= link_to edit_resource_path(resource) do %>
            <div class="btn btn-xs btn-warning no-border">
              <i class="fa fa-wrench"></i>
              Edit
            </div>
          <% end %>
          <%= link_to resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this #{resource.code}"} do %>
            <div class="btn btn-xs btn-danger no-border">
              <i class="fa fa-trash"></i>
              Delete
            </div>
          <% end %>
          <%= link_to property_path(resource) do %>
            <div class="btn btn-xs btn-primary no-border">
              <span class="fa fa-search"></span>
              View
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>