<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>
<% expired_date = resource.auction.end_auction.strftime("%B, %d, %Y") if resource.auction.end_auction.present? %>
<div class="box-listing-property-member box-listing-property-auction" data-expired="<%= expired_date %>">
  <div class="box-image-left-wrapper">
    <div class="img-big">
      <span class="flat-id">Id: <%= resource.code %></span>
      <span class="status">
        <%= resource.active? %>
      </span>
      <% if resource.sold? %>
        <%= image_tag 'sold-out.png', class: 'expired-label' unless resource.the_rent? %>
      <% end %>
      <div class="box-three-desc-auction">
        <center><small class="title-timer">Countdown Timer</small></center>
        <ul class="countdown">
          <li> <span class="days">00</span>
            <p class="days_ref">DAYS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="hours">00</span>
            <p class="hours_ref">HRS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
            <p class="minutes_ref">MINS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
            <p class="seconds_ref">SEC</p>
          </li>
        </ul>
      </div>
      <%= image_tag "#{resource.galleries.latest_position.first.file.url(:small)}", alt: "#{resource.title}" %>
    </div>
  </div>
  <div class="box-desc-right-wrapper">
    <div class="box-content">
      <div class="title">
        <%= link_to property_path(resource) do %>
          <%= resource.category %>: <%= resource.title %>
        <% end %>
      </div>
      <div class="box-info-left">
        <div class="location">
          <span class="color-grey">
            <i class="fa fa-tags"></i>
            <span><%= resource.try(:type_property) %></span>
          </span>&nbsp;
          <span class="color-grey">
            <i class="fa fa-map-marker"></i>
            <span><%= address.try(:city) %></span>
          </span>
          <br>
          <small class="color-grey schedule">
            <a href="#" data-toggle="modal" data-target="#modal_list_schedule_visit">
              <i class="fa fa-calendar"></i>&nbsp;Lihat Jadwal Kunjungan
            </a>
            <div class="desc-bottom-timer">
              <div class="desc-time-left">Bersedia Bertemu : <span><%= resource.try(:auction).try(:reserve_met) %></span></div>
            </div>
            <a href="#" data-toggle="modal" data-target="#modal_view_all_bids">
              <%= resource.try(:bid_auctions).size %> Penawaran<i class="fa fa-question-circle"></i>
            </a>
          </small>
        </div>
      </div>
      <div class="box-info-right">
        <div class="price"><%= number_to_currency_br(resource.auction.starting_bid) %></div>
        <small class="color-grey"><%= resource.the_price_status? %></small>
        <br>
        <% unless resource.the_rent? %>
          <% if resource.sold_report.present? %>
            <label class="label label-default">
              Terjual: <%= resource.try(:sold_report).try(:date).strftime("%b, %d, %Y") if resource.sold_report.date.present? %>
            </label>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="box-footer">
      <div class="count-people">
        <i class="fa fa-eye"></i> <%= resource.impressionist_count %> Dilihat
      </div>
      <div class="action-user">
        <% if resource.sold_report.present? && resource.the_rent?  %>
          <small class="color-green">
            <i class="fa fa-money"></i>&nbsp;
            <strong>SOLD <%= number_to_currency_br(resource.sold_report.price) if resource.sold_report.price.present? %></strong>
          </small>
        <% else %>
          <% unless resource.sold_report.present? || resource.the_rent? %>
            <a class="btn btn-xs btn-default no-border" data-toggle='modal' data-target="#modal-report-<%= resource.id %>">
              <i class="fa fa-money"></i>
              Sold
            </a>
          <% end %>
          <%= link_to edit_resource_path(resource) do %>
            <div class="btn btn-xs btn-warning no-border">
              <i class="fa fa-wrench"></i>
              Edit
            </div>
          <% end %>
          <%= link_to resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this #{resource.code}"} do %>
            <div class="btn btn-xs btn-danger no-border">
              <i class="fa fa-trash"></i>
              Delete
            </div>
          <% end %>
          <%= link_to property_path(resource) do %>
            <div class="btn btn-xs btn-primary no-border">
              <span class="fa fa-search"></span>
              View
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shareds/modal_all_bids_auction', resource: resource %>
<%= render 'shareds/modal_list_schedule_visit', resource: resource %>
