<div class="row">
  <div class="col-xs-9">
    <h4>Iklan Saya (<%= @properties.count %>)</h4>
  </div>
  <div class="col-xs-3">
    <%= link_to '<i class="fa fa-plus-square-o"></i> Buat Baru'.html_safe, new_property_path, class: 'btn btn-default pull-right' %>
  </div>
  <div class="col-xs-12">
    <hr>
    <br>
  </div>
</div>

<% if @collection.present? %>
  <% @collection.each_with_index do |resource, index| %>
    <% if resource.is_category_auction? %>
      <%= render 'properties_auction', resource: resource %>
    <% else %>
      <%= render 'properties_list', resource: resource %>
    <% end %>
    <%= render 'shareds/modal_sold', resource: resource %>
  <% end %>
<% else %>
  <div class='alert alert-danger'>Tidak ada data yang tersedia!</div>
<% end %>

<%= paginate @collection %>
