<div class="row">
  <div class="col-md-6">
    <div class="well">
      <div class="text-center">
        <h2>Verified</h2>
        <%= f.check_box :status %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <div class="text-center">
        <h2>Featured</h2>
        <%= f.check_box :featured %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h6>User</h6>
    <%= f.select :user_id, Admin.pluck(:username, :id), {prompt: 'Select User'}, {class: 'form-control select2', required: true} %>
    <h6>Category</h6>
    <%= f.select :category_id, options_for_select(CategoryBlogInfo.latest.map{|c| [c.name, c.id]}, f.object.category_id), {prompt: 'Choice Category'}, class: 'select2 form-control', required: true %>
    <h6>Title</h6>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <%= image_tag f.object.cover.url(:thumb) %>
    <%= f.file_field :cover %>
  </div>
  <div class="col-md-12">
    <h6>Description</h6>
    <%= f.cktext_area :description, class: 'form-control', required: true %>
  </div>
  <div class="break"></div>
  <div class="col-md-12">
    <h6>Origin Sources</h6>
    <%= f.text_field :source, class: 'form-control', placeholder: 'https://id.wikipedia.org/' %>
  </div>
</div>
