<div class='col-md-12'>
  <%= render 'backend/shareds/search_form_confirmation' %>
  <%= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do %>
    <div class='widget'>
      <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Confirmations', button_name: 'Confirmations', add_method: true} %>
      <div class='widget-content'>
        <div class='table-responsive'>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%"> #</td>
                <th width="10%"> For Invoice Code</td>
                <th> Payer</td>
                <th> Nominal</td>
                <th> Category</td>
                <th> To Bank Account</td>
                <th> Payment Method</td>
                <th> Payment At</td>
                <th width="10%"> Action</td>
              </tr>
            </thead>
            <tbody>
              <% @collection.each_with_index do |resource, index| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id %></td>
                  <td><%= link_to "#{resource.no_invoice}", resource_path(resource) %></td>
                  <td><%= resource.sender_name %></td>
                  <td>
                    <b><%= number_to_currency_br(resource.nominal) if resource.nominal.present? %></b>
                  </td>
                  <td><%= resource.category %></td>
                  <td><%= resource.bank_account %></td>
                  <td><%= resource.payment_method %></td>
                  <td>
                    <small><%= resource.try(:payment_date).strftime("%B, %d, %Y") if resource.payment_date.present? %></small>
                  </td>
                  <td>
                    <%= link_to '<i class="fa fa-times"></i>'.html_safe, resource_path(resource), method: 'delete', class: 'btn btn-xs btn-danger', data: {confirm: "Are you sure delete this #{resource.id}"} if current_user.admin? %>
                    <%= link_to '<div class="fa fa-eye"></div>'.html_safe, resource_path(resource), class: 'btn btn-xs btn-info' if current_user.admin? %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class='widget-foot'>
          <div class='pull-right'><%= paginate @collection %></div>
          <div class='clearfix'></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
