<div class='col-md-12'>
  <div class='well'>
    <center>
      <h4>
        <i class="fa fa-check"></i> Matching
      </h4>
    </center>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='text-center uppercase'>
        For Invoice <strong><%= resource.no_invoice %></strong>
      </h4>
      <center class='small'>
        <b>Payment Date : </b>
        <%= resource.try(:payment_date).strftime("%B, %d, %Y") if resource.payment_date %>
        <br>
        <b>Order Name : </b>
        <%= resource.try(:name) %> (<%= resource.try(:email)%>)
      </cener>
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='table-responsive table-order-list'>
            <table class="table table-striped">
              <thead>
                <tr>
                  <td class="text-center" width="20%">
                    <strong>Sender</strong>
                  </td>
                  <td class="text-center">
                    <strong>Nominal</strong>
                  </td>
                  <td class="text-center">
                    <strong>Category</strong>
                  </td>
                  <td class="text-center">
                    <strong>To Bank Account</strong>
                  </td>
                  <td class="text-center">
                    <strong>Payment Method</strong>
                  </td>
                  <td class="text-center">
                    <strong>Buyer</strong>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class='text-center'>
                    <span>
                      <%= resource.try(:sender_name) %>
                    </span>
                  </td>
                  <td class='text-center'>
                    <b><%= number_to_currency_br(resource.nominal) if resource.nominal.present? %></b>
                  </td>
                  <td class='text-center'>
                    <span>
                      <%= resource.try(:category) %>
                    </span>
                  </td>
                  <td class='text-center'>
                    <span>
                      <%= resource.try(:bank_account) %>
                    </span>
                  </td>
                  <td class='text-center'>
                    <span>
                      <%= resource.try(:payment_method) %>
                    </span>
                  </td>
                  <td class='text-center'>
                    <span>
                      <%= resource.try(:name) %>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><b> Email:</b></p>
          <p><%= resource.email %></p>
          <p><b>Payment Date:</b></p>
          <p><%= resource.payment_date %>
          <p><b>Message:</b></p>
          <p><%= resource.message %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='well'>
    <center><h4><i class="fa fa-check"></i> Matching</h4></center>
  </div>
  <%= render 'shareds/invoice' if @order.present? %>
</div>
