<div class="content-users-middle">
  <div class="container">
    <div class="col-md-3">
      <%= render 'shareds/users/sidebar_left' %>
    </div>
    <div class="col-md-6">
      <div class="content-users">
        <div class="title-empty">
          It’s lonely here. :(
        </div>
        <div class="description-empty">
          Your activities will appear here.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= render 'shareds/users/sidebar_right' %>
    </div>
  </div>
</div>
