<%= background = 'banner-header-page.jpg' if current_user.profile.cover_file_name == nil %>
<% background = current_user.profile.cover.url unless current_user.profile.cover_file_name == nil %>
<section class="header-second-page">
  <div class="box-image-header-userpage" style="background-image: url('<%= image_url background %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-desc-user">
          <%= link_to user_path(current_user) do %>
            <div class="user-image-cycle float-none margin-none">
              <%= image_tag "#{current_user.try(:profile).try(:avatar).url(:small)}", class: 'host-profile-image', title: 'Situs jual rumah di Indonesia', alt: 'Situs jual rumah di Indonesia' %>
            </div>
          <% end %>
          <br>
          <%= link_to user_path(current_user) do %>
            <h3><%= current_user.try(:profile).try(:full_name) %></h3>
          <% end %>
          <span class="uppercase">
            ID <%= current_user.try(:code) %>
          </span>
          <div class="text-muted small">
            Terdaftar Sejak <%= current_user.try(:created_at).strftime("%B, %d, %Y") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
