<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="img-icon-menu-top">
      <%= image_tag current_user.profile.avatar.url(:small), alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
    </div>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to userpage_dashboard_path do %>
        Beranda <i class="fa fa-home pull-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to userpage_properties_path do %>
        Iklan Saya <i class="fa fa-image pull-right"></i>
      <% end %>
    </li>
    <li>
      <%= link_to userpage_wishlists_path do %>
        Properti Yang Diminati <span class="glyphicon glyphicon-heart pull-right"></span>
      <% end %>
    </li>
    <li>
      <%= link_to user_edit_url(current_user.type, current_user) do %>
        Pengaturan <span class="glyphicon glyphicon-cog pull-right"></span>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: 'delete' do %>
        Keluar <span class="glyphicon glyphicon-log-out pull-right"></span>
      <% end %>
    </li>
  </ul>
</li>