<div class="nav-sidebar-users-right">
  <div class="sidebar-users-right-wrapper">
    <div class="title">
      Apakah Anda ingin menjadi agen properti yang terverifikasi?
    </div>
    <div class="description">
      Akun anggota Anda dapat ditingkatkan untuk menjadi account agen premium, dengan fitur dari agen layanan yang Anda dapatkan di website ini lebih banyak dan beragam, dengan mengklik link di bawah:
    </div>
    <div class="image-icon">
      <div class="row">
        <div class="col-md-12">
          <%= link_to package_path do %>
            <%= current_user.agent_processed? %>
          <% end %>
        </div>
        <div class="break"></div>
        <div class="col-md-12">
          <strong>Terdaftar Sejak: </strong><br>
          <%= current_user.try(:created_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:created_at).present? %>
          <br><br>
          <strong>Terakhir Masuk : </strong><br>
          <%= current_user.try(:last_sign_in_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:last_sign_in_at).present? %>
        </div>
      </div>
    </div>
  </div>
</div>

