<div class="nav-sidebar-users-left">
  <nav class="nav-sidebar-left">
    <ul class="nav tabs">
      <li class="<%= active_sidebar_active?(:home, :dashboard) %>">
        <%= link_to userpage_dashboard_path do %>
          <i class="fa fa-home"></i>
          &nbsp;&nbsp;Beranda
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:wishlists, :all) %>">
        <%= link_to userpage_wishlists_path do %>
          <i class="fa fa-heart"></i>
          &nbsp;&nbsp;Properti Yang Diminati
          <span class="pull-right">
            <span class="badge"><%= @wishlists_size %></span>
          </span>
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:inquiries, :all) %>">
        <%= link_to userpage_inquiries_path do %>
          <i class="fa fa-comments"></i>
          &nbsp;&nbsp;Pesan
          <span class="pull-right">
            <span class="badge"><%= @inquiries_size %></span>
          </span>
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:properties, :all) %>">
        <%= link_to userpage_properties_path do %>
          <i class="fa fa-flag"></i>
          &nbsp;&nbsp;Iklan Saya
          <span class="pull-right">
            <span class="badge"><%= @properties_size %></span>
          </span>
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:sold_reports, :all) %>">
        <%= link_to userpage_sold_reports_path do %>
          <i class="fa fa-file-text"></i>
          &nbsp;&nbsp;Report Penjualan
          <span class="pull-right">
            <span class="badge"><%= @reports_size %></span>
          </span>
        <% end %>
      </li>
      <li class="<%= active_sidebar_active?(:order_packages, :all) %>">
        <%= link_to userpage_order_packages_path do %>
          <i class="fa fa-briefcase"></i>
          &nbsp;&nbsp;Package
        <% end %>
      </li>
      <li>
        <hr>
      </li>
      <li class="<%= active_sidebar_active?(:members, :all) ||  active_sidebar_active?(:agents, :all) %>">
        <%= link_to user_edit_url(current_user.type, current_user) do %>
          <i class="fa fa-wrench"></i>
          &nbsp;&nbsp;Pengaturan
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: 'delete' do %>
          <i class="fa fa-mail-reply"></i>
          &nbsp;&nbsp;Keluar
        <% end %>
      </li>
    </ul>
  </nav>
  <br>
  <div class="well">
    <strong>Terdaftar Sejak: </strong><br>
    <%= current_user.try(:created_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:created_at).present? %>
    <br><br>
    <strong>Terakhir Masuk : </strong><br>
    <%= current_user.try(:last_sign_in_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:last_sign_in_at).present? %>
  </div>
</div>
