<%= render partial: 'backend/shareds/prepare_form',
            locals: { form_name: 'Properties', action_name: 'New', form_method: 'post'} %>
<div class="hidden-form"></div>
<div class="hidden-form-basic"></div>
