<div class="col-md-12">
  <%= render 'backend/shareds/search_form_property' %>
  <%= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do %>
    <div class="widget">
      <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Properties', button_name: 'Property', add_method: true} %>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%">
                  <div class="check_all_box">
                    <%= check_box_tag :check_all %>
                  </div>
                </th>
                <th>Flate Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>User</th>
                <th>Created At</th>
                <th>Activated At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @collection.each_with_index do |resource, index| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id %></td>
                  <td><%= resource.code %></td>
                  <td><%= resource.category %>: <%= link_to resource.title, property_path(resource) %> <%= resource.featured? %></td>
                  <td>
                    <% if resource.sold? %>
                      <%= resource.sold_label? %>
                    <% else %>
                      <%= resource.active? %>
                    <% end %>
                  </td>
                  <td><%= link_to resource.user.username, user_path(resource.user) if resource.user %></td>
                  <td><%= resource.created_at.strftime("%B, %d, %Y") if resource.created_at.present? %></td>
                  <td>
                    <% if resource.started_at.present? %>
                      <%= resource.started_at.strftime("%B, %d, %Y")%><br>
                    <% end %>
                  </td>
                  <td>
                    <%= render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="widget-foot">
          <div class="pull-right">
            <%= paginate @collection %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
