<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>
<% expired_date = resource.auction.end_auction.strftime("%B, %d, %Y") if resource.auction.end_auction.present? %>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="box-listing-property box-listing-property-auction" data-expired="<%= expired_date %>">
    <div class="box-img-wrapper">
      <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}" %>
      <div class="box-three-desc-auction">
        <ul class="countdown">
          <li> <span class="days">00</span>
            <p class="days_ref">DAYS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="hours">00</span>
            <p class="hours_ref">HRS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
            <p class="minutes_ref">MINS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
            <p class="seconds_ref">SEC</p>
          </li>
        </ul>
      </div>
      <div class="price">
        <%= number_to_currency_br(resource.the_price?) %>
      </div>
      <div class="section-whistlist">
        <%= checking_wishlist(resource.id, current_user.id, wishlist_properties_path(id: resource.id)).html_safe if current_user.present? %>
      </div>
    </div>
    <div class="box-info-property box-info-property-user">
      <div class="title"><%= link_to resource.category + ' ' +resource.title.titleize, property_path(resource) %></div>
      <div class="name-property"><span class="fa fa-map-marker"></span> <%= address.simple_place %></div>
    </div>
  </div>
</div>