<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="listing-user-prop-v2">
    <div class="images-prop-v2">
      <div class="images">
        <%= link_to property_path(resource) do %>
          <%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:small)}" %>
        <% end %>
        <div class="price-top">
          <span>Flat ID : <%= resource.code %></span>
        </div>
        <div class="count-gallery">
          <%= resource.galleries.available.size %>
        </div>
        <div class="date">
          <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
        </div>
      </div>
    </div>
    <div class="desc-prop-v2">
      <div class="title-box">
        <span><%= link_to resource.category + ' ' +resource.title.titleize, property_path(resource) %></span><br>
        <i class="fa fa-map-marker"></i>&nbsp;<span class="address"><%= address.try(:simple_place_info) %></span>
      </div>
      <div class="box-desc-body">
        <div class="info">
          <span class="price"><%= number_to_currency_br(resource.the_price?) %></span>
          <div class="status"><%= resource.the_price_status? %></div>
        </div>
        <div class="info">
          Tipe Iklan : <span><%= resource.try(:type_property) %></span>
        </div>
      </div>
      <div class="box-desc-body last-desc-body">
        <div class="info">
          <i class="fa fa-eye"></i>
          Telah dilihat <span><%= resource.impressionist_count %> Orang</span>
        </div>
        <div class="info">
          <i class="fa fa-thumbs-o-up"></i>
          Telah difavoritkan <span><%= resource.wishlists.size %> Orang</span>
        </div>
      </div>
    </div>
  </div>
</div>
