<h3 align="center" class="h-caption">Iklan Tayang (<%= @properties.count %>)</h3>

<div class="listing-property">
  <div class="row">
    <% @lists.each_with_index do |resource, index| %>
      <% cache ["user_list_properties_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
        <% if resource.is_category_auction? %>
          <%= render 'auction_properties', resource: resource %>
        <% else %>
          <%= render 'properties', resource: resource %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @lists %>
