<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<div class="modal-box-auth-wrapper">
    <div class="box-auth-header">
      <div class="title-left">
        LUPA PASSWORD?
      </div>
    </div>
    <div class="box-auth-body">
      <div class="col-md-12">
        <div class="row">
          <span class="h6">Silahkan masukan email anda untuk verifikasi!</span>
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>
      </div>
    </div>
    <div class="box-auth-footer">
      <div class="text-footer">
        <div class="form-group">
          <div class="controls">
            <%= f.submit 'Kirim saya ulang petunjuk sandi',  class: "btn btn-primary btn-block medium-font" %>
          </div>
        </div>
        <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

