<script type="text/javascript">
  $("#contactMaps").gmap3({
    map:{
      options:{
        center:[-6.959975, 106.891522],
        zoom: 15
      }
    },
    marker:{
      values:[
        {latLng:[-6.959975, 106.891522], data:"<h4>Kantor Pusat</h4>Jl. Pelabuan 2 Km.07 RT.01 RW.08 Kp.Tipar No.21, Desa Lembursitu, Kota Sukabumi"}
      ],
      options:{
        draggable: false
      },
      events:{
        mouseover: function(marker, event, context){
          var map = $(this).gmap3("get"),
            infowindow = $(this).gmap3({get:{name:"infowindow"}});
          if (infowindow){
            infowindow.open(map, marker);
            infowindow.setContent(context.data);
          } else {
            $(this).gmap3({
              infowindow:{
                anchor:marker,
                options:{content: context.data}
              }
            });
          }
        },
        mouseout: function(){
          var infowindow = $(this).gmap3({get:{name:"infowindow"}});
          if (infowindow){
            infowindow.close();
          }
        }
      }
    }
  });
</script>
