<div class="section-top-search-new">
	<div class="panel-for-search">
		<form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-2">
						<p><b>Type Property</b></p>
						<div class="row">
							<div class="col-xs-12">
								<div class="input-group">
									<span class="input-group-addon">Type</span>
									<select name="min-price" class="form-control">
										<option>Rumah</option>
										<option>Apartemen</option>
										<option>Tanah</option>
										<option>Ruko</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<p><b>Price Range</b></p>
						<div class="row">
							<div class="col-xs-6">
								<div class="input-group">
									<span class="input-group-addon">Rp</span>
									<select name="min-price" class="form-control">
										<option>Min</option>
										<option>500.000</option>
										<option>1000.000</option>
										<option>5000.000</option>
										<option>10.000.000</option>
									</select>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="input-group">
									<span class="input-group-addon">Rp</span>
									<select name="min-price" class="form-control">
										<option>Max</option>
										<option>500.000</option>
										<option>1000.000</option>
										<option>5000.000</option>
										<option>10.000.000</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<p><b>Building Area</b></p>
						<div class="row">
							<div class="col-xs-6">
								<div class="input-group">
									<span class="input-group-addon">m<sup>2</sup></span>
									<select name="min-price" class="form-control">
										<option>Min</option>
										<option>100</option>
										<option>200</option>
										<option>500</option>
										<option>1000</option>
									</select>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="input-group">
									<span class="input-group-addon">m<sup>2</sup></span>
									<select name="min-price" class="form-control">
										<option>Max</option>
										<option>100</option>
										<option>200</option>
										<option>500</option>
										<option>1000</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<p><b>Land Area</b></p>
						<div class="row">
							<div class="col-xs-6">
								<div class="input-group">
									<span class="input-group-addon">m<sup>2</sup></span>
									<select name="min-price" class="form-control">
										<option>Min</option>
										<option>100</option>
										<option>200</option>
										<option>500</option>
										<option>1000</option>
									</select>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="input-group">
									<span class="input-group-addon">m<sup>2</sup></span>
									<select name="min-price" class="form-control">
										<option>Max</option>
										<option>100</option>
										<option>200</option>
										<option>500</option>
										<option>1000</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 search-more-form">
						<br>
						<div class="row">
							<div class="col-md-3">
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-12">
										<div class="input-group">
											<span class="input-group-addon">Bedroom&nbsp;</span>
											<select name="min-price" class="form-control">
												<option>Pilih</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-12">
										<div class="input-group">
											<span class="input-group-addon">Bathroom</span>
											<select name="min-price" class="form-control">
												<option>Pilih</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-12">
										<div class="input-group">
											<span class="input-group-addon">Garage&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<select name="min-price" class="form-control">
												<option>Pilih</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-9">
								<div class="line-through">
									<p><span>Facility</span></p>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Sekolah
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Supermarket
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Warnet
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Perkantoran
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Sport Center
									</div>
								</div>

								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Shopping Mall
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Rumah Sakit
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Keamanan 24 Jam
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Pintu Tol
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Mesjid
									</div>
								</div>

								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Service Station
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Kolam Renang
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Kafe/Kantin
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Pasar Tradisional
									</div>
								</div>
								<div class="form-row">
									<div class="checkbox">
										<input type="checkbox" value="school"> Taman Bermain
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
					<div class="col-xs-12">
						<div class="line-through"></div>
						<span class="pull-left click-search-more-form">
							Show all filters &nbsp; &nbsp; <span class="glyphicon glyphicon-menu-down"></span>
						</span>
						<button class="btn btn-success btn-search-new pull-right" type="submit">
							<span class="glyphicon glyphicon-search"></span> Search Now
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
