<div class="basic-form basic-form-office">
  <h4>Sekilas Informasi Kantor</h4>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <span class="h6">Dokumen</span>
        <%= basic.select :document, Document.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <span class="h6">Luas tanah (m<sup>2</sup>)</span>
        <%= basic.number_field :building_area, class: 'form-control', placeholder: 'ex. 1000' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <span class="h6">Tahun dibangun</span>
        <%= basic.select :age, options_for_select((1950..Time.now.year).to_a, basic.object.age), {prompt: 'Pilih Tahun'}, {class: 'form-control select2', placeholder: 'ex. 2015'} %>
      </div>
      <div class="form-group">
        <span class="h6">Listrik</span>
        <%= basic.text_field :electricity, class: 'form-control', placeholder: 'ex. 300 watt' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <span class="h6">Saluran Telepon</span>
        <%= basic.number_field :phone_lines, class: 'form-control' %>
      </div>
      <div class="form-group">
        <span class="h6">Arah bangunan</span>
        <%= basic.select :facing, Facing.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
      </div>
    </div>
  </div>
</div>
