<div class="basic-form basic-form-land">
  <h4>Sekilas Informasi Tanah</h4>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <span class="h6">Dokumen</span>
        <%= basic.select :document, Document.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <span class="h6">Luas tanah (m<sup>2</sup>)</span>
        <%= basic.number_field :surface_area, class: 'form-control', placeholder: 'ex. 1000' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <span class="h6">Panjan tanah (m<sup>2</sup>)</span>
        <%= basic.number_field :long_land, class: 'form-control', placeholder: 'ex. 200' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <span class="h6">Lebar tanah (m<sup>2</sup>)</span>
        <%= basic.number_field :width_land, class: 'form-control', placeholder: 'ex. 800' %>
      </div>
    </div>
  </div>
</div>
