<div class="basic-form basic-form-apartment">
  <h4>Sekilas Informasi Apartemen</h4>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <span class="h6">Dokumen</span>
        <%= basic.select :document, Document.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <span class="h6">Luas bangunan (m<sup>2</sup>)</span>
        <%= basic.number_field :building_area, class: 'form-control', placeholder: 'ex. 1000' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <span class="h6">Arah bangunan</span>
        <%= basic.select :facing, Facing.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <span class="h6">Saluran telepon</span>
        <%= basic.number_field :phone_lines, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <span class="h6">Kamar tidur</span>
        <%= basic.number_field :bedrooms, class: 'form-control' %>
      </div>
      <div class="form-group">
        <span class="h6">Kamar mandi</span>
        <%= basic.number_field :bathrooms, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <span class="h6">Parkir</span>
        <%= basic.number_field :parking, class: 'form-control' %>
      </div>
      <div class="form-group">
        <span class="h6">Lantai</span>
        <%= basic.number_field :floor, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
