<div class="basic-form basic-form-warehouse">
  <h4>Sekilas Informasi Villa</h4>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <span class="h6">Dokumen</span>
        <%= basic.select :document, Document.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <span class="h6">Luas tanah m<sup>2</sup></span>
        <%= basic.number_field :surface_area, class: 'form-control', placeholder: 'ex. 1000' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <span class="h6">Tahun dibangun</span>
            <%= basic.select :age, options_for_select((1950..Time.now.year).to_a, basic.object.age), {prompt: 'Pilih Tahun'}, {class: 'form-control select2', placeholder: 'ex. 2015'} %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <span class="h6">Saluran telepon</span>
            <%= basic.number_field :phone_lines, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <span class="h6">Luas bangunan m<sup>2</sup></span>
            <%= basic.number_field :building_area, class: 'form-control', placeholder: 'ex. 600' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <span class="h6">Listrik</span>
        <%= basic.text_field :electricity, class: 'form-control', placeholder: 'ex. 300 watt' %>
      </div>
      <div class="form-group">
        <span class="h6">Arah bangunan</span>
        <%= basic.select :facing, Facing.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
      </div>
    </div>
  </div>
</div>
