<div class="col-md-2 col-xs-6 padding0">
	<div class="well margin0">
		<center>
    <div class="icon-fields">
      <%= s.font_icon.html_safe if s.font_icon.present? %>
    </div>
    <p><%= s.name %></p>
    <%= check_box_tag "facilities[]", s.name %>
  	</center>
  </div>
</div>
