<div class="col-md-2 col-xs-6 padding0">
	<div class="well well-prop-custom margin0">
		<center>
    <div class="icon-fields">
      <%= s.font_icon.html_safe if s.font_icon.present? %>
    </div>
    <p><%= s.name %></p>
    <% facility_checked = @property.facilities.include?(s.name) if @property.facilities.present? %>
    <%= check_box_tag "facilities[]", s.name, facility_checked %>
  	</center>
  </div>
</div>
