<div class="col-md-12">
  <div class="line-through">
    <p><span class="grey uppercase">FEATURED PROPERTIES</span></p>
  </div>
</div>
<div class="break"></div>
<section>
  <%= '<div class="break"></div><h5 align="center">No data found on this page!</h5>'.html_safe unless @featureds.present? %>
  <% @featureds.each do |resource| %>
    <% cache ["properties_featured_all_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="listing-project-wrapper listing-property-wrapper active">
          <div class="row">
            <%= render 'product', resource: resource %>
          </div>
        </div>
      </div>
      <%= render 'shareds/modal_agent', resource: resource %>
    <% end %>
  <% end if @featureds.present? %>
</section>
<div class="col-md-12">
  <div class="bs-example" data-example-id="disabled-active-pagination">
    <nav>
      <%= paginate @featureds, remote:true %>
    </nav>
  </div>
</div>
