<div class="col-md-6">
	<div class="form-group">
	  <span class="h6">Harga Minimum</span>
	  <%= f.number_field :minimum_price, class: 'form-control', required: true %>
	</div>
</div>
<!-- <div class="col-md-4">
	<div class="form-group">
	  <span class="h6">Increment per Bid</span>
	  <%= f.number_field :increment_per_bid, class: 'form-control', required: true %>
	</div>
</div> -->
<!-- <div class="col-md-4">
	<div class="form-group">
	  <span class="h6">Starting Bid</span>
	  <%#= f.number_field :starting_bid, class: 'form-control', required: true %>
	</div>
</div> -->
<div class="col-md-6">
	<div class="form-group">
	  <span class="h6">Bisa Untuk Survei Ketemu</span>
	  <%= f.select :reserve_met, Condition.to_a, {prompt: 'Select Reserve'}, class: 'form-control', required: true %>
	</div>
</div>
<!-- <div class="col-md-3">
	<div class="form-group">
	  <span class="h6">Financing Considered</span>
	  <%#= f.select :financing_considered, Condition.to_a, {prompt: 'Select Financing'}, class: 'form-control', required: true %>
	</div>
</div> -->
<div class="col-md-6">
	<div class="form-group">
	  <span class="h6">Mulai lelang</span>
	  <%= f.text_field :start_auction, class: 'datepicker form-control', required: true %>
	</div>
</div>
<div class="col-md-6">
	<div class="form-group">
	  <span class="h6">Akhir Lelang</span>
	  <%= f.text_field :end_auction, class: 'datepicker form-control', required: true %>
	</div>
</div>
