<% if !current_user %>
  <div class="alert-new-peoperty">
    <div class="box-left">
      <i class="fa fa-info"></i>
    </div>
    <div class="box-right">
      Pastikan anda sudah mempunyai akun rumah daku, sebelum memasang iklan. untuk masuk ke akun member silahkan klik daftar untuk <a href="#" data-toggle="modal" data-target="#daftar">registrasi</a> member dan <a href="#" data-toggle="modal" data-target="#masuk">login</a> untuk masuk ke halaman member rumah daku.
    </div>
  </div>
  <br>
<% end %>
<div class="setup-content" id="step-1">
	<%= render 'properties/step_one', f: f %>
</div>
<div class="setup-content" id="step-2">
	<%= render 'properties/step_two', f: f %>
</div>
<div class="setup-content" id="step-3">
	<%= render 'properties/step_three', f: f %>
</div>
