<%= render 'properties/basic_form_house', basic: basic %>
<%= render 'properties/basic_form_apartment', basic: basic %>
<%= render 'properties/basic_form_ruko', basic: basic %>
<%= render 'properties/basic_form_land', basic: basic %>
<%= render 'properties/basic_form_office', basic: basic %>
<%= render 'properties/basic_form_warehouse', basic: basic %>
<%= render 'properties/rent_basic_form_house', basic: basic %>
<%= render 'properties/rent_basic_form_apartment', basic: basic %>
<%= render 'properties/rent_basic_form_ruko', basic: basic %>
<%= render 'properties/rent_basic_form_office', basic: basic %>
<%= render 'properties/rent_basic_form_warehouse', basic: basic %>

