<li>
  <i class="fa fa-plus-square"></i>
	<%= image_tag f.object.file.url(:small), class: 'show-choice', alt: 'Situs jual rumah di Indonesia' %>
	<%= f.file_field :file, class: 'input-file' %>
	<%= f.hidden_field :position %>
</li>

