<section class="header-second-page">
  <div class="box-image-header-top-image">
    <%= image_tag 'banner-header-page.jpg' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-name-city">
          <%= resource.try(:title) %>
        </div>
        <div class="header-desc-city">
          <%= address.try(:place_info) %>
        </div>
      </div>
    </div>
  </div>
</section>