<%= form_for :search, url: properties_path, html:{id: 'property-search', name: 'search'}, method: 'get' do %>
  <%= hidden_field_tag :list, params[:list] if params[:list] %>
  <section class="header-second-page">
    <div class="box-image-header-top-image header-top-image">
      <%= image_tag 'banner-header-page.jpg' unless @region.present? %>
      <% if @region.present? %>
        <%= image_tag 'banner-header-page.jpg' if @region.image_file_name == nil %>
        <%= image_tag @region.image.url(:large) if @region.image_file_name != nil %>
      <% end %>
    </div>
    <div class="header-form-search">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="header-name-city">
              (<%= @properties_count %>) 
              <%= type_properties = params[:category].present? ? params[:category] : "Iklan Properti Tersedia" %>
              <%= region_display_name = params[:region_display_name].present? ? 'di ' + params[:region_display_name] : '' %>
            </div>
            <div class="header-desc-city">
              Telusuri lebih lanjut properti yang anda inginkan disini
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-search-header">
              <div class="input-group">
                <%= select_tag :category, options_for_select(PropertyType.roots.without_auction.pluck(:name), params[:category]), prompt: 'Pilih Kategori', class: 'form-control' %>
                <%= autocomplete_field_tag :region_display_name, "", autocomplete_region_path, placeholder: "Cari Berdasarkan Lokasi ...", class: 'form-control input-lg', value: params[:region_display_name] %>
                <span class="input-group-btn">
                  <button class="btn btn-default btn-lg" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                  <%= link_to 'Reset', properties_path, class: 'btn btn-default btn-lg' %>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h5>Kata Pencarian</h5>
            <%= text_field_tag :key, params[:key], class: 'form-control', placeholder: 'ex. Judul Iklan/Property Id' %>
          </div>
          <div class="col-md-2 col-sm-6">
            <h5>Tipe Properti</h5>
            <% type_properties = params[:category].present? ? PropertyType.find_by(name: params[:category]).try(:children).pluck('name') : PropertyType.just_child.pluck(:name).uniq %>
            <div class="category-container">
              <%= select_tag :type_property, options_for_select(type_properties, params[:type_property]), prompt: 'Pilih Tipe', class: 'form-control type_properties_select_search' %>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <h5>Kisaran Harga</h5>
            <div class="select-pretty">
              <div class="select-display btn btn-default dropdown custom-dropdown">
                <a href="#" data-toggle="dropdown">
                  <span class="select-label label-clear-price" style="display:inline;">
                    Kisaran Harga <i class="fa fa-angle-down pull-right"></i>
                  </span>
                  <span class="label-min-price" style="display: inline;"></span>
                  <span class="label-max-price" style="display: inline;"></span>
                </a>
                <div class="dropdown-menu custom-input" role="form" aria-labelledby="dLabel">
                  <div class="custom-input-container">
                    <input type="text" maxlength="14" name="min_price" class="form-control numbers minimum-price" placeholder="Min" value=""> -
                    <input type="text" maxlength="18" name="max_price" class="form-control numbers maximum-price" placeholder="Max" value="">
                  </div>
                  <% list = params[:category].present? && params[:category] == 'Disewa' ? Property::RENTPRICE_LIST : Property::PRICE_LIST %>
                  <div class="custom-input-suggestion" style="text-align: left;">
                    <ul class="for-minimum-price" style="display: none;">
                      <% list.each_with_index do |price, index| %>
                        <li><a id="<%= "min#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
                      <% end %>
                    </ul>
                    <ul class="for-maximum-price" style="display: none;">
                      <% list.each_with_index do |price, index| %>
                        <li><a id="<%= "max#{index}" %>" href="#"><%= "Rp. #{number_to_currency_no_unit(price)}" %></a></li>
                      <% end %>
                      <li><a id="max11" href="#">Other</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <h5>Kamar Tidur</h5>
            <%= select_tag :bedrooms, options_for_select((1..10), params[:bedrooms]), prompt: 'K.Tidur', class: 'form-control' %>
          </div>
          <div class="col-md-1 col-sm-12">
            <h5>&nbsp;</h5>
            <% if params['list'].present? %>
              <button class="btn btn-success btn-search-new pull-right" name="search" type="submit" id="submit" value="do_search">
                <span class="glyphicon glyphicon-search"></span> Cari
              </button>
            <% else %>
              <button class="btn btn-success btn-search-new pull-right" name="search" type="button" id="btn-submit" value="do_search">
                <span class="glyphicon glyphicon-search"></span> Cari
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>