<% if @region.description.present? %>
  <section class="section section-region">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="carousel-city" class="carousel-city-page carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <% @region.galleries.each_with_index do |reg, index| %>
                <div class="item <%= 'active' if index == 0%>">
                  <%= image_tag reg.file.url(:medium) %>
                  <div class="carousel-caption">
                    <%= reg.title %>
                  </div>
                </div>
              <% end %>
            </div>

            <a class="left carousel-control" href="#carousel-city" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-city" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="desc-info-location-right-wrapper">
            <div class="box-info-location-right">
              <div class="title">
                <h3>Deskripsi singkat Kota <%= @region.name %></h3>
              </div>
              <div class="description">
                <p>
                  <%= @region.description.html_safe if @region.description.present? %>
                  <a href="<%= @region.link_url %>" target="_blank">Baca Selengkapnya</a>
                </p>
              </div>
            </div>
            <div class="box-info-maps-right">
              <div class="maps" id="maps"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
