<section class="listing-property">
  <div class="container">
    <div class="row">

      <% @properties.each do |resource| %>
        <%= render 'properties/property', resource: resource unless resource.the_auction? %>
        <%= render 'properties/property_auction', resource: resource if resource.the_auction? %>
      <% end %>

      <div class="col-md-12">
        <div class="bs-example" data-example-id="disabled-active-pagination">
          <nav>
            <%= paginate @properties, remote:true %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>