<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="box-listing-property">
    <div class="box-img-wrapper">
      <% cache ["home_latest_properties_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
        <%= link_to property_path(resource) do %>
          <%= image_tag "#{resource.try(:galleries).try(:latest_position).try(:first).try(:file).url(:small)}", alt: "#{resource.title}" if resource.galleries.present? %>
        <% end %>
        <div class="price">
          <%= resource.the_price_status? %> <%= number_to_currency_br(resource.the_price?) if resource.the_price?.present? %>
        </div>
        <div class="date">
          <i class="fa fa-calendar"></i>
          Diterbitkan <%= resource.created_at.strftime("%d %b %y") %>
        </div>
        <% if user.agent_verify? %>
          <div class="agent-verified">
            <span><i class="fa fa-star"></i> Terverifikasi</span>
          </div>
        <% end %>
      <% end %>
      <div class="section-whistlist">
        <%= checking_wishlist(resource.id, current_user.id, wishlist_properties_path(id: resource.id)).html_safe if current_user.present? %>
        <% unless current_user.present? %>
          <a href="#" data-toggle="modal" data-target="#masuk">
            <div class="whislist-active-none-display"><i class="fa fa-heart"></i></div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="box-info-property">
      <div class="title">
        <%= link_to resource.title, property_path(resource) %>
      </div>
      <div class="name-property">
        <%= resource.category %> <%= resource.type_property %>
        . <span class="fa fa-map-marker"></span> <%= address.simple_place %>
      </div>
      <div class="avatar-user">
        <%= link_to user_path(user) do %>
          <%= image_tag profile.avatar.url(:small) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
