<% user = resource.try(:user) %>
<% profile = user.try(:profile) %>
<% address = resource.try(:address) %>
<% basic = resource.try(:basic_property) %>
<% expired_date = resource.auction.end_auction.strftime("%B, %d, %Y") if resource.auction.end_auction.present? %>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="box-listing-property box-listing-property-auction" data-expired="<%= expired_date %>">
    <div class="box-img-wrapper">
      <%= image_tag "#{resource.try(:galleries).try(:latest_position).try(:first).try(:file).url(:small)}", alt: "#{resource.title}" if resource.galleries.present? %>
      <div class="box-three-desc-auction">
        <ul class="countdown">
          <li> <span class="days">00</span>
            <p class="days_ref">DAYS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="hours">00</span>
            <p class="hours_ref">HRS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
            <p class="minutes_ref">MINS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
            <p class="seconds_ref">SEC</p>
          </li>
        </ul>
      </div>
      <div class="date">
        <i class="fa fa-calendar"></i>
        <%= resource.created_at.strftime("%d %b %y") %>
      </div>
      <div class="price">
        <%= number_to_currency_br(resource.the_price?) if resource.the_price?.present? %> <%= resource.the_price_status? %>
      </div>
      <div class="section-whistlist">
        <%= checking_wishlist(resource.id, current_user.id, wishlist_properties_path(id: resource.id)).html_safe if current_user.present? %>
        <% unless current_user.present? %>
          <a href="#" data-toggle="modal" data-target="#masuk">
            <div class="whislist-active-none-display"><i class="fa fa-heart"></i></div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="box-info-property">
      <div class="title"><%= link_to resource.title, property_path(resource) %></div>
      <div class="name-property"><i class="fa fa-tags"></i> <%= resource.category %> <%= resource.type_property %></div>
      <div class="name-property"><span class="fa fa-map-marker"></span> <%= address.simple_place %></div>
      <div class="avatar-user">
        <%= link_to user_path(user) do %>
          <%= image_tag profile.avatar.url(:small) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
