<div class="basic-form rent-basic-form-warehouse">
  <h4>Sekilas Informasi Villa</h4>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <span class="h6">Harga sewa per/tahun</span>
        <%= basic.text_field :price_year, class: 'form-control', placeholder: 'ex. 20000000', data: {autonumeric: true} %>
      </div>
      <div class="form-group">
        <span class="h6">Harga sewa per/bulan</span>
        <%= basic.text_field :price_month, class: 'form-control', placeholder: 'ex. 1300000', data: {autonumeric: true} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <span class="h6">Keamanan</span>
            <%= basic.text_field :price_security, class: 'form-control', placeholder: 'ex. 1000000', data: {autonumeric: true} %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <span class="h6">Luas tanah m<sup>2</sup></span>
            <%= basic.number_field :surface_area, class: 'form-control', placeholder: 'ex. 1000' %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <span class="h6">Luas bangunan m<sup>2</sup></span>
            <%= basic.number_field :building_area, class: 'form-control', placeholder: 'ex. 600' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <span class="h6">Arah bangunan</span>
            <%= basic.select :facing, Facing.to_a, {prompt: 'Pilih'}, {class: 'form-control'} %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <span class="h6">Tahun dibangun</span>
            <%= basic.select :age, options_for_select((1950..Time.now.year).to_a, basic.object.age), {prompt: 'Pilih Tahun'}, {class: 'form-control select2', placeholder: 'ex. 2015'} %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <span class="h6">Lantai</span>
            <%= basic.number_field :floor, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
