<div class="col-md-2 col-xs-6 padding0">
	<div class="well margin0">
		<center>
    <p><%= f.hidden_field :title %></p>
    <p><%= f.hidden_field :icon %></p>
    <p><%= "#{f.object.icon.html_safe} #{f.object.title}" if f.object %></p>
    <%= f.check_box :available %>
  	</center>
  </div>
</div>
