<div class="col-md-12">
	<div class="col-md-12">
    <div class="text-title-top-step">
      Informasi Foto dan Fasilitas
    </div>
  </div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<h4>Galeri Properti</h4>
				<hr>
				<ul class="choice-gallery-form">
					<%= f.fields_for :galleries do |g| %>
		        <%= render 'properties/gallery_fields', f: g %>
		      <% end %>
				</ul>
			</div>
		</div>
		<div class="break"></div>
		<div class="row">
			<div class="col-xs-12">
				<h4>Fasilitas</h4>
				<hr>
				<div class="facility" data-url="<%= get_societies_url%>">
		      <% @facilities.each_with_index do |s| %>
		        <% if @property.present? %>
		          <%= render partial: 'properties/facility_fields', locals: {s: s} %>
		        <% else %>
		          <%= render partial: 'properties/facility_fields_new', locals: {s: s} %>
		        <% end %>
		      <% end %>
		    </div>
		    <div class="break"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="break"></div>
		<button class="btn btn-step-property-new  nextBtn btn-lg pull-right" id="nextBtnLoc" type="button">
			Selanjutnya
      <i class="fa fa-arrow-right"></i>
		</button>
	</div>
</div>
