<div class="col-md-12">
  <div class="col-md-12">
    <div class="text-title-top-step">
      Informasi Detail Iklan
    </div>
  </div>
  <% @types.each_with_index do |key, index| %>
    <div class="col-md-4 checked-error">
      <div class="well form-group">
        <div class="row">
          <div class="col-md-6">
            <%= "#{ image_tag 'jual.png', class: 'img-category-ico' }".html_safe if index == 0 %>
            <%= "#{ image_tag 'sewa.png', class: 'img-category-ico' }".html_safe if index == 1 %>
            <%= "#{ image_tag 'icon-digadai.png', class: 'img-category-ico' }".html_safe if index == 2 %>
            <%#= "#{ image_tag 'lelang.png', class: 'img-category-ico' }".html_safe if index == 2 %>
          </div>
          <div class="col-md-6">
            <div class="text-category-step">
              <h2><%= key %></h2>
              <p><%= f.radio_button :category, key, required: true, class: 'categories_select no-border', 'data-node' => "property" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-4">
    <div class="form-group">
      <span class="h6">Tipe</span>
      <% type_properties = f.object.type_property ? PropertyType.find_by(name: f.object.category).try(:children).pluck('name') || [] : PropertyType.none rescue [] %>
      <div class="category-container">
        <%= f.select :type_property, options_for_select(type_properties, f.object.type_property), {prompt: 'Select Type'}, class: 'select2 no-border form-control type_properties_select', required: true %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <span class="h6">Judul</span>
      <%= f.text_field :title, class: 'form-control no-border', required: true, maxlength: 50 %>
    </div>
  </div>
  <div class="section-price-form">
    <div class="col-md-12 price-sell">
      <div class="form-group">
        <span class="h6">Harga</span>
        <%= f.text_field :price, class: 'form-control no-border', placeholder: 'ex. 10000000', required: true, data: {autonumeric: true} %>
      </div>
    </div>
    <%# if current_user.present? %>
      <%# select_options = current_user.label_packages %>
      <%# if select_options.present? %>
        <!-- <div class="col-md-4">
          <div class="form-group">
            <h6>Label</h6>
            <%#= f.select :label_tag, select_options, { prompt: 'Select Label' }, class: 'form-control' %>
          </div>
        </div> -->
      <%# end %>
    <%# end %>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <span class="h6">Deskripsi</span>
      <%= f.cktext_area :description, class: 'form-control no-border', required: true  %>
    </div>
  </div>
  <div class="section-auction-form">
    <div class="auction-form">
      <%= f.fields_for :auction do |auction| %>
        <%= render partial: 'properties/form_auction', locals: {f: auction} %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="section-basic-form">
      <%= f.fields_for :basic_property do |basic| %>
        <%= render partial: 'properties/form_basic', locals: {f: f, basic: basic} %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-step-property-new nextBtn btn-lg pull-right" type="button" >
      Selanjutnya
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
