<div class="col-md-12">
	<div class="col-md-12">
    <div class="text-title-top-step">
      Informasi Alamat dan Lokasi
    </div>
  </div>
	<div class="col-xs-12">
		<%= f.fields_for :address do |address| %>
		  <%= render partial: 'properties/form_address', locals: {address: address} %>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div class="break"></div>
		<% if current_user %>
      <button class="btn btn-step-property-new btn-lg pull-right" type="submit">
        Simpan & Publikasikan!
        <i class="fa fa-save"></i>
      </button>
    <% else %>
      <a href="#" data-toggle="modal" data-target="#masuk" class="btn btn-step-property-new btn-lg pull-right">
        Simpan & Publikasikan!
        <i class="fa fa-save"></i>
      </a>
    <% end %>
	</div>
</div>
