<section class="section purple">
	<div class="container">
		<div class="col-md-12">
			<div class="stepwizard">
				<div class="stepwizard-row setup-panel">
					<div class="stepwizard-step">
						<a href="#step-1" type="button" class="btn btn-info btn-circle no-border">
							<%= image_tag 'icon-step-1.png' %>
						</a>
						<p><b>Detail Iklan</b></p>
					</div>
					<div class="stepwizard-step">
						<a href="#step-2" type="button" class="btn btn-default btn-circle no-border" disabled="disabled">
							<%= image_tag 'icon-step-2.png' %>
						</a>
						<p><b>Foto & Fasilitas</b></p>
					</div>
					<div class="stepwizard-step">
						<a href="#step-3" type="button" class="btn btn-default btn-circle no-border" disabled="disabled">
							<%= image_tag 'icon-step-3.png' %>
						</a>
						<p><b>Alamat & Lokasi</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
