<%= render 'shareds/properties/carousel_auction' %>
<section class="section obvious">
	<div class="container">
		<div class="row">
			<div class="line-through">
	      <p><span>New Auction Properties</span></p>
	      <div class="break"></div>
	      <small>Hand-picked properties just for you!</small>
	    </div>
	    <div class="break"></div>
	    <div class="break"></div>
	    <div class="flipster">
			  <ul>
			  	<% @properties.each do |resource| %>
			  		<% user = resource.try(:user) %>
				    <% profile = user.try(:profile) %>
				    <% address = resource.try(:address) %>
				  	<li>
				  		<%= link_to property_path(resource) do %>
				  			<%= image_tag "#{resource.try(:galleries).try(:first).try(:file).url(:medium)}" %>
				  			<div class="content-info-auction">
					  			<h3 class="title-auction-new">
					  				<%= resource.try(:type_property) %>:
					  				<%= link_to resource.title, property_path(resource) %>
					  			</h3>
					  			<span class="fa fa-map-marker"></span> <%= address.try(:city) %>, <%= address.try(:province) %>
					  		</div>
				  		<% end %>
				  	</li>
			  	<% end %>
			  </ul>
			</div>
		</div>
	</div>
</section>
<section class="section obvious" id="info-auction">
	<div class="container">
		<div class="row">
			<div class="line-through">
	      <p><span>Buying Online, Simplified</span></p>
	    </div>
	    <div class="break"></div>
	    <div class="break"></div>
	    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-xs-3">
					<i class="fa fa-search"></i>
				</div>
				<div class="col-xs-9">
					<h4>FIND</h4>
					<p>Explore our wide variety of listings, save your favorites, and arrange tours — all from one spot.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-xs-3">
					<i class="fa fa-legal"></i>
				</div>
				<div class="col-xs-9">
					<h4>BID</h4>
					<p>Jump in when you're ready! Work solo or with your agent to name your price.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-xs-3">
					<i class="fa fa-thumbs-o-up"></i>
				</div>
				<div class="col-xs-9">
					<h4>STAY CONNECTED</h4>
					<p>Watch the home's activity in real time and get instant alerts — anytime, anywhere.</p>
				</div>
			</div>
			<div class="break"></div>
			<div class="break"></div>
			<div class="col-xs-12">
				<%= link_to 'Tell Me More', properties_path(category: 'Dilelang'), class: 'btn btn-more-info' %>
			</div>
		</div>
	</div>
</section>
