<section class="section grey">
  <div id="loading" class="hide"><%= image_tag 'loader.gif' %></div>
  <div class="container">
    <div class="row">
      <%= render 'shareds/properties/sort_order' %>
      <%= render 'featured_list'%>
    </div>
  </div>
</section>
