<% if params[:category] == 'Dilelang' %>
  $("#property-container").html("<%= escape_javascript(render("product_list")) %>");
<% else %>
  $("#property-container").html("<%= escape_javascript(render("product_list")) %>");
<% end %>