<%= render 'properties/header_category' %>
<%= render 'properties/inform_region' if @region.present? %>
<section class="section grey">
	<div id="loading" class="hide"><%= image_tag 'loader.gif' %></div>
		<%= render 'shareds/properties/sort_order' %>
    <div id="property-container">
			<%= render 'product_list'%>
		</div>
	</div>
</section>
