<%= render 'properties/header_category' %>
<% unless params[:list].present? %>
  <%= render 'properties/inform_region' if @region.present? %>
<% end %>
<section class="section-dinamic-map">
	<div class="main-dinamic">
		<div class="round-map">
			<section id="map1" class="gmap3-dinamic"></section>
		</div>
	</div>
</section>
