<%= render 'properties/top_step_wizard' %>

<!-- Form Creare Section -->
<section class="section section-shadow">
	<div class="container">
		<div class="col-md-12">
			<%= form_for @property, url: properties_path, method: 'post' do |f| %>
				<%= render 'properties/form', f: f %>
			<% end %>
			<div class="hidden-form"></div>
      <div class="hidden-form-basic"></div>
		</div>
	</div>
</section>
<!-- /Form Create Section -->
