<% resource = @property %>
<% user     = resource.try(:user) %>
<% profile  = user.try(:profile) %>
<% contact  = user.try(:contact) %>
<% address  = resource.try(:address) %>
<% background = resource.galleries.first.file.url %>
<% if resource.is_expired? %>
	<%= render 'shareds/page_not_found' %>
<% else %>
	<% cache ["header_show_property_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
		<section class="header-second-page">
		  <div class="box-image-header-top-image header-top-image-city" style="background-image: url('<%= image_url background %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
		  	<div class="container">
		  		<div class="section-pricing-bottom">
		  			<div class="btn-flat-id">
		          FLAT ID: <%= resource.code.upcase %>
		        </div>
				  	<div class="pricing-bottom">
				  		<div class="price"><%= number_to_currency_br(resource.the_price?) %></div>
				  		<div class="type"><%= resource.the_price_status? %></div>
				  	</div>
				  </div>
			  </div>
		  </div>
		</section>

		<section class="square-profile-section">
			<div class="container">
				<div class="row">
					<div class="user-menu-container square">
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 user-details">
							<div class="white">
								<div class="user-pad">
									<h2>
										<%= resource.title.titleize if resource.title.present? %>
									</h2>
									<div class="color-grey">
										<i class="fa fa-tags"></i>
										<%= resource.try(:category) %> <%= resource.try(:type_property) %> &nbsp;
										<i class="fa fa-map-marker"></i>
										<%= address.try(:place_info) %>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="box-share">
								<div class="whislist">
									<% if user_signed_in? %>
					          <%= link_to wishlist_properties_path(resource.id) do %>
					            <i class="fa fa-heart"></i>
					          <% end %>
					        <% else %>
					          <a href="#" data-toggle="modal" data-target="#masuk" title="Add to Whislist">
					            <i class="fa fa-heart"></i>
					          </a>
					        <% end %>
								</div>
								<div class="block-share-new">
									<span class='st_sharethis_large' displayText='ShareThis'></span>
									<span class='st_facebook_large' displayText='Facebook'></span>
									<span class='st_twitter_large' displayText='Tweet'></span>
									<span class='st_pinterest_large' displayText='Pinterest'></span>
									<span class='st_email_large' displayText='Email'></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<% end %>

	<section class="section">
		<div class="container">
			<div class='ads'>
		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		    <!-- detail-user-top-rumahdaku -->
		    <ins class="adsbygoogle"
		         style="display:block"
		         data-ad-client="ca-pub-8140461930329474"
		         data-ad-slot="5361714543"
		         data-ad-format="auto"></ins>
		    <script>
		    (adsbygoogle = window.adsbygoogle || []).push({});
		    </script>
		    <br>
		  </div>
			<div class="row">
				<% cache ["content_show_property_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<%= render 'shareds/properties/carousel', resource: resource %>
								<%= render 'shareds/properties/overviews', resource: resource %>
							</div>
						</div>
					</div>
				<% end %>
				<%= render 'shareds/properties/side_right', resource: resource %>
			</div>
		</div>
	</section>

	<section id="mapShowProperty" class="mapShowProperty"></section>
	<%= render 'shareds/properties/reviews' %>
<% end %>
