<div class="listing-agent-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box-header-agent">
          <div class="title-agent">
            <center>Daftar Agen Properti Terverifikasi</center>
          </div>
          <hr>
          <div class="ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8140461930329474"
                 data-ad-slot="3062552949"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <br>
          </div>
        </div>
        <div class="box-body-agent">
          <div class="row">
            <% @collection.each do |resource| %>
              <div class="col-md-6">
                <div class="box-agent-rumahdaku">
                  <div class="images-agent-big">
                    <div class="images-agent">
                      <%= link_to user_path(resource) do %>
                        <%= image_tag "#{resource.try(:profile).try(:avatar).url(:small)}", class: 'host-profile-image', title: 'Situs jual rumah di Indonesia', alt: 'Situs jual rumah di Indonesia' %>
                      <% end %>
                    </div>
                    <div class='col-xs-12'>
                      <br>
                      <center>
                        Agen Id : <b><%= resource.code %></b>
                      </center>
                    </div>
                  </div>
                  <div class="box-desc-agent">
                    <div class="desc-agent-title">
                      <div class="name-agent">
                        <span>
                          <%= link_to user_path(resource) do %>
                            <%= resource.try(:profile).try(:full_name) %>
                          <% end %>
                        </span>
                        <br>
                        <div class="listing-active">
                          Terdaftar Sejak <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
                        </div>
                      </div>

                      <div class="label-agent">
                        <div class="agent">
                          <i class="fa fa-check"></i>
                          &nbsp;&nbsp; Terverifikasi
                        </div>
                      </div>
                    </div>
                    <div class="desc-agent-bottom">
                      <div class="desc-agent-left">
                        <div class="list-info">
                          <i class="fa fa-envelope"></i>
                          Email : <a href='<%= resource.email %>'><%= resource.email %></a>
                        </div>
                        <div class="list-info">
                          <i class="fa fa-phone"></i>
                          Phone : <%= resource.contact.handphone %>
                        </div>
                        <div class="list-info">
                          <i class="fa fa-home"></i>
                          Spesialis : <%= resource.agent_info.specialist_property %>
                        </div>
                        <div class="list-info">
                          <i class="fa fa-map-marker"></i> 
                          Area : <%= resource.agent_info.specialist_area %>
                        </div>
                        <br>
                        <div class="btn-to-agent">
                          <%= link_to user_path(resource), class: 'btn btn-success btn-sm no-border' do %>
                            <i class="fa fa-eye"></i>
                            Lihat Selengkapnya
                          <% end %>
                        </div>
                      </div>
                      <div class="desc-agent-right">
                        <% resource.properties.activated.latest.limit(3).each do |p| %>
                          <div class="images-box-property-agent">
                            <%= image_tag "#{p.try(:galleries).try(:first).try(:file).url(:small)}" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="col-md-12">
              <div class="bs-example">
                <nav>
                  <%= paginate @collection %>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
