<div class='col-md-12'>
  <%= render 'backend/shareds/search_form_order' %>
  <br>
  <div class='well'>
    <h3><i class="fa fa-money"></i> Ballance : <%= number_to_currency_br(@ballance) %></h3>
  </div>
  <%= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do  %>
    <div class='widget'>
      <div class='widget-content'>
        <div class='table-responsive'>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%">
                  <div class='check_all_box'> 
                    <%= check_box_tag :check_all %>
                  </div>
                </th>
                <th> Code </th>
                <th> Package Name </th>
                <th> Price </th>
                <th> User </th>
                <th> Email </th>
                <th> Status </th>
                <th> Created At </th>
                <th> Expired At </th>
                <th> Action </th>
              <% @collection.each_with_index do |resource, index| %>
                <tr> 
                  <td> <%= check_box_tag "ids[]", resource.id %></td>
                  <td> <%= resource.code %></td>
                  <td> <%= resource.package_name %></td>
                  <td> <%= number_to_currency_br(resource.price) if resource.price.present? %></td>
                  <td> <%= resource.try(:user).try(:username) %></td>
                  <td> <%= resource.try(:user).try(:email) %></td>
                  <td> <%= resource.status? %></td>
                  <td> <%= resource.try(:updated_at).strftime("%H:%M %B, %d, %Y") %> </td>
                  <td> <%= (resource.updated_at + 1.year).strftime("%B, %d, %Y") %>
                  <td> 
                    <%= link_to '<i class="fa fa-times"></i>'.html_safe, resource_path(resource), method: 'delete', class: 'btn btn-xs btn-danger', data: {confirm: "Are you sure delete is #{resource.id}"} if current_user.admin? %>
                    <%= link_to '<div class="fa fa-eye"></div>'.html_safe, resource_path(resource), class: 'btn btn-xs btn-info' if current_user.admin? %>
                  </td>
                </tr>
              <% end %>
            </thead>
          </table>
        </div>
      </div>
      <div class='widget-foot'>
        <div class='pull-right'>
          <%= paginate @collection %>
        </div>
      </div>
      <div class='clearfix'>
    </div>
  <% end %>
</div>
