<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="modal-box-auth-wrapper">
    <div class="box-auth-header">
      <div class="title-left">
        MASUK MEMBER
      </div>
    </div>
    <div class="box-auth-body">
      <div class="button-box">
        <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-block btn-lg no-border' do %>
          <i class="fa fa-facebook pull-left"></i>
          Masuk dengan Facebook
        <% end %>
      </div>
      <div class="description-body">
        Silahkan Masukan Username dan Password Anda!
      </div>
      <div class="col-md-12">
        <div class="row">
          <span class="h6"></span>
          <%= f.text_field :login, class: "form-control input-lg-auth no-border", placeholder: "Username atau Email", required: true %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <span class="h6"></span>
          <div class="input-group">
            <%= f.password_field :password, class: "form-control input-lg-auth no-border", placeholder: "Kata Sandi", required: true %>
            <span class="input-group-btn">
              <button class="btn btn-default btn-auth-user no-border" type="submit">Masuk</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="box-auth-footer">
      <div class="text-footer">
        <%= f.check_box :remember_me, class: "grey remember" %>
        <span>Keep me signed in</span>
        <br>
        Belum punya akun?
        <%= link_to 'Daftar', new_user_registration_path %> Sekarang
        <br>
        <%= link_to 'Lupa Kata Sandi?', new_user_password_path %>
      </div>
    </div>
  </div>
<% end %>
