<div class="col-md-12">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left"><%= resource.name %> Pages</div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-html">
      <div class="padd">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Language</th>
                    <th>HTML</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @htmls.each_with_index do |htmlpage, index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= htmlpage.try(:language).try(:code) %></td>
                      <td><%= htmlpage.try(:html).html_safe %></td>
                      <td>
                        <%= link_to edit_backend_static_page_html_path(resource, htmlpage) do %>
                          <button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button>
                        <% end %>

                        <%= link_to backend_static_page_html_path(resource, htmlpage), method: 'delete', data: {confirm: "Are you sure delete this #{htmlpage.id}"} do %>
                          <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
                        <% end %>

                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="buttons">
          <%= link_to 'Edit', edit_resource_path(resource), class: "btn btn-sm btn-info" %>
          <%= link_to 'Add HTML', new_backend_static_page_html_path(resource), class: "btn btn-sm btn-info" %>
        </div>
      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
  </div>
</div>
