<h3>Contact</h3>
<hr>
<div class="row">
  <div class="col-md-6">
    <h6>Phone</h6>
    <%= contact.text_field :phone, class: 'form-control' %>
    <h6>Handphone</h6>
    <%= contact.text_field :handphone, class: 'form-control' %>
    <h6>Pin</h6>
    <%= contact.text_field :pin, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <h6>Website</h6>
    <%= contact.text_field :website, class: 'form-control' %>
    <h6>Facebook</h6>
    <%= contact.text_field :facebook, class: 'form-control' %>
    <h6>Twitter</h6>
    <%= contact.text_field :twitter, class: 'form-control' %>
  </div>
</div>
