<div class="col-md-12">
	<div class="widget">
		<%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Users', button_name: 'User', add_method: true} %>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Avatar</th>
							<th>Name</th>
							<th>Email</th>
							<th>Created At</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% @collection.each_with_index do |resource, index| %>
							<tr>
								<td><%= index+1 %></td>
								<td><%= image_tag "#{resource.profile.avatar.url(:thumb)}", class: 'thumb' %></td>
								<td><%= resource.username %></td>
								<td><a href="mailto:<%= resource.email %>"><%= resource.email %></a></td>
								<td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
								<td>
									<%= render partial: 'backend/shareds/prepare_action',
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: true } %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			<div class="widget-foot">
				<div class="pull-right">
					<%= paginate @collection %>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
