<div class="col-md-12">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left">User <%= resource.id %></div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <div class="padd">
        <div class="row">
          <div class="col-md-6">
            <h6>Email</h6>
            <a href="mailto:<%= resource.email %>"><%= resource.email %></a>
            <hr>
            <h6>First Name</h6>
            <%= resource.first_name %>
            <hr>
            <h6>Last Name</h6>
            <%= resource.last_name %>
            <hr>
            <h6>City</h6>
            <%= resource.city.try(:name) %>
            <hr>
            <h6>Created At</h6>
            <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
            <hr>
          </div>
          <div class="col-md-6">
            <h6>Avatar</h6>
            <%= image_tag resource.profile_picture.url(:medium), style: 'width: 200px' %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="buttons">
          <%= link_to 'Edit', edit_resource_path(resource), class: "btn btn-sm btn-info" %>
        </div>
      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
  </div>
</div>
