/********************************/
/*    Carousel Home Custom      */
/********************************/
.home-carousel .carousel-inner{
  max-height: 500px;
}
.transition-timer-carousel .carousel-inner img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
  width: 100%;
}
.transition-timer-carousel .carousel-caption {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding-top: 5px;
  padding-left: 15%;
  padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
	margin-top: 10px;
	font-size: 24px;
}
@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.transition-timer-carousel .carousel-caption .carousel-caption-header {
		font-size: 36px;
	}
}

.transition-timer-carousel .carousel-indicators {
	bottom: 0px;
	margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
	z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
  height: 5px;
  background-color: #5cb85c;
  width: 0%;
  margin: -5px 0px 0px 0px;
  border: none;
  z-index: 11;
  position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
  -webkit-transition: width 4.25s linear;
	-moz-transition: width 4.25s linear;
	-o-transition: width 4.25s linear;
	transition: width 4.25s linear;
}
.carousel-control.left, .carousel-control.right{
  background-image: none!important;
}
.main-text {
  position: absolute;
  top: 35%;
  width: 80%;
  color: #FFF;
  margin: auto;
  display: table;
  left: 0;
  right: 0;
}
.main-text-auction{
  top: 25%;
  width: 50%;
}
.main-text-auction form{
  margin-bottom: 40px;
}
.main-text-auction .form-control{
  border-radius: 0!important;
  border-left: 0!important;
}
.main-text-auction .input-group-addon{
  border-right: 0!important;
}
.main-text h1 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  font-size: 30px;
  font-weight: bold;
}
.main-text p {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.btn-create-sell {
  border-radius: 6px!important;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px 30px;
  background: rgba(0,0,0,0.5);
  border-style: none;
  color: #fff;
}
.btn-create-sell:hover {
  color: #fff;
  background: rgba(255,255,255,0.5);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

/********************************/
/*         Media Carousel       */
/********************************/
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
.media-carousel .carousel-control.left
{
  left: -12px;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #018763;
  background: none!important;
  top: -30px;
}
.media-carousel .carousel-control.right
{
  right: -12px !important;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #018763;
  background: none!important;
  top: -30px;
}
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  max-height: 200px;
}


/********************************/
/*         Quote Carousel       */
/********************************/
#quote-carousel {
  margin-top: 30px;
  font-weight: 200;
}
#quote-carousel small{
  color: #000;
}
#quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-control.left {
  left: -60px;
}
#quote-carousel .carousel-control.right {
  right: -60px;
}
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #CCC;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-color: #fff;
  opacity: 1;
  overflow: hidden;
}
#quote-carousel .carousel-inner {
  min-height: 300px;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}

/********************************/
/*    Pop Property Carousel     */
/********************************/
.pop-property-carousel .item{
  height: 190px;
}

/************************************/
/*    Feature Property Carousel     */
/************************************/

/********************************/
/*         Media Carousel       */
/********************************/
.media-carousel-feature-property
{
  margin-bottom: 0;
  padding: 0 10px 30px 30px;
  margin-top: 30px;
}
.media-carousel-feature-property .carousel-control.left
{
  left: -12px;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #018763;
  background: none!important;
  top: 100px;
}
.media-carousel-feature-property .carousel-control.right
{
  right: -12px !important;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #018763;
  background: none!important;
  top: 100px;
}
.media-carousel-feature-property .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
.media-carousel-feature-property .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel-feature-property .carousel-indicators .active
{
  background: #333333;
}
.media-carousel-feature-property img
{
  width: 100%;
  max-height: 200px;
}


/********************************/
/*       Property Carousel      */
/********************************/
.slider{
  position: relative;
  .flexslider{
    margin-bottom: 10px;
  }
  .flex-caption {
    width: 100%;
    padding: 20px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    margin-bottom: 0;
  }
  #slider-product{
    border: solid 1px #eee;
    border-radius: 0;
    padding: 2px;
    background: #fff;
    .slides > li {
      position: relative;
      overflow: hidden;
      height: 500px;
    }
    .slides img {
      height: 100%;
      width: auto;
      margin: auto
    }
    .btn-wishlist{
      position: absolute;
      right: 2px;
      top: 10px;
      z-index: 2;
      background: #d9534f;
      color: #fff;
      border: 0;
      border-radius: 0;
    }
    .btn-flat-id{
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 10px;
      z-index: 2;
      color: #fff;
      border-radius: 0;
      padding: 5px 30px;
      border-left: 0;
    }
  }
  #carousel-product{
    border: 0;
    .slides > li {
      border: solid 1px #eee;
      margin-right: 4px;
      height: 100px;
      overflow: hidden;
      padding: 1px;
    }
    .slides img{
      height: 100%;
      width: 100%;
    }
  }
}
