/********************************/
/*           Nav Custom         */
/********************************/

/*Avatar*/
.user-image-cycle-top {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #cacccd;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  float: right;
  margin-right: 10px;
}
.host-profile-image-top {
  width: 30px;
  height: 30px;
}
.dropdown-account .usr-name{
  line-height: 30px;
}

/*Navbar*/
.navbar-brand{
  line-height: 30px;
  height: auto;
}
.navbar{
  background: rgba(255,255,255,.9);
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: solid 1px #ddd;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  z-index: 2;
}
.navbar .navbar-nav > li > a{
  line-height: 30px;
}
.navbar ul.dropdown-menu {
  box-shadow: none;
  min-width: 250px;
  border-top: 0;
}
.navbar .dropdown-menu .divider{
  margin: 0;
}
.navbar .dropdown-menu>li>a {
  font-size: 12px;
  padding: 10px 12px;
}
/*.navbar ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #ccc;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.navbar ul.dropdown-menu:after {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -9px;
  right: 16px;
  z-index: 10;
}*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background: #fff;
}
.navbar-red{
  background: #ff5a5f;
  box-shadow: none!important;
  border-bottom: 0;
}
.navbar-red .navbar-nav > li > a {
  color: #fff;
}
.navbar-red .navbar-brand{
  color: #fff;
}
#c-button--push-right{
  cursor: pointer;
}

/*Notifications*/
.header-inbox-pop {
  padding: 10px;
  background: #f5f5f5;
  color: #777;
  float: left;
  width: 100%;
}
.box-inbox-pop {
  float: left;
  width: 100%;
  font-size: 11px;
  padding: 10px;
}
.dropdown-account-message ul.dropdown-menu {
  width: 300px;
}
.fa-box-inbox {
  font-size: 20px;
  padding-right: 0;
  line-height: 0;
}
.count-inbox {
  background: red;
  color: white;
  padding: 2px 4px;
  font-size: 8px;
  border-radius: 50%;
  line-height: 0;
}

/*Form Top Search*/
#custom-search-input{
  padding: 0px;
  margin-left: 20px;
  border-radius: 6px;
  background-color: #fff;
  border: 0;
  margin-top: 12px;
  width: 350px;
}
#custom-search-input input{
  border: 0;
  box-shadow: none;
}
#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-right: solid 1px #ccc;
}
#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-right: solid 1px #ccc;
}
#custom-search-input .input-group-btn{
  width: 35px;
}
