/********************************/
/*    		 Section Custom       */
/********************************/
.section {
  width: 100%;
  float: left;
}
.section.grey, .grey {
  background: #FBFBFB;
}

.purple {
  background: #564E84;
}

section.grey {
  background: #FBFBFB;
}
.section.green{
  background: #5cb85c;
  color: #fff;
}
section .container .features {
  max-width: 90%;
  margin: auto;
  display: table;
}
section.obvious{
  min-height: 200px;
  padding: 50px 0 80px 0;
}
section.obvious i{
  font-size: 5em;
  color: #5cb85c;
  margin-bottom: 10px;
}
section.obvious h2{
  margin-bottom: 50px;
}
section.obvious p{
  color: #7f7f7f;
}
section.obvious .col-md-6{
  margin-bottom: 20px;
  min-height: 100px;
}
section.obvious{
  text-align: center;
}
section.section-dinamic-map{
  float: left;
  width: 100%;
  height: 100%;
  min-height: 700px;
  z-index: -2;
  position: relative;
}
section.section-dinamic-map .main-dinamic{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -2;
  min-height: 500px;
}
section .section-comments-group {
  margin-bottom: 20px;
}
section .section-comments-group .well{
  padding: 10px;
}
section.square-profile-section{
  padding-bottom: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.18);
  background: #fff;
  .fa{
    color: #5cb85c;
  }
  .btn-info-price{
    float: right;
    border: solid 1px #382c7e;
    padding: 4px 15px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    .price-lg{
      color: #382c7e;
      float: right;
      font-size: 25px;
      margin-bottom: 0;
      width: 100%;
    }
    .desc-price{
      float: right;
      font-size: 14px;
      color: #aaa;
      width: 100%;
    }
  }
}
section{
  float: left;
  width: 100%;
}
section.grey{
  background: #FBFBFB;
}
section.section{
  padding: 20px 0;
}
section.section-region{
  border-bottom: solid 1px #ccc;
  h3{
    margin-top:0;
  }
}
section .section-comments-group {
  margin-bottom: 20px;
}
section .section-comments-group .well{
  padding: 10px;
}
.section-desc{
  width: 100%;
  margin-bottom: 20px;
  float: left;
}
.section-desc-white{
  width: 100%;
  padding: 20px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  float: left;
}
.mapShowProperty{
  width: 100%;
  height: 500px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  h4{
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    min-width: 200px;
  }
  .price-map{
    font-size: 16px;
    color: #5cb85c;
    float: left;
  }
  img{
    border: solid 1px #ccc;
    padding: 2px;
    float: left;
    margin-right: 10px;
    width: 140px;
    height: 110px;
  }
}

/********************************/
/*     Section Side Custom      */
/********************************/
.section-list-side-property{
  position: relative;
  padding-right: 10px;
  background: white;
  border-left: solid 1px #ccc;
  -webkit-box-shadow: -3px 1px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 5px -4px rgba(0,0,0,0.75);
  box-shadow: -3px 1px 5px -4px rgba(0,0,0,0.75);
  width: 400px;
  float: right;
  height: 100%;
  z-index: -1;
}
.section-list-side-property .list-side-property{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  top: 0;
  right: 0;
  padding: 0;
  padding-right: 10px;
  position: absolute;
  width: 100%;
  padding-top: 125px;
}
.section-list-side-property .list-side-property .top-premium a{
  border-bottom: solid 2px orange;
  background: #fbfbfb;
}
.section-list-side-property .box-sort-order{
  width: 100%;
  float: left;
  background: #fff;
  z-index: 1;
  position: relative;
}
.section-list-side-property .results{
  width: 100%;
  float: left;
  padding: 10px 0;
  font-size: 16px;
}
.ul-list-property{
  padding-left: 0;
  list-style: none;
}
.ul-list-property li a{
  padding: 10px;
  border-bottom: solid 1px #ccc;
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.ul-list-property li a:hover{
  background: #f5f5f5;
}
.ul-list-property li .cover-list{
  width: 120px;
  float: left;
  margin-right: 10px;
  height: 100px;
  border: solid 1px #f5f5f5;
  padding: 2px;
  overflow: hidden;
  position: relative;
}
.ul-list-property li .cover-list img{
  width: 100%;
  height: 100%;
}
.ul-list-property li .title{
  color: #4c4c4c;
  font-size: 18px;
  font-weight: 400;
}
.ul-list-property li .desc{
  padding: 2px 0;
}
.ul-list-property li .price{
  color: red;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
}
.ul-list-property li .price-sq{
  color: #5cb85c;
  font-size: 12px;
}
.ul-list-property li .price small{
  font-size: 11px;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-appearance: none;
}
.input-group .input-group-addon{
  background: #fff;
  color: #7c7c7c;
  font-size: 12px;
}
.round-property{
  padding-left: 0;
}

/********************************/
/*     Show Property Custom     */
/********************************/
.show-property-pop{
  background: #fff;
  position: absolute;
  webkit-box-shadow: -3px 1px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 1px 5px -4px rgba(0,0,0,0.75);
  box-shadow: -3px 1px 5px -4px rgba(0,0,0,0.75);
  top: 0;
  width: 400px;
  right: 0!important;
  height: 100%;
}
.show-property-pop{
  display: none;
  border-right:solid 1px #ddd;
}
.show-property-pop .home-carousel{
  margin-bottom: 10px;
  height: 200px;
}
.show-property-pop .frame-show{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  top: 0;
  right: 0;
  padding: 0;
}
.show-property-pop .section-desc-white{
  background: rgba(245, 245, 245, 0.20)!important;
}
.show-property-pop .title-show{
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 400;
}
.show-property-pop .title-show a{
  color: #000;
}
.show-property-pop .sec-price{
  width: 100%;
  padding: 10px;
  border: solid 1px #ccc;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  text-align: center;
}
.show-property-pop .price{
  font-size: 20px;
}
.show-property-pop .price small{
  font-size: 10px;
}
.show-property-pop .price-sq{
  color: #5cb85c;
}
.show-property-pop .category{
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: solid 1px #ff5a5f;
  padding: 10px 2px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  color: #ff5a5f;
}
.show-property-pop hr{
  margin: 4px 0 10px 0;
}
.show-property-pop .entity{
  width: 50%;
  background: rgba(245, 245, 245, 0.0);
}
.show-property-pop .entity-left{
  font-size: 15px;
}
.show-property-pop .entity-right .text,
.show-property-pop .entity-right .value
{
  font-size: 12px;
}
.ul-spec{
  list-style: none;
  padding-left: 0;
  font-size: 12px;
}
.ul-spec li{
  float: left;
  width: 50%;
  padding: 5px 0px 5px 0px;
}
.ul-spec li hr{
  margin-bottom: 0!important;
}
.ul-spec li span{
  float: left;
}
.ul-spec li span.no{
  color: #7f7f7f;
}
.ul-spec li .pull-left{
  color: #7f7f7f;
}
.section-spec{
  border: solid 1px #ccc;
  float: left;
  width: 100%;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.section-spec .ul-spec li{
  width: 100%;
}
.nav-property-simple{
  width: 100%;
  float: left;
}
.nav-property-simple a{
  float: left;
  width: 33.3%;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  padding: 10px;
  color: #000;
  float: left;
  border-bottom: solid 1px #ccc;
}
.nav-property-simple a:hover{
  border-bottom: solid 2px #ff5a5f;
  color: #ff5a5f;
}
.nav-project-simple{
  width: 100%;
  float: left;
}
.nav-project-simple a{
  float: left;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  padding: 10px;
  color: #000;
  float: left;
  border-bottom: solid 1px #ccc;
}
.nav-project-simple a:hover{
  border-bottom: solid 2px #ff5a5f;
  color: #ff5a5f;
}
#section-details, #section-facilities, #section-locality, #section-builder{
  float: left;
  width: 100%;
}
.gm-style-iw .price-sq{
  font-size: 12px;
  color: #5cb85c;
  font-weight: normal;
}

/********************************/
/*    			 Line Custom        */
/********************************/
.line-through {
  border-top: 1px solid #DDDDDD;
  margin: 20px 0;
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 100%;
  float: left;
}
.line-through p {
  position: absolute;
  text-align: center;
  top: -13px;
  width: 100%;
  z-index: 1;
}
.line-through span {
  background: #FFF;
  padding: 0 10px;
}
.line-through span.grey {
  background: #FBFBFB;
}

/********************************/
/*        Parallax Section      */
/********************************/
.parallax{
  padding: 0;
  width: 100%;
  float: left;
  display: block;
}
.ha-bg-parallax {
  background: url("/assets/slide3.jpg") no-repeat center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  display: table;
  float: left;
}
.ha-bg-parallax .ha-parallax-body {
  display: table-cell;
  vertical-align: middle;
}
.ha-bg-parallax .ha-content-whitecolor {
  font-size: 17px;
  color: #ffffff;
  width: 45%;
  margin: auto;
}
.ha-bg-parallax .ha-diamond-divider-md {
  margin: 15px 0px;
}
.ha-bg-parallax .ha-heading-parallax {
  font-style: italic;
  font-weight: bold;
  text-transform: none;
  color: #ffffff;
  padding-bottom: 0px;
}

/********************************/
/*   Gallery Property Custom    */
/********************************/
#gallery-card{
  background-color: #FFFFFF;
}

.gallery-card{
  background-color: #fff;
  display: inline-block;
  width: 100%;
  padding: 20px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
  float: left;
}
.img-1_2 {
  max-height: 260px;
  width: 49%;
  display: inline-block;
  text-align: center;
}
.img-1_2 img {
  height: 260px;
  width: 100%;
}
.img-1_2.bottom {
  margin-bottom: 10px;
}
.img-1_2.left {
  margin-right: 10px;
}
.img-1_3.first {
  width: 65%;
  height: 360px;
  margin-right: 10px;
}
.img-1_3.first img {
  width: 100%;
  height: 360px;
}
.img-right.img-3 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
.img-1_3 img {
  width: 100%;
  height: 175px;
}
.img-1_3 {
  display: inline-block;
  position: relative;
}
.img-1_3.bottom {
  margin-bottom: 10px;
}
.img .more-images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  color: white;
  font-size: 20px;
}
.table-cont {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.table-cell-cont {
  display: table-cell;
  vertical-align: middle;
}
.table-cont .table-cell-cont img{
  opacity: 0.0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/********************************/
/*         Property Spec        */
/********************************/
.listing-history-info{
  width: 100%;
  float: left;
  padding: 10px 0;
  border-bottom: solid 1px #ccc;
}
.entity {
  display: inline-block;
  width: 32.88%;
  border-bottom: solid 1px #ccc;
  padding: 5px 10px;
}
.entity-left {
  display: inline-block;
  font-size: 22px;
  vertical-align: top;
  height: 40px;
  line-height: 30px;
  width: 35px;
  text-align: left;
  i{
    color: #382c7e!important;
  }
}
.entity-right {
  display: inline-block;
  vertical-align: top;
}
.entity-right .text {
  color: #7f7f7f;
  font-size: 14px;
}
.entity-right .value {
  font-size: 14px;
}
.not_available{
  opacity: 0.6;
}
.configuration-entity .entity{
  width: 32.7%;
}
.configuration-entity .entity-left{
  font-size: 18px;
}
.configuration-entity .entity-right .text, .configuration-entity .entity-right .value{
  font-size: 12px;
}

.heading {
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}
.panel-route .panel-title{
  font-size: 14px!important;
  border-radius: 0;
  font-weight: normal;
}
.panel-route .panel{
  border-radius: 0;
}
.panel-route .panel-collapse{
  margin-bottom: 5px;
}
.panel-route .panel-collapse .panel{
  border-top: 0;
  border-radius: 0;
}
.panel-route ul{
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.panel-route ul li{
  padding: 5px 0;
}
.panel-route .panel-body{
  font-size: 11px;
}
.panel-route .panel-body p{
  margin: 0;
}

/********************************/
/*    Configurations Toggle     */
/********************************/
.configurations .room_type{
  width: 100%;
  border: solid 1px #ddd;
  position: relative;
  float: left;
  margin-bottom: 20px;
}
.configurations .room_type img{
  width: 100%;
}
.configurations .config-item-content {
  padding: 10px 20px 10px 0px;
  height: 40px;
}
.configurations .item {
  float: left;
  width: 49%;
}
.configurations .sub-heading {
  text-transform: uppercase;
}
.configurations .sub-heading {
  font-size: 11px;
  color: #7f7f7f;
}
.configurations .base-price{
  font-size: 16px;
}
.configurations .btn-group-d{
  position: absolute;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  right: 0;
}
.configurations .cover_file_3d{
  display: none;
}
.configurations {
  display: none;
}
.configurations h4{
  margin-top: 0;
}
.configuration_1{
  display: block;
}
.panel-room-type ul li{
  background: #fff;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ccc;
  cursor: pointer;
}
.panel-room-type ul li:hover{
  opacity: 0.8;
}
.builder-details .text-uppercase{
  color: #7f7f7f!important;
}

/********************************/
/*    		 Footer Custom        */
/********************************/
footer {
  -webkit-box-shadow: 0 0 4px #ccc;
  -moz-box-shadow: 0 0 4px #ccc;
  -ms-box-shadow: 0 0 4px #ccc;
  -o-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 4px #ccc;
  padding-bottom: 0;
  width: 100%;
  float: left;
  color: #cdcdcd;
}
.footer-main {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  -moz-box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  box-shadow: 0 0 10px 5px rgba(166,166,166,0.1);
  background: #191919;
}
footer h4{
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
}
footer ul {
  padding-left: 0;
  list-style: none;
}
footer ul li a{
	color: #cdcdcd;
}
footer ul li a:hover{
	color: #fff;
}
footer .bottom-footer {
  padding: 20px 0;
  margin-top: 20px;
  background: #10100E;
  border-bottom: 2px solid #000;
  width: 100%;
  float: left;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -ms-box-shadow: 0 0 4px #000000;
  -o-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
  color: #cdcdcd;
  font-size: 12px;
  text-align: center;
}
footer .bottom-footer span {
  padding: 10px 0;
}

/********************************/
/*    		  Topup Custom        */
/********************************/
.toup {
  padding: 10px 13px;
  right: 40px;
  bottom: 135px;
  z-index: 99;
  position: fixed;
  text-align: center;
  color: #ffffff !important;
  font-size: 20px;
  background: #382C7E;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  display: none;
  border-radius: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  i{
    padding-top: 0px;
  }
}
