<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h6>Name</h6>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
      <div class="col-md-12">
        <h6>Description</h6>
        <%= f.cktext_area :description, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
