<div class="user-form">
	<h5>Nama Lengkap</h5>
	<%= f.text_field :name, value: "#{current_user.username if current_user.present?}", class: "form-control", required: true, placeholder: 'ex. Alam Topani' %>

	<h5>Handphone</h5>
	<%= f.text_field :phone, class: "form-control", value: "#{current_user.contact.phone if current_user.present?}", required: true, placeholder: 'ex. +6285777...' %>

	<h5>Email</h5>
	<%= f.email_field :email, class: "form-control", value: "#{current_user.email if current_user.present?}", required: true, placeholder: 'example@live.com' %>

	<h5>Pesan</h5>
	<%= f.text_area :message, class: "form-control", required: true %>

	<input class="btn btn-primary submit-button" type="submit" value="Kirim">
</div>
