<% if current_user %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Pesan
      <span class="fa fa-envelope-o">
        <span class="count-msg">
          <%= @latest_inquiries.size %>
        </span>
      </span>
    </a>
    <ul class="dropdown-menu sub-menu padd-0 min-width-400">
      <div class="panel-messages-menu-wrapper">
        <div class="panel-menu-head">
          <div class="head-left">
            <a href="#">
              Pesan (<strong><%= @latest_inquiries.size %></strong>)
            </a>
          </div>
          <div class="head-right">
            <%= link_to notices_url? do %>
              Lihat Kotak Masuk
            <% end %>
          </div>
        </div>
        <div class="panel-menu-messages-body">
          <% @latest_inquiries.limit(5).each do |i| %>
            <% if i.parent.present? %>
              <%= link_to show_notice_url(i.parent.id) do %>
                <div class="box-messages-user">
                  <div class="box-image">
                    <div class="img-user">
                      <%= image_tag i.user.profile.avatar.url(:small) if i.user_id.present? %>
                      <%= image_tag 'no-image.png' unless i.user_id.present? %>
                    </div>
                  </div>
                  <div class="box-name-user">
                    <div class="username">
                      <b><%= i.user.username %></b>
                      <small class="pull-right color-grey"><%= i.created_at.strftime("%B, %d, %Y")%></small>
                    </div>
                    <div class="messages-short">
                      <%= i.message %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% elsif i.parent.blank? %>
              <%= link_to show_notice_url(i) do %>
                <div class="box-messages-user">
                  <div class="box-image">
                    <div class="img-user">
                      <%= image_tag i.user.profile.avatar.url(:small) if i.user_id.present? %>
                      <%= image_tag 'no-image.png' unless i.user_id.present? %>
                    </div>
                  </div>
                  <div class="box-name-user">
                    <div class="username">
                      <b><%= i.name %></b>
                      <small class="pull-right color-grey"><%= i.created_at.strftime("%B, %d, %Y")%></small>
                    </div>
                    <div class="messages-short">
                      <%= i.message %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="panel-menu-footer">
          <a href="#">
            Ada <%= @latest_inquiries.size %> notifikasi menanti di panel muka Anda.
          </a>
        </div>
      </div>
    </ul>
  </li>
<% end %>
