<div class="col-md-12">
  <%= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do %>
    <div class="widget">
      <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Admin', button_name: 'Admin', add_method: true} %>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%"></th>
                <th>Avatar</th>
                <th>Code</th>
                <th>Username</th>
                <th>Status</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @collection.each_with_index do |resource, index| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id %></td>
                  <td><%= image_tag "#{resource.profile.avatar.url(:thumb)}", class: 'thumb' %></td>
                  <td><%= resource.code %></td>
                  <td><%= resource.username %></td>
                  <td><%= resource.verified? %></td>
                  <td><a href="mailto:<%= resource.email %>"><%= resource.email %></a></td>
                  <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
                  <td>
                    <%= render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.username}", no_show: false } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="widget-foot">
          <div class="pull-right">
            <%= paginate @collection %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
