<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="confirmation-package-rumahdaku">
        <div class="box-title-top">
          <div class="title">
            <center>Konfirmasi Pembayaran Paket</center>
          </div>
          <hr>
          <div class="description">
            Setelah pengiriman Bank Transfer selesai anda dapat melakukan konfirmasi pembayaran melalui form dibawah ini dan customer service kami akan segera memproses pemesanan paket anda Terima kasih atas kepercayaan anda melakukan pemesanan paket di rumahdaku.com

            <br><br>
            Dibawah ini adalah informasi rekening bank yang kami miliki :
            <br>

            <% @setting.payments.each do |p| %>
              <div class='well'>
                <%= image_tag p.logo.url, class: 'bank-logo', alt: 'Situs lapak jual beli barang baru bekas di Sukabumi' %>
                &nbsp; <%= p.bank_name %> &nbsp; An. <%= p.name %> &nbsp; <%= p.account_number %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Detail Transfer</h2>
          </div>
          <div class="panel-body">
            <%= form_for @confirmation, url: confirmations_path, method: 'post', html: {class: 'form-horizontal'} do |f| %>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">No Invoice</label>
                <div class="col-sm-8">
                  <%= f.text_field :no_invoice, class: 'form-control', required: true, placeholder: 'Invoice No' %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Nama Lengkap</label>
                <div class="col-sm-8">
                  <%= f.text_field :name, class: 'form-control', required: true, placeholder: 'Nama Lengkap' %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                  <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'Email' %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Kategori Konfirmasi</label>
                <div class="col-sm-8">
                  <%= f.select :category, ['Daftar Baru','Perpanjang Paket'].to_a, {prompt: 'Pilih Kategori'}, {class: 'form-control', required: true} %>
                </div>
              </div>
              <div class="sub-panel-heading row">
                <h2 class="panel-title">Detail Transaksi</h2>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Tanggal Pembayaran</label>
                <div class="col-sm-8">
                  <%= f.text_field :payment_date, class: 'form-control datepicker', required: true %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Jumlah Pembayaran</label>
                <div class="col-sm-8">
                  <%= f.text_field :nominal, class: 'form-control', required: true, placeholder: 'Total Bayar', data: {autonumeric: true} %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Transfer Ke Rekening</label>
                <div class="col-sm-8">
                  <%= f.select :bank_account, @setting.payments.map{|p| "#{p.bank_name} An. #{p.name} #{p.account_number}"}, {prompt: 'Pilih akun rekening'}, {class: 'form-control', required: true} %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Metode Pembayaran</label>
                <div class="col-sm-8">
                  <%= f.select :payment_method, ['Internet Banking', 'SMS Banking','ATM Transfer','Setoran Tunai'], {prompt: 'Pilih Metode Pembayaran'}, {class: 'form-control', required: true} %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Pengirim</label>
                <div class="col-sm-8">
                  <%= f.text_field :sender_name, class: 'form-control', required: true, placeholder: 'Nama Pengirim' %>
                </div>
              </div>
              <div class="form-group">
                <label for="nama" class="col-sm-4 control-label">Pesan</label>
                <div class="col-sm-8">
                  <%= f.text_area :message, class: 'form-control', placeholder: 'Pesan' %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 pull-right">
                  <% if current_user.present? %>
                    <button type="submit" value="sending" class="btn btn-package-rumdak cari pull-right">Kirim Konfirmasi</button>
                  <% else %>
                    <a href="#" class="btn btn-package-rumdak cari pull-right" data-toggle="modal" data-target="#masuk">
                      Kirim Konfirmasi
                    </a>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
