<% user     = property.try(:user) %>
<% profile  = user.try(:profile) %>
<% address  = property.try(:address) %>
<% basic    = property.try(:basic_property) %>

<div class="box-listing-property-member">
  <div class="box-image-left-wrapper">
    <div class="img-big">
      <span class="flat-id">Id: <%= property.code %></span>
      <% if property.sold? %>
        <%= image_tag 'sold-out.png', class: 'expired-label' unless property.the_rent? %>
      <% end %>
      <%= image_tag "#{property.galleries.latest_position.first.file.url(:small)}" %>
    </div>
  </div>
  <div class="box-desc-right-wrapper">
    <div class="box-content">
      <div class="title">
        <%= link_to property_path(property) do %>
          <%= property.category %>: <%= property.title %>
        <% end %>
      </div>
      <div class="box-info-left">
        <div class="location">
          <small class="color-grey">
            <i class="fa fa-tags"></i>
            <span><%= property.try(:type_property) %></span>
          </small>&nbsp;
          <small class="color-grey">
            <i class="fa fa-map-marker"></i>
            <span><%= address.try(:city) %></span>
          </small>
        </div>
      </div>
      <div class="box-info-right">
        <div class="price"><%= number_to_currency_br(property.the_price?) %></div>
        <small class="color-grey"><%= property.the_price_status? %></small>
        <br>
        <% unless property.the_rent? %>
          <% if property.sold_report.present? %>
            <label class="label label-default">
              Terjual: <%= property.try(:sold_report).try(:date).strftime("%b, %d, %Y") if property.sold_report.date.present? %>
            </label>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="box-footer">
      <div class="count-people">
        <i class="fa fa-eye"></i>
        <%= property.impressionist_count %> Dilihat
      </div>
      <div class="action-user">
        <%= link_to resource_path(whishlist), method: 'delete', data: {confirm: "Are you sure delete this?"} do %>
          <div class="btn btn-xs btn-danger no-border">
            <i class="fa fa-trash"></i>
            Delete
          </div>
        <% end %>
        <%= link_to property_path(property) do %>
          <div class="btn btn-xs btn-primary no-border">
            <span class="fa fa-search"></span>
            View
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>