<h3>Asset Public Location</h3>
<hr>
<div class="row" id="form-address">
  <input type="hidden" id="location_id" value="<%= resource.id || 0 %>"></input>
  <div class="col-md-2">
    <div class="well">
      <center>
        <p>Verified</p>
        <p><%= f.check_box :verified %></p>
      </center>
    </div>
  </div>
  <div class="col-md-3">
    <h6>Type</h6>
    <%= f.select :type_asset, LocationType.to_a, {prompt: 'Choice Type'}, {class: 'form-control type_data', required: true} %>
    <% sub_districts = address.object.sub_district_id ? Region.find_by(id: address.object.city_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
  </div>
  <div class="col-md-7">
    <h6>Title</h6>
    <%= f.text_field :title, class: 'form-control', placeholder: 'ex. Apartments', required: true, maxlength: 50 %>
  </div>
  <div class="break"></div>
  <div class="col-md-6">
    <h6>Province</h6>
    <%= address.select :province_id, options_for_select(Region.roots.alfa.pluck(:name, :id), resource.address.province_id), {prompt: 'Choice Province'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    <h6>City</h6>
    <% cities = address.object.city_id ? Region.find_by(id: address.object.province_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="city-container">
      <%= address.select :city_id, options_for_select(cities, resource.address.city_id), {prompt: 'Choice City'}, class: 'select2 form-control cities_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
    <h6>Subdistrict</h6>
    <% subdistricts = address.object.subdistrict_id ? Region.find_by(id: address.object.city_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="sub-district-container">
      <%= address.select :subdistrict_id, options_for_select(subdistricts, resource.address.subdistrict_id), {prompt: 'Choice Subdistricts'}, class: 'select2 form-control sub_districts_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
  </div>
  <div class="col-md-6">
    <h6>Village</h6>
    <% villages = address.object.village_id ? Region.find_by(id: address.object.subdistrict_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="village-container">
      <%= address.select :village_id, options_for_select(villages, resource.address.village_id), {prompt: 'Choice Village'}, class: 'select2 form-control village_select' %>
    </div>
    <h6>Area</h6>
    <% areas = address.object.area_id ? Region.find_by(id: address.object.village_id).try(:children).pluck(:name, :id) || [] : Region.none rescue [] %>
    <div class="area-container">
      <%= address.select :area_id, options_for_select(areas, resource.address.area_id), {prompt: 'Choice Area'}, class: 'select2 form-control area_select', 'data-node' => "#{resource.class.to_s.downcase}" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="round-map">
      <section id="manage_map_property" class="gmap3-dinamic"></section>
    </div>
  </div>
  <div class="col-md-6">
    <h6>Latitude</h6>
    <%= f.text_field :latitude, class: 'form-control latitude', placeholder: 'ex. -6.189195348130978' %>
  </div>
  <div class="col-md-6">
    <h6>Longitude</h6>
    <%= f.text_field :longitude, class: 'form-control longitude', placeholder: 'ex. 106.82976722717285' %>
  </div>
</div>
