<section class="agent-list-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-property">
          <h2>List Agen Terverifikasi</h2>
          <div class="title-highlight"></div>
        </div>
        <div class="ads">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8140461930329474"
               data-ad-slot="3062552949"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div id="slide-agent-listing" class="owl-carousel owl-theme">
            <% @agents.each do |resource| %>
              <div class="item">
                <div class="box-image-avatar">
                  <%= link_to user_path(resource) do %>
                    <%= image_tag "#{resource.try(:profile).try(:avatar).url(:small)}", title: 'Situs jual rumah di Indonesia', alt: 'Situs jual rumah di Indonesia' %>
                  <% end %>
                </div>
                <div class="name-agent">
                  <%= link_to user_path(resource) do %>
                    <%= resource.try(:profile).try(:full_name) %>
                  <% end %>
                </div>
                <div class="name-group">
                  <i class="fa fa-map-marker"></i> Area : <%= resource.agent_info.specialist_area %>
                  <br>
                  <i class="fa fa-home"></i> Spesialis : <%= resource.agent_info.specialist_property %>
                </div>
              </div>
            <% end %>
          </div>
          <%= link_to 'Selengkapnya', agents_path, class: 'btn btn-info btn-more' %>
        </div>
      </div>
    </div>
  </div>
</section>
