<div class="bg-white">
  <div class="container">
    <div class="row blog-home-default">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="title-property">
                  <h2>Berita Terbaru</h2>
                  <div class="title-highlight"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <% @blog_infos.each_with_index do |blog_infos, index| %>
                <% cache ["home_latest_blogs_#{blog_infos.id}_#{blog_infos.updated_at.to_time.to_i}"] do %>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="blog-info-three">
                      <div class="body-info-three">
                        <div class="image-info-three">
                          <%= image_tag blog_infos.cover.url(:medium), alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
                          <div class="date">
                            <span>
                              <i class="fa fa-calendar"></i> <%= blog_infos.created_at.strftime("%B, %d, %Y") %>
                            </span>
                          </div>
                        </div>
                        <div class="desc-info-three">
                          <%= link_to blog_infos.title, blog_info_path(blog_infos), class: 'title' %>
                          <div class="description">
                            <%= truncate(strip_tags(blog_infos.description), length: 100, omission: '...') %>
                            <%= link_to 'more', blog_info_path(blog_infos) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="title-property">
              <h2>Event</h2>
              <div class="title-highlight"></div>
            </div>
          </div>
        </div>
        <div class="blog-rumahdaku-sidebar">
          <div class="listing-info-sidebar-wrapper bdr-sidebar-right">
            <% @event.each_with_index do |event, index| %>
              <% cache ["home_latest_events_#{event.id}_#{event.updated_at.to_time.to_i}"] do %>
                <div class="list-info-blog">
                  <div class="images-blog-wrapper">
                    <div class="images-blog">
                      <%= image_tag event.cover.url(:thumb), alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
                    </div>
                  </div>
                  <div class="info-blog-wrapper">
                    <div class="category">
                      <%= event.try(:category_blog_info).try(:name) %>
                    </div>
                    <%= link_to event.title, blog_info_path(event), class: 'title' %>
                    <div class="comments">
                      <i class="fa fa-calendar"></i> <%= event.created_at.strftime("%I:%M %B, %d, %Y") %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="ads">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- home-bottom-sidebar-rumahdaku -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-8140461930329474"
               data-ad-slot="8364370140"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
