<section class="page-wrapper slider-property-wrapper">
  <section class="main-slider">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <% @setting.galleries.each do |gallery| %>
            <% cache ["home_carousel_#{gallery.id}_#{gallery.updated_at.to_time.to_i}"] do %>
              <li data-transition="slideleft" data-slotamount="1" data-masterspeed="1000" data-thumb="<%= image_url gallery.file.url(:small) %>" data-saveperformance="off" data-title="<%= gallery.title %>">
                  <%= image_tag gallery.file.url, data: { bgposition: "center top", bgfit: "cover", bgrepeat: "no-repeat" } %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
  <%= form_for :search, url: properties_path, html:{id: 'property-search', name: 'search'}, method: 'get' do %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 box-slider-logo">
          <div class="box-logo-slider">
            <%= image_tag 'logo-center.png', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
          </div>
          <h1 class="box-search-slider-title">
            Situs jual beli sewa dan gadai property di seluruh Indonesia
          </h1>
          <div class="box-search-slider">
            <div class="input-group">
              <span class='search-form'>
                <%= autocomplete_field_tag :region_display_name, "", autocomplete_region_path, placeholder: "Cari Berdasarkan Lokasi ...", class: 'form-control input-search-lg', value: params[:region_display_name] %>
              </span>
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg btn-search-lg no-border" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

