<% cache("home_categories", expires_in: 5.day) do %>
  <section class="point-information-property-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="box-point-infomation-property">
            <div class="category-property-point">
              <%= link_to properties_path(category: 'Dijual'), class: "box-point" do %>
                <div class="icon">
                  <%= image_tag 'dijual.png', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
                </div>
              <% end %>
            </div>
            <div class="category-property-point">
              <%= link_to properties_path(category: 'Disewa'), class: "box-point" do %>
                <div class="icon">
                  <%= image_tag 'disewa.png', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
                </div>
              <% end %>
            </div>
            <div class="category-property-point">
              <%= link_to properties_path(category: 'Digadai'), class: "box-point" do %>
                <div class="icon">
                  <%= image_tag 'digadai.png', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
                </div>
              <% end %>
            </div>
            <!-- <div class="category-property-point">
              <%= link_to properties_path(category: 'Dilelang'), class: "box-point" do %>
                <div class="icon">
                  <%= image_tag 'dilelang.png', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
                </div>
              <% end %>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
