<section class="parallax">
	<div class="ha-bg-parallax text-center">
		<div class="ha-parallax-body">
			<div class="ha-content ha-content-whitecolor">
				"PROPEDIA is a market / Indonesia's largest online mall that lets individuals and business owners in Indonesia to open and manage their online store is easy and free."
			</div>
			<div class="ha-parallax-divider-wrapper">
				<span class="ha-diamond-divider-md img-responsive"></span>
			</div>
			<div class="ha-heading-parallax">CEO PROPEDIA</div>
		</div>
	</div>
</section>
