<section class="location-featured-wrapper bg-grey">
  <div class="container">
    <div class="row">
      <div class="ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-top-rumahdaku -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8140461930329474"
             data-ad-slot="6108907748"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="title-one-top">
          Dibawah ini adalah beberapa lokasi pilihan yang terkenal di indonesia, antara lain!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      	<% @regions.each do |region| %>
          <% cache ["home_region_#{region.id}_#{region.updated_at.to_time.to_i}"] do %>
        		<% region_display_name = "#{region.try(:name)}, #{region.try(:parent).try(:name)}" %>
  	        <div class="col-md-6 col-sm-6">
  	          <div class="box-location-point">
  	            <div class="box-image-location-wrapper">
  	              <div class="box-image-location">
  	                <%= image_tag region.image.url(:medium), class: 'img-responsive', alt: 'Situs jual rumah di Indonesia', title: 'Situs jual rumah di Indonesia' %>
  	              </div>
  	            </div>
  	            <div class="box-desc-location">
  	              <div class="title">
  	                <%= link_to properties_path(region_display_name: region_display_name) do %>
  	                	<%= region.name %>, <%= region.root.name if region.root.present? %></a>
  	                <% end %>
  	              </div>
  	              <div class="description">
                    <%= truncate strip_tags(region.description.to_s), length: 50 if region.description.present? %>
  	              </div>
  	            </div>
  	          </div>
  	        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
