<section class="location-featured-wrapper bg-grey-smooth">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="title-one-top">
          Iklan terpopuler
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="listing-property">
          <% @properties.each do |resource| %>
            <%= render 'properties/property', resource: resource unless resource.the_auction? %>
            <%= render 'properties/property_auction', resource: resource if resource.the_auction? %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ads">
        <br>
        <br>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-middle-rumahdaku -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8140461930329474"
             data-ad-slot="5550504545"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</section>
