<section class="section green">
	<div class="container">
		<div class="row">
			<h2 align="center">WHAT DRIVES US</h2>
			<div class="col-md-12" data-wow-delay="0.2s">
				<div class="carousel slide" data-ride="carousel" id="quote-carousel">
					<ol class="carousel-indicators">
						<% @testimonials.each_with_index do |testimonial,index| %>
							<% cache ["ava_testimonials_#{testimonial.id}_#{testimonial.updated_at.to_time.to_i}"] do %>
								<li data-target="#quote-carousel" data-slide-to="0" class="<%= 'active' if index == 1 %>">
									<%= image_tag "#{testimonial.try(:user).try(:profile).try(:avatar).url(:small)}", class: 'img-responsive' if testimonial.user.present? %>
								</li>
							<% end %>
						<% end %>
					</ol>

					<div class="carousel-inner text-center">
						<% @testimonials.each_with_index do |testimonial,index| %>
							<% cache ["testimonials_#{testimonial.id}_#{testimonial.updated_at.to_time.to_i}"] do %>
								<div class="item <%= 'active' if index == 1 %>">
									<blockquote>
										<div class="row">
											<div class="col-sm-8 col-sm-offset-2">
												<p><%= testimonial.message.html_safe if testimonial.message.present? %></p>
												<small>
													@<%= testimonial.email %> | <%= testimonial.name %>
												</small>
											</div>
										</div>
									</blockquote>
								</div>
							<% end %>
						<% end %>
					</div>

					<a data-slide="prev" href="#quote-carousel" class="left carousel-control">
						<i class="fa fa-chevron-left"></i>
					</a>
					<a data-slide="next" href="#quote-carousel" class="right carousel-control">
						<i class="fa fa-chevron-right"></i>
					</a>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
