<div class="row">
  <div class="col-md-4">
    <h6>Parent</h6>
    <%= f.collection_select(:parent_id, PropertyType.arrange_as_array({order: 'name'},
                          resource.possible_parents), :id, :name_for_selects, {:prompt=> "Select Upline "}, {class: "form-control"})%>
  </div>
  <div class="col-md-12">
    <h6>Name</h6>
    <%= f.text_field :name, class: 'form-control', required: true  %>
  </div>
</div>
