<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>PROPEDIA</title>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#FD4F55">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td style="width:100%">
                            <h2 align="center" style="color:white; font-family: Arial;">PROPEDIA</h2>
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684" style="padding: 40px 0;">
            <tr>
              <td>
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                  <tr>
                    <td>

                      <table cellspacing="0" border="0" cellpadding="0" width="100%">
                        <tr>
                          <td valign="top" align="center">
                            <h2 style="font-size: 20px; font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                              Your Package Has Been Confirmed
                            </h2>
                            <h3>Info Your Package</h3>
                            <table style="border:1px solid #ddd;">
                              <tr>
                                <td style="padding: 8px;"><b>Invoice Order</b></td>
                                <td class="uppercase"><%= @user_package.try(:code) %></td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Price</b></td>
                                <td><b><%= @price_package %></b></td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Package Name</b></td>
                                <td><%= @user_package.package_name %></td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Top Listing</b></td>
                                <td><%= @user_package.top_listing? %></td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Max Listing</b></td>
                                <td><%= @user_package.try(:max_listing) %></td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Featured Listing</b></td>
                                <td><%= @user_package.try(:featured_listing) %></td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Label Tags</b></td>
                                <td><%= @user_package.try(:label_tags) %></td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Profil Agen di website</b></td>
                                <td>Yes</td>
                              </tr>
                              <tr>
                                <td style="padding: 8px;"><b>Email Alert</b></td>
                                <td>Yes</td>
                              </tr>
                            </table>
                            <br>
                            <p style="font-size: 16px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;">
                              You Can Create Property Now
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#191919">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    <b>PROPEDIA Team</b>
                  </unsubscribe><br>
                  Home seekers get a virtual tour of your property. Only those with genuine interest approach you.
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 12px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  South Jakarta, Indonesia<br>

                  Email.
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    info@propedia.co.id
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
