<% user = property.try(:user) %>
<% profile = user.try(:profile) %>
<% address = property.try(:address) %>
<% basic    = property.try(:basic_property) %>
<div class="box-listing-property-member">
  <div class="box-image-left-wrapper">
    <div class="img-big">
      <span class="flat-id">Id: <%= property.code %></span>
      <% if property.sold? %>
        <%= image_tag 'sold-out.png', class: 'expired-label', alt: 'Situs jual rumah di Indonesia' unless property.the_rent? %>
      <% end %>
      <%= image_tag "#{property.galleries.latest_position.first.file.url(:small)}" %>
    </div>
  </div>
  <div class="box-desc-right-wrapper">
    <div class="box-content">
      <div class="title">
        <%= link_to property_path(property) do %>
          <%= property.category %>: <%= property.title %>
        <% end %>
      </div>
      <div class="box-info-left">
        <div class="location">
          <span class="color-grey">
            <i class="fa fa-tags"></i>
            <span><%= property.try(:type_property) %></span>
          </span>&nbsp;
          <span class="color-grey">
            <i class="fa fa-map-marker"></i>
            <span><%= address.try(:city) %>, <%= address.try(:province) %></span>
          </span>
        </div>
      </div>
      <div class="box-info-right">
        <div class="price"><%= number_to_currency_br(property.the_price?) %></div>
        <div class="sold">
          <strong>Terjual: <%= number_to_currency_br(property.sold_report.price) if property.sold_report.price.present? %></strong>
        </div>
        <% unless property.the_rent? %>
          <% if property.sold_report.present? %>
            <div class="label label-default">
              Terjual: <%= property.try(:sold_report).try(:date).strftime("%b, %d, %Y") if property.sold_report.date.present? %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="box-footer">
      <div class="count-people">
        <i class="fa fa-eye"></i>
        <%= property.impressionist_count %> Dilihat
      </div>
      <div class="action-user">
        <%= link_to resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this?"} do %>
          <div class="btn btn-xs btn-danger no-border">
            <i class="fa fa-trash"></i>
            Delete
          </div>
        <% end %>
        <%= link_to property_path(property) do %>
          <div class="btn btn-xs btn-primary no-border">
            <span class="fa fa-search"></span>
            View
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>