<% user = property.try(:user) %>
<% profile = user.try(:profile) %>
<% address = property.try(:address) %>
<% basic = property.try(:basic_property) %>
<% expired_date = property.auction.end_auction.strftime("%B, %d, %Y") if property.auction.end_auction.present? %>
<div class="box-listing-property-member">
  <div class="box-image-left-wrapper">
    <div class="img-big">
      <span class="flat-id">Id: <%= property.code %></span>
      <% if property.sold? %>
        <%= image_tag 'sold-out.png', class: 'expired-label' unless property.the_rent? %>
      <% end %>
      <div class="box-three-desc-auction">
        <center><small class="title-timer">Countdown Timer</small></center>
        <ul class="countdown">
          <li> <span class="days">00</span>
            <p class="days_ref">DAYS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="hours">00</span>
            <p class="hours_ref">HRS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
            <p class="minutes_ref">MINS</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
            <p class="seconds_ref">SEC</p>
          </li>
        </ul>
      </div>
      <%= image_tag "#{property.galleries.latest_position.first.file.url(:small)}" %>
    </div>
  </div>
  <div class="box-desc-right-wrapper">
    <div class="box-content">
      <div class="title">
        <%= link_to property_path(property) do %>
          <%= property.category %>: <%= property.title %>
        <% end %>
      </div>
      <div class="box-info-left">
        <div class="location">
          <span class="color-grey">
            <i class="fa fa-tags"></i>
            <span><%= property.try(:type_property) %></span>
          </span>&nbsp;
          <span class="color-grey">
            <i class="fa fa-map-marker"></i>
            <span><%= address.try(:city) %></span>
            <br>
          </span>
          <small class="color-grey">
            <a href="#" data-toggle="modal" data-target="#modal_list_schedule_visit">
              <i class="fa fa-calendar"></i>&nbsp;Lihat Jadwal Kunjungan
            </a>
            <div class="desc-bottom-timer">
              <div class="desc-time-left">Bersedia Bertemu : <span><%= property.try(:auction).try(:reserve_met) %></span></div>
            </div>
            <div class="desc-bottom-timer">
              <div class="desc-time-right">
                <a href="#" data-toggle="modal" data-target="#modal_view_all_bids">
                  <%= property.try(:bid_auctions).size %> Penawaran<i class="fa fa-question-circle"></i>
                </a>
              </div>
            </div>
          </small>
        </div>
      </div>
      <div class="box-info-right">
        <div class="price"><%= number_to_currency_br(property.auction.starting_bid) %></div>
        <div class="sold">
          <strong>Terjual: <%= number_to_currency_br(property.sold_report.price) if property.sold_report.price.present? %></strong>
        </div>
        <% unless property.the_rent? %>
          <% if property.sold_report.present? %>
            <div class="label label-default">
              Terjual: <%= property.try(:sold_report).try(:date).strftime("%b, %d, %Y") if property.sold_report.date.present? %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="box-footer">
      <div class="count-people">
        <i class="fa fa-eye"></i>
        <%= property.impressionist_count %></strong>
      </div>
      <div class="action-user">
        <%= link_to resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this?"} do %>
          <div class="btn btn-xs btn-danger no-border">
            <i class="fa fa-trash"></i>
            Delete
          </div>
        <% end %>
        <%= link_to property_path(property) do %>
          <div class="btn btn-xs btn-primary no-border">
            <span class="fa fa-search"></span>
            View
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shareds/modal_all_bids_auction', resource: property %>
<%= render 'shareds/modal_list_schedule_visit', resource: property %>