<div class="row">
  <div class="col-xs-12">
    <h4>Report Penjualan (<%= @reports.count %>)</h4>
    <hr>
    <br>
  </div>
</div>

<% if @collection.present? %>
  <% @collection.each_with_index do |resource, index| %>
    <% property = resource.try(:sold_reportable) %>
    <% if property.present? %>
      <% if property.is_category_auction? %>
        <%= render 'properties_auction', property: property, resource: resource %>
      <% else %>
        <%= render 'properties_list', property: property, resource: resource %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class='alert alert-danger'>Tidak ada data yang tersedia!</div>
<% end %>

<%= paginate @collection %>
