<div class="col-md-12">
  <%= form_for :multiple, url: multiple_confirmations_backend_order_user_packages_path, method: 'post' do %>
    <div class="widget">
      <%= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Packages', button_name: 'Package', add_method: true} %>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th width="1%"></th>
                <th>Code</th>
                <th>User</th>
                <th>Package</th>
                <th>Price</th>
                <th>Buy At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @collection.each_with_index do |resource, index| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id unless resource.payed %></td>
                  <td><%= link_to resource.code, backend_order_user_package_path(resource.id) %></td>
                  <td><%= resource.user.email %></td>
                  <td><%= link_to resource.package.name, backend_package_path(resource.package) %></td>
                  <td><%= number_to_currency_br(resource.price) if resource.price.present? %></td>
                  <td><%= resource.created_at.strftime("%d-%M-%Y") %></td>
                  <td>
                    <%= link_to resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this #{resource.id}"} do %>
                      <div class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </div>
                    <% end %>
                    <% if resource.payed %>
                      <div class="btn btn-info btn-xs">Already Confirmated</div>
                    <% else %>
                      <%= link_to 'Confirmation', confirmations_backend_order_user_package_path(resource.id), method: 'patch', class: 'btn btn-xs btn-primary' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="widget-foot">
          <div class="pull-right">
            <%= paginate @collection %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
