  <div class="col-md-12">
    <div class="widget">
      <div class="widget-content">
        <div class="col-xs-12">
          <br><h3 class="uppercase" align="center">Invoice Orer <%= @user_package.try(:code) %></h3>
          <hr>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><b>User</b></td>
          <td>
            <%= @user_package.try(:user).try(:username) %> 
            (<a href="mailto:<%= @user_package.try(:user).try(:email) %>"><%= @user_package.try(:user).try(:email) %></a>)
          </td>
        </tr>
        <tr>
          <td><b>Status Payed</b></td>
          <td><%= @user_package.payed? %></td>
        </tr>
        <tr>
          <td><b>Price</b></td>
          <td><b><%= number_to_currency_br(@user_package.price) %></b></td>
        </tr>
        <tr>
          <td><b>Package Name</b></td>
          <td><%= @user_package.package_name %></td>
        </tr>
        <tr>
          <td><b>Top Listing</b></td>
          <td><%= @user_package.top_listing? %></td>
        </tr>
        <tr>
          <td><b>Max Listing</b></td>
          <td><%= @user_package.try(:max_listing) %></td>
        </tr>
        <tr>
          <td><b>Featured Listing</b></td>
          <td><%= @user_package.try(:featured_listing) %></td>
        </tr>
        <tr>
          <td><b>Label Tags</b></td>
          <td><%= @user_package.try(:label_tags) %></td>
        </tr>
        <tr>
          <td><b>Profil Agen di website</b></td>
          <td>Yes</td>
        </tr>
        <tr>
          <td><b>Email Alert</b></td>
          <td>Yes</td>
        </tr>
        <tr>
          <td><b>Order At</b></td>
          <td><%= @user_package.created_at.strftime("%B, %d, %Y") %></td>
        </tr>
      </table>
    </div>
  </div>