<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <% if params[:controller] == 'properties' && params[:action] == 'show' %>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "85a5e2b6-1198-48e4-8cea-a5291ba2d1a6", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
    <script src="//load.sumome.com/" data-sumo-site-id="837b84f4d7b2a04adc818d74531e3ae5b05887b8e88befcb44b296d242997b32" async="async"></script>
  <% end %>
</head>
  <body id="wrapper">
    <section class="alert-top"><%= flash_messages %></section>
    <%= render 'shareds/nav' %>
    <%= yield %>
    <%= render 'shareds/footer' unless params[:action] == "index" && params[:list].present?  %>
  </body>
	<%= javascript_include_tag 'application' %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <%= render 'shareds/map/contact' if params[:action] == 'contact'  %>

  <% if params[:controller] == 'properties' && params[:action] == 'new' ||
        params[:controller] == 'userpage/properties' && params[:action] == 'edit' %>
    <%= render 'userpage/shareds/manage_location_property_js' %>
  <% end %>

  <% if params[:controller] == 'publics' && params[:action] == 'contact' %>
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/56b328b9a49193f97179e574/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
  <% end %>

  <%= render 'shareds/analytic' %>
  <%= render 'shareds/properties/mapShowProperty' if params[:controller] == 'properties' && params[:action] == 'show' %>
  <%= render 'shareds/properties/dynamic_map_js' if params[:controller] == 'properties' && params[:action] == "index" && params[:list].present? %>
</html>
