<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <%= render 'shareds/web_setting' %>
    <%= stylesheet_link_tag 'backend', media: 'all'%>
    <%= csrf_meta_tags %>
    <script src="//load.sumome.com/" data-sumo-site-id="837b84f4d7b2a04adc818d74531e3ae5b05887b8e88befcb44b296d242997b32" async="async"></script>
  </head>
  <body>
    <%= render 'backend/shareds/header' %>
    <div class="content">
      <%= render 'backend/shareds/sidebar' %>
      <div class="mainbar">
        <%= render 'backend/shareds/breadcrumb' %>
        <div class="matter">
  	      <%= yield %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <%= render 'backend/shareds/footer' %>
  </body>
  <%= javascript_include_tag 'backend' %>
  <% if params[:controller] == 'backend/properties' ||  params[:controller] == 'backend/auction_properties' %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <%= render 'backend/shareds/manage_location_property_js' if params[:controller] == 'backend/properties' && params[:action] == 'new' ||
                                                                params[:controller] == 'backend/properties' && params[:action] == 'edit' %>
  <% end %>
</html>
