<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="//load.sumome.com/" data-sumo-site-id="837b84f4d7b2a04adc818d74531e3ae5b05887b8e88befcb44b296d242997b32" async="async"></script>
</head>
  <body class="body-blog user-profile full-page timeline" id="f-wrapper">
    <%= render 'shareds/blog_info/header_blog' %>
    <%= render 'shareds/blog_info/nav' %>
    <%= render 'shareds/blog_info/breadcrumb' if params[:controller] != 'blog_infos' || params[:action] != 'index' %>
    <%= yield %>
    <%= render 'shareds/blog_info/footer' %>
  </body>
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <% if params[:controller] == 'userpage/properties' %>
    <%= render 'userpage/shareds/manage_location_property_js' unless params[:action] == 'index' || params[:action] == 'destroy' %>
  <% end %>
  <%= render 'shareds/analytic' %>
</html>
