<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <% if params[:action] == 'show' %>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "85a5e2b6-1198-48e4-8cea-a5291ba2d1a6", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
    <script src="//load.sumome.com/" data-sumo-site-id="837b84f4d7b2a04adc818d74531e3ae5b05887b8e88befcb44b296d242997b32" async="async"></script>
  <% end %>
</head>
  <body class="user-profile full-page timeline" id="f-wrapper">
    <div id="wrapper">
      <section class="grey">
        <%= render 'shareds/nav' %>
        <%= render 'shareds/detail/cover_image' %>
        <div class="content-users-middle grey">
          <div class="container">
            <%= flash_messages %>
            <div class="row">
              <%= render 'shareds/detail/sidebar_right' %>
              <div class="col-md-8">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= render 'shareds/footer' %>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
  <%= render 'shareds/analytic' %>
</html>
