<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//load.sumome.com/" data-sumo-site-id="837b84f4d7b2a04adc818d74531e3ae5b05887b8e88befcb44b296d242997b32" async="async"></script>
</head>
	<body id="f-wrapper">
		<section class="section grey">
			<div class="container">
				<div class="col-md-6 col-md-offset-3">
          <%= devise_error_messages! %>
					<%= flash_messages %>
					<%= yield %>
				</div>
			</div>
		</section>
		<%= render 'shareds/footer' %>
	</body>
	<%= javascript_include_tag 'application' %>
	<%= render 'shareds/analytic' %>
</html>
