<!DOCTYPE html>
<html>
<head>
  <%= render 'shareds/web_setting' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="//load.sumome.com/" data-sumo-site-id="837b84f4d7b2a04adc818d74531e3ae5b05887b8e88befcb44b296d242997b32" async="async"></script>
</head>
  <body class="user-profile full-page timeline" id="f-wrapper">
    <div id="wrapper">
      <%= render 'shareds/nav' %>
      <%= render 'shareds/users/cover_image' %>
      <div class="content-users-middle">
        <div class="container">
          <%= flash_messages %>
          <div class="row">
            <div class="col-md-3">
              <%= render 'shareds/users/sidebar_left' %>
            </div>
            <div class="col-md-9">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shareds/footer' %>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <% if params[:controller] == 'userpage/properties' %>
    <%= render 'userpage/shareds/manage_location_property_js' unless params[:action] == 'index' || params[:action] == 'destroy' %>
  <% end %>
  <%= render 'shareds/analytic' %>
</html>
