<div class="row">
  <div class="col-md-12">
    <h6>Name</h6>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <h6>Price</h6>
    <%= f.text_field :price, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <h6>Duration</h6>
    <div class="row">
      <div class="col-md-8">
        <%= f.number_field :duration, class: 'form-control', required: true %>
      </div>
      <div class="col-md-4">
        *Month
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h6>Max Listing</h6>
    <%= f.number_field :max_listing, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <h6>Featured Listing</h6>
    <%= f.number_field :featured_listing, class: 'form-control', required: true %>
  </div>
  <div class="col-md-6">
    <h6>Gratis Bulan</h6>
    <%= f.number_field :gratis_bulan, class: 'form-control', placeholder: 'Default 1 Month' %>
  </div>
  <div class="col-md-3">
    <h6>Top Listing</h6>
    <%= f.check_box :top_listing %>
  </div>
  <div class="col-md-3">
    <h6>Active</h6>
    <%= f.check_box :active %>
  </div>
  <div class="col-md-12">
    <h6>Label Tags</h6>
    <% @label_types.each do |label| %>
      <% checked = f.object.label_tags.split(',').to_a.include? label[0] if f.object.label_tags %>
      <%= check_box_tag 'package[label_tags][]', label[0], checked %> <%= label[1] %>
    <% end %>
  </div>
  <div class="col-md-12">
    <h6>Description</h6>
    <%= f.text_area :description, class: 'form-control', required: true %>
  </div>
</div>
