<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
      <i class="fa fa-user"></i>
      Personal data
    </a>
  </li>
  <li role="presentation">
    <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">
      <i class="fa fa-info"></i>
      Kontak
    </a>
  </li>
  <li role="presentation">
    <a href="#address" aria-controls="address" role="tab" data-toggle="tab">
      <i class="fa fa-map-marker"></i>
      Alamat
    </a>
  </li>
  <li role="presentation">
    <a href="#meta" aria-controls="meta" role="tab" data-toggle="tab">
      <i class="fa fa-globe"></i>
      Meta SEO
    </a>
  </li>
</ul>

<%= f.fields_for :profile do |profile| %>
  <%= f.fields_for :address do |address| %>
    <%= f.fields_for :contact do |contact| %>
    	<div class="tab-content">
	      <%= render partial: 'userpage/users/form_user', locals: {f: f, profile: profile} %>
	      <%= render partial: 'userpage/users/form_address', locals: {address: address} %>
	      <%= render partial: 'userpage/users/form_contact', locals: {contact: contact} %>
        <%= render partial: 'userpage/users/form_meta', locals: {profile: profile} %>
	    </div>
    <% end %>
  <% end %>
<% end %>
