<% area_data = @areas.alfa.pluck(:name, :id) << ['others', 'others'] %>
<% if params[:node] == 'region' %>
  <%= select_tag "#{params[:node]}[area_id]", options_for_select(area_data), {prompt: 'Choice Area', class: 'form-control select2 area_select', 'data-node' => "#{params[:node]}"} %>
  <%= text_field_tag "#{params[:node]}[address_attributes][area_name]", '', class: 'form-control hide', id: 'area_name' %>
<% else %>
  <%= select_tag "#{params[:node]}[address_attributes][area_id]", options_for_select(area_data), {prompt: 'Choice Area', class: 'form-control select2 area_select'} %>
  <%= text_field_tag "#{params[:node]}[address_attributes][area_name]", '', class: 'form-control hide', id: 'area_name', placeholder: 'Please enter your apartment name or complex name' %>
<% end %>