<% if params[:node].present? %>
  <% if params[:node] == 'region' %>
    <%= select_tag "#{params[:node]}[city_id]", options_for_select(@cities.alfa.pluck(:name, :id)), {prompt: 'Choice City', class: 'form-control select2 cities_select', 'data-node' => "#{params[:node]}", required: true} %>
  <% else %>
    <%= select_tag "#{params[:node]}[address_attributes][city_id]", options_for_select(@cities.alfa.pluck(:name, :id)), {prompt: 'Choice City', class: 'form-control select2 cities_select', 'data-node' => "#{params[:node]}", required: true} %>
  <% end %>
<% else %>
	<%= select_tag :city_id, options_for_select(@cities.alfa.pluck(:name, :id)), {prompt: 'Choice City', class: 'form-control select2 cities_select', required: true} %>
<% end %>