<% if params[:node] == 'region' %>
  <%= select_tag "#{params[:node]}[subdistrict_id]", options_for_select(@sub_districts.alfa.pluck(:name, :id)), {prompt: 'Choice Sub District', class: 'form-control select2 sub_districts_select', 'data-node' => "#{params[:node]}", required: true} %>
<% else %>
  <%= select_tag "#{params[:node]}[address_attributes][subdistrict_id]", options_for_select(@sub_districts.alfa.pluck(:name, :id)), {prompt: 'Choice Sub District', class: 'form-control select2 sub_districts_select', 'data-node' => "#{params[:node]}", required: true} %>
<% end %>