<div class="col-md-12">
  <%= form_for [:userpage, resource], method: form_method, html: {class: 'form'} do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <br>
    <div class="buttons">
      <button class="btn btn-sm btn-info no-border" type="submit">
        <i class="fa fa-save"></i>
        Save
      </button>
    </div>
  <% end %>
</div>
